# üöÜTrain_timetable
ÏßÄÌïòÏ≤† ÏãúÍ∞ÑÌëú Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

### TODO
- [X] ÏÑúÏö∏Ïãú Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Í∞ÄÎä•Ìïú Ìò∏ÏÑ† Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ ] Í∞ÄÍ≥µÌïòÍ∏∞
  - [X] Í∏∞Î≥∏ Í∞ÄÍ≥µ
- [ ] Î∂ÄÏ°±Ìïú Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÌïòÍ∏∞
  - [ ] Í∞ôÏùÄ ÌòïÏãùÏúºÎ°ú Î≥ÄÌòï

### 0. import

In [221]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import set_matplotlib_formats
import koreanize_matplotlib
import folium
import urllib.request
import json
import time

### 1. ÏÑúÏö∏Ïãú Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Í∞ÄÎä•Ìïú Ìò∏ÏÑ† Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [222]:
# ÏûëÏóÖÌñàÎçò Ïó≠Î≤àÌò∏ Îç∞Ïù¥ÌÑ∞ ÏùΩÏñ¥Ïò§Í∏∞
station = pd.read_csv('result_train_station.csv')

station

,Unnamed: 0,Ïó≠ÏÇ¨Î™Ö,ÎÖ∏ÏÑ†Î™Ö,Ï£ºÏÜå,ÏúÑÎèÑ,Í≤ΩÎèÑ,Ïó≠Î≤àÌò∏,Ïô∏Î∂ÄÏΩîÎìú
0,0,Í≥ÑÏñë,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Îã§ÎÇ®Î°ú 24,37.571449,126.735780,3110,I110
1,1,Í∑§ÌòÑ,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 1136,37.566379,126.742654,3111,I111
2,2,Î∞ïÏ¥å,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 992,37.553703,126.745077,3112,I112
3,3,ÏûÑÌïô,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 875,37.545059,126.738665,3113,I113
4,4,Í≥ÑÏÇ∞,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Í≤ΩÎ™ÖÎåÄÎ°ú 1089,37.543238,126.728128,3114,I114
...,...,...,...,...,...,...,...,...
764,764,Ïò•Ïàò,Í≤ΩÏùòÏ§ëÏïôÏÑ†,ÏÑúÏö∏Ïãú ÏÑ±ÎèôÍµ¨ ÎèôÌò∏Î°ú ÏßÄÌïò21(Ïò•ÏàòÎèô),37.540446,127.018672,NaN,NaN
765,765,ÏùëÎ¥â,Í≤ΩÏùòÏ§ëÏïôÏÑ†,ÏÑúÏö∏Ïãú ÏÑ±ÎèôÍµ¨ Í≥†ÏÇ∞ÏûêÎ°ú 123(ÏùëÎ¥âÎèô),37.549946,127.034538,NaN,NaN
766,766,ÍπåÏπòÏÇ∞,2Ìò∏ÏÑ†,ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÏÑúÍµ¨ Í∞ïÏÑúÎ°ú 54,37.531394,126.846987,0200,NaN
767,767,ÎèÑÎùºÏÇ∞,Í≤ΩÏùòÏ§ëÏïôÏÑ†,Í≤ΩÍ∏∞ÎèÑ ÌååÏ£ºÏãú Ïû•Îã®Î©¥ Ìù¨ÎßùÎ°ú 307,37.898307,126.709193,NaN,NaN
768,768,Í¥ëÏö¥ÎåÄ,Í≤ΩÏ∂òÏÑ†,ÏÑúÏö∏ÌäπÎ≥ÑÏãú ÎÖ∏ÏõêÍµ¨ ÏÑùÍ≥ÑÎ°ú 98-2,37.623986,127.061956,1305,NaN

In [223]:
# key Í∞ÄÏ†∏Ïò§Í∏∞
from dotenv import load_dotenv
import os

load_dotenv()

url = os.environ.get('train_seoul_timetable_url')

In [224]:
# Ìï®Ïàò Ï†ïÏùò
# Ìò∏ÏÑ†Î™ÖÏùÑ ÏûÖÎ†•Î∞õÏïÑ Ìï¥ÎãπÌïòÎäî 
def getTimetableByRouteName(station, err) :
    result = pd.DataFrame({
        'LINE_NUM': [],
        'FR_CODE': [],
        'STATION_CD': [],
        'STATION_NM': [],
        'TRAIN_NO': [],
        'ARRIVETIME': [],
        'LEFTTIME': [],
        'ORIGINSTATION': [],
        'DESTSTATION': [],
        'SUBWAYSNAME': [],
        'SUBWAYENAME': [],
        'WEEK_TAG': [], 
        'INOUT_TAG': [], 
        'FL_FLAG': [], 
        'DESTSTATION2': [], 
        'EXPRESS_YN': [], 
        'BRANCH_LINE': []
    })
    
    codes = list(station["Ïó≠Î≤àÌò∏"])
    
    for code in codes:
        for week in range(1, 4): # ÏöîÏùº
            for inout in range(1, 3): # ÏÉÅ/ÌïòÌñâ
                
                response = urllib.request.urlopen(url.format(code, week, inout))
                json_str = response.read().decode("utf-8")
                json_obj = json.loads(json_str)
                
                if 'RESULT' in json_obj and json_obj['RESULT']['CODE'] == 'INFO-000':
                    # Ï†ïÏÉÅ
                    temp = pd.json_normalize(json_obj['row'])
                    result = pd.concat([result, temp], axis=0)
                elif 'SearchSTNTimeTableByIDService' in json_obj and json_obj['SearchSTNTimeTableByIDService']['RESULT']['CODE'] == 'INFO-000':
                    # Ï†ïÏÉÅ
                    temp = pd.json_normalize(
                        json_obj['SearchSTNTimeTableByIDService']['row'])
                    result = pd.concat([result, temp], axis=0)
                else :
                    # ÏóÜÎäî Í≤ΩÏö∞
                    err.append(
                        {"code": code, "err": json_obj['RESULT']['CODE']})
                
    return result

In [225]:
# ÎÖ∏ÏÑ† Í∞úÏàò ÌôïÏù∏
routes = list(set(station["ÎÖ∏ÏÑ†Î™Ö"]))
cntRoutes = len(station["ÎÖ∏ÏÑ†Î™Ö"].value_counts())

errs = {}
results = {}

In [226]:
# # API Ìò∏Ï∂ú
# for route in routes:    
#     err = []
    
#     results[route] = getTimetableByRouteName(station[station['ÎÖ∏ÏÑ†Î™Ö'] == route], err)
#     errs[route] = err
    
#     time.sleep(10)

# # ÏãúÍ∞ÑÌëú ÏóëÏÖÄÎ°ú Ï†ÄÏû• (Î∞òÎìúÏãú ÌïÑÏöî, Ìò∏Ï∂ú ÏãúÍ∞Ñ Ïò§Îûò Í±∏Î¶¨ÎØÄÎ°ú)
# now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

# for route in now_routes:
#     results[route].to_csv("timetable/" + route + ".csv")

In [227]:
# # ÏóêÎü¨ Ïó¨Î∂Ä
# errs

In [228]:
# routes = sorted(routes)

# for route in routes:
#     station_cnt = len(set(station['Ïó≠ÏÇ¨Î™Ö'][station['ÎÖ∏ÏÑ†Î™Ö'] == route]))
#     err_cnt = len(errs[route])
#     if err_cnt != 0:
#         print(route, "Ïó≠ Í∞úÏàò :", station_cnt)
#         print(route, "Ïò§Î•ò Í∞úÏàò :", err_cnt, ", ÎπÑÍµêÍ∞í :", station_cnt * 6) # Ìïú Ïó≠Ïóê ÎåÄÌï¥ API 6Î≤à Ìò∏Ï∂úÌïòÎØÄÎ°ú
#         print()
    
# # ÌôïÏù∏ Í≤∞Í≥º, 6Ìò∏ÏÑ†ÏùÑ Ï†úÏô∏ÌïòÍ≥†Îäî Îã§ APIÍ∞Ä Ï†úÍ≥µÌïòÏßÄ ÏïäÎäî Ìò∏ÏÑ†ÏûÑ
# # 6Ìò∏ÏÑ† Î™áÎ™á Ïó≠Îì§Ïóê ÎåÄÌï¥ÏÑúÎßå API Ìò∏Ï∂úÌïòÎ©¥ Îê®

In [229]:
# for obj in errs["6Ìò∏ÏÑ†"]:
#     print(station['Ïó≠ÏÇ¨Î™Ö'][station['Ïó≠Î≤àÌò∏'] == obj['code']])

# # ÌôïÏù∏ Í≤∞Í≥º, Ìï¥Îãπ Î∞©Ìñ•ÏúºÎ°úÎäî ÏõêÎûò Ïó¥Ï∞®Í∞Ä ÏóÜÎäî Ïó≠ -> ÏùëÏïîÎ£®ÌîÑÏÑ†
# # Í∑∏ÎûòÎèÑ, Ïó≠ ÎèÑÏ∞© ÏãúÍ∞ÑÏùÑ ÏïåÍ∏∞ ÏúÑÌï¥ ÏãúÍ∞ÑÌëú Ï†ïÎ≥¥Í∞Ä ÌïÑÏöî

In [230]:
# ÏóëÏÖÄ ÌååÏùºÏóêÏÑú Î∂àÎü¨Ïò§Í∏∞
now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

for route in now_routes:
    results[route] = pd.read_csv("timetable/" + route + ".csv")

C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1739202291.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/" + route + ".csv")
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1739202291.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/" + route + ".csv")
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1739202291.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/" + route + ".csv")

In [231]:
# ÌôïÏù∏ Î∞è Îç∞Ïù¥ÌÑ∞ ÌòïÏãù ÏÇ¥Ìé¥Î≥¥Í∏∞ ÏúÑÌïú ÌååÏùº Ï†ÄÏû•
results["1Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1940,18:54:00,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
1,1,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K630,11:48:00,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,G,NaN
2,2,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1906,09:40:30,00:00:00,1408,158,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
3,3,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1908,10:16:30,00:00:00,1408,158,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
4,4,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1910,11:11:30,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81814,104,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K107,15:05:30,00:00:00,1916,1812,ÏÜåÏöîÏÇ∞,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81815,105,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K105,14:56:30,00:00:00,1909,1812,ÏñëÏ£º,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81816,106,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K103,14:49:30,00:00:00,1701,1812,Íµ¨Î°ú,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81817,107,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K101,14:42:30,00:00:00,1916,1812,ÏÜåÏöîÏÇ∞,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81818,108,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K1,05:46:30,00:00:00,1701,1812,Íµ¨Î°ú,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN

In [232]:
results["1Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81819 entries, 0 to 81818
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     81819 non-null  int64
 1   LINE_NUM       81819 non-null  object
 2   FR_CODE        81819 non-null  object
 3   STATION_CD     81819 non-null  int64
 4   STATION_NM     81819 non-null  object
 5   TRAIN_NO       81819 non-null  object
 6   ARRIVETIME     81819 non-null  object
 7   LEFTTIME       81819 non-null  object
 8   ORIGINSTATION  81819 non-null  int64
 9   DESTSTATION    81819 non-null  int64
 10  SUBWAYSNAME    81819 non-null  object
 11  SUBWAYENAME    81819 non-null  object
 12  WEEK_TAG       81819 non-null  int64
 13  INOUT_TAG      81819 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     81819 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(6), object(9)
memory usage: 11.2+ MB

In [233]:
results["2Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2004,05:39:00,05:39:30,239,211,ÌôçÎåÄÏûÖÍµ¨,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
1,1,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2006,05:50:30,05:51:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
2,2,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2008,05:57:30,05:58:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
3,3,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2010,06:04:00,06:04:30,228,211,ÏÑúÏö∏ÎåÄÏûÖÍµ¨,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
4,4,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2012,06:10:30,06:11:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61864,101,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5705,00:00:00,23:02:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61865,102,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5707,00:00:00,23:17:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61866,103,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5711,00:00:00,23:33:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61867,104,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5713,00:00:00,23:47:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61868,105,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5907,00:00:00,24:01:00,200,247,ÍπåÏπòÏÇ∞,ÎèÑÎ¶ºÏ≤ú,3,2,NaN,NaN,G,NaN

In [234]:
results["2Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61869 entries, 0 to 61868
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     61869 non-null  int64
 1   LINE_NUM       61869 non-null  object
 2   FR_CODE        61869 non-null  object
 3   STATION_CD     61869 non-null  int64
 4   STATION_NM     61869 non-null  object
 5   TRAIN_NO       61869 non-null  int64
 6   ARRIVETIME     61869 non-null  object
 7   LEFTTIME       61869 non-null  object
 8   ORIGINSTATION  61869 non-null  int64
 9   DESTSTATION    61869 non-null  int64
 10  SUBWAYSNAME    61869 non-null  object
 11  SUBWAYENAME    61869 non-null  object
 12  WEEK_TAG       61869 non-null  int64
 13  INOUT_TAG      61869 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     61869 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 8.5+ MB

In [235]:
results["3Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3012,05:59:00,05:59:30,323,1958,ÏïΩÏàò,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
1,1,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3016,06:16:30,06:17:00,334,1958,ÎèÑÍ≥°,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
2,2,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3022,06:32:00,06:32:30,339,1958,ÏàòÏÑú,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
3,3,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3024K,06:38:30,06:39:00,342,1958,Ïò§Í∏à,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
4,4,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3026,06:45:30,06:46:00,342,1958,Ïò§Í∏à,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42768,103,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3353,00:00:00,22:34:00,1958,339,ÎåÄÌôî,ÏàòÏÑú,3,2,NaN,NaN,G,NaN
42769,104,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3355,00:00:00,22:44:00,1958,334,ÎåÄÌôî,ÎèÑÍ≥°,3,2,NaN,NaN,G,NaN
42770,105,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3357,00:00:00,23:03:00,1958,323,ÎåÄÌôî,ÏïΩÏàò,3,2,NaN,NaN,G,NaN
42771,106,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3359,00:00:00,23:20:00,1958,310,ÎåÄÌôî,Íµ¨ÌååÎ∞ú,3,2,NaN,NaN,G,NaN
42772,107,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3361,00:00:00,23:36:00,1958,1950,ÎåÄÌôî,ÏÇºÏÜ°,3,2,NaN,NaN,G,NaN

In [236]:
results["3Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42773 entries, 0 to 42772
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     42773 non-null  int64
 1   LINE_NUM       42773 non-null  object
 2   FR_CODE        42773 non-null  int64
 3   STATION_CD     42773 non-null  int64
 4   STATION_NM     42773 non-null  object
 5   TRAIN_NO       42773 non-null  object
 6   ARRIVETIME     42773 non-null  object
 7   LEFTTIME       42773 non-null  object
 8   ORIGINSTATION  42773 non-null  int64
 9   DESTSTATION    42773 non-null  int64
 10  SUBWAYSNAME    42773 non-null  object
 11  SUBWAYENAME    42773 non-null  object
 12  WEEK_TAG       42773 non-null  int64
 13  INOUT_TAG      42773 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     42773 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 5.9+ MB

In [237]:
results["4Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4014,05:37:00,05:37:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
1,1,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4020,05:59:00,05:59:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
2,2,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4002,06:15:00,06:15:30,426,405,ÏÑúÏö∏Ïó≠,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
3,3,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4004,06:31:00,06:31:30,434,405,ÎÇ®ÌÉúÎ†π,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
4,4,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4032,06:48:00,06:48:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47842,106,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4685,23:11:00,23:11:30,409,1762,ÎãπÍ≥†Í∞ú,Ïò§Ïù¥ÎèÑ,3,2,NaN,NaN,G,NaN
47843,107,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4687,23:27:00,23:27:30,409,1762,ÎãπÍ≥†Í∞ú,Ïò§Ïù¥ÎèÑ,3,2,NaN,NaN,G,NaN
47844,108,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4329,23:40:00,23:40:30,409,1759,ÎãπÍ≥†Í∞ú,ÏïàÏÇ∞,3,2,NaN,NaN,G,NaN
47845,109,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4331,24:03:00,24:03:30,409,1759,ÎãπÍ≥†Í∞ú,ÏïàÏÇ∞,3,2,NaN,NaN,G,NaN
47846,110,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4333,24:25:00,24:25:30,409,1751,ÎãπÍ≥†Í∞ú,ÏÇ∞Î≥∏,3,2,NaN,NaN,G,NaN

In [238]:
results["4Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47847 entries, 0 to 47846
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     47847 non-null  int64
 1   LINE_NUM       47847 non-null  object
 2   FR_CODE        47847 non-null  int64
 3   STATION_CD     47847 non-null  int64
 4   STATION_NM     47847 non-null  object
 5   TRAIN_NO       47847 non-null  object
 6   ARRIVETIME     47847 non-null  object
 7   LEFTTIME       47847 non-null  object
 8   ORIGINSTATION  47847 non-null  int64
 9   DESTSTATION    47847 non-null  int64
 10  SUBWAYSNAME    47847 non-null  object
 11  SUBWAYENAME    47847 non-null  object
 12  WEEK_TAG       47847 non-null  int64
 13  INOUT_TAG      47847 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     47847 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 6.6+ MB

In [239]:
results["5Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5620,17:44:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
1,1,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5618,17:31:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
2,2,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5616,17:18:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
3,3,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5614,17:05:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
4,4,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5612,16:52:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49957,81,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5533,09:21:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49958,82,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5531,09:08:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49959,83,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5529,08:55:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49960,84,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5527,08:42:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49961,85,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5525,08:29:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN

In [240]:
results["5Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49962 entries, 0 to 49961
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49962 non-null  int64
 1   LINE_NUM       49962 non-null  object
 2   FR_CODE        49962 non-null  object
 3   STATION_CD     49962 non-null  int64
 4   STATION_NM     49962 non-null  object
 5   TRAIN_NO       49962 non-null  int64
 6   ARRIVETIME     49962 non-null  object
 7   LEFTTIME       49962 non-null  object
 8   ORIGINSTATION  49962 non-null  int64
 9   DESTSTATION    49962 non-null  int64
 10  SUBWAYSNAME    49962 non-null  object
 11  SUBWAYENAME    49962 non-null  object
 12  WEEK_TAG       49962 non-null  int64
 13  INOUT_TAG      49962 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     49962 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 6.9+ MB

In [241]:
results["6Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6316,23:29:30,00:00:00,2649,2611,Ïã†ÎÇ¥,ÏùëÏïî,1,1,NaN,NaN,G,NaN
1,1,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6314,23:20:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
2,2,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6312,23:10:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
3,3,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6310,23:01:00,00:00:00,2649,2611,Ïã†ÎÇ¥,ÏùëÏïî,1,1,NaN,NaN,G,NaN
4,4,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6308,22:52:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30496,41,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6011,06:52:00,00:00:00,2611,2649,ÏùëÏïî,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30497,42,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6007,06:30:20,00:00:00,2617,2649,ÏÉàÏ†à,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30498,43,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6005,06:16:00,00:00:00,2627,2649,Í≥µÎçï,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30499,44,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6003,06:03:10,00:00:00,2632,2649,ÌïúÍ∞ïÏßÑ,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30500,45,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6001,05:49:00,00:00:00,2640,2649,ÏïàÏïî,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN

In [242]:
results["6Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30501 entries, 0 to 30500
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     30501 non-null  int64
 1   LINE_NUM       30501 non-null  object
 2   FR_CODE        30501 non-null  int64
 3   STATION_CD     30501 non-null  int64
 4   STATION_NM     30501 non-null  object
 5   TRAIN_NO       30501 non-null  int64
 6   ARRIVETIME     30501 non-null  object
 7   LEFTTIME       30501 non-null  object
 8   ORIGINSTATION  30501 non-null  int64
 9   DESTSTATION    30501 non-null  int64
 10  SUBWAYSNAME    30501 non-null  object
 11  SUBWAYENAME    30501 non-null  object
 12  WEEK_TAG       30501 non-null  int64
 13  INOUT_TAG      30501 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     30501 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 4.2+ MB

In [243]:
results["7Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7016,05:48:00,05:48:30,3763,2711,ÏÑùÎÇ®,Ïû•Ïïî,1,1,NaN,NaN,G,NaN
1,1,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7020,06:03:00,06:03:30,3763,2711,ÏÑùÎÇ®,Ïû•Ïïî,1,1,NaN,NaN,G,NaN
2,2,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7024,06:16:00,06:16:30,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
3,3,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7028,06:29:00,06:29:30,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
4,4,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7032,06:40:30,06:41:00,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49436,157,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7301,22:46:30,22:47:00,2711,3763,Ïû•Ïïî,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49437,158,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7305,23:00:00,23:00:30,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49438,159,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7309,23:15:30,23:16:00,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49439,160,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7313,23:31:30,23:32:00,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49440,161,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7317,23:46:30,23:47:00,2711,3763,Ïû•Ïïî,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN

In [244]:
results["7Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49441 entries, 0 to 49440
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49441 non-null  int64
 1   LINE_NUM       49441 non-null  object
 2   FR_CODE        49441 non-null  int64
 3   STATION_CD     49441 non-null  int64
 4   STATION_NM     49441 non-null  object
 5   TRAIN_NO       49441 non-null  int64
 6   ARRIVETIME     49441 non-null  object
 7   LEFTTIME       49441 non-null  object
 8   ORIGINSTATION  49441 non-null  int64
 9   DESTSTATION    49441 non-null  int64
 10  SUBWAYSNAME    49441 non-null  object
 11  SUBWAYENAME    49441 non-null  object
 12  WEEK_TAG       49441 non-null  int64
 13  INOUT_TAG      49441 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     49441 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 6.8+ MB

In [245]:
results["8Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8200,18:18:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
1,1,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8198,18:13:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
2,2,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8196,18:08:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
3,3,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8194,18:03:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
4,4,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8192,17:57:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14192,120,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8051,09:39:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14193,121,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8049,09:30:30,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14194,122,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8047,09:22:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14195,123,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8045,09:13:30,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14196,124,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8043,09:05:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN

In [246]:
results["8Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14197 entries, 0 to 14196
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     14197 non-null  int64
 1   LINE_NUM       14197 non-null  object
 2   FR_CODE        14197 non-null  int64
 3   STATION_CD     14197 non-null  int64
 4   STATION_NM     14197 non-null  object
 5   TRAIN_NO       14197 non-null  int64
 6   ARRIVETIME     14197 non-null  object
 7   LEFTTIME       14197 non-null  object
 8   ORIGINSTATION  14197 non-null  int64
 9   DESTSTATION    14197 non-null  int64
 10  SUBWAYSNAME    14197 non-null  object
 11  SUBWAYENAME    14197 non-null  object
 12  WEEK_TAG       14197 non-null  int64
 13  INOUT_TAG      14197 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     14197 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 1.9+ MB

In [247]:
results["9Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9014,00:00:00,05:30:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
1,1,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9016,00:00:00,05:42:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
2,2,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9018,00:00:00,05:54:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
3,3,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9020,00:00:00,06:06:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
4,4,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9022,00:00:00,06:14:15,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32889,91,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9191,23:08:50,23:09:15,4138,4101,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Í∞úÌôî,3,2,NaN,NaN,G,NaN
32890,92,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9193,23:23:50,23:24:15,4138,4110,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,ÏóºÏ∞Ω,3,2,NaN,NaN,G,NaN
32891,93,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9195,23:34:45,23:35:10,4138,4115,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Ïó¨ÏùòÎèÑ,3,2,NaN,NaN,G,NaN
32892,94,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9197,23:48:45,23:49:10,4138,4120,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,ÎèôÏûë,3,2,NaN,NaN,G,NaN
32893,95,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9199,24:01:45,24:02:10,4138,4125,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Ïã†ÎÖºÌòÑ,3,2,NaN,NaN,G,NaN

In [248]:
results["9Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32894 entries, 0 to 32893
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     32894 non-null  int64
 1   LINE_NUM       32894 non-null  object
 2   FR_CODE        32894 non-null  int64
 3   STATION_CD     32894 non-null  int64
 4   STATION_NM     32894 non-null  object
 5   TRAIN_NO       32894 non-null  object
 6   ARRIVETIME     32894 non-null  object
 7   LEFTTIME       32894 non-null  object
 8   ORIGINSTATION  32894 non-null  int64
 9   DESTSTATION    32894 non-null  int64
 10  SUBWAYSNAME    32894 non-null  object
 11  SUBWAYENAME    32894 non-null  object
 12  WEEK_TAG       32894 non-null  int64
 13  INOUT_TAG      32894 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     32894 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 4.5+ MB

### 2. Í∞ÄÍ≥µÌïòÍ∏∞

In [249]:
for route in now_routes:
    # Ïª¨ÎüºÎ™Ö Î≥ÄÍ≤Ω
    results[route].rename(columns={
        "LINE_NUM": "ÎÖ∏ÏÑ†Î™Ö", 
        "FR_CODE": "Ïô∏Î∂ÄÏΩîÎìú", 
        "STATION_CD": "Ïó≠Î≤àÌò∏",
        "STATION_NM": "Ïó≠ÏÇ¨Î™Ö",
        "TRAIN_NO": "Ïó¥Ï∞®Î≤àÌò∏", 
        "ARRIVETIME": "ÎèÑÏ∞©ÏãúÍ∞Ñ", 
        "LEFTTIME": "Ï∂úÎ∞úÏãúÍ∞Ñ", 
        "ORIGINSTATION": "Ï∂úÎ∞úÏó≠Î≤àÌò∏",
        "DESTSTATION": "ÎèÑÏ∞©Ïó≠Î≤àÌò∏",
        "SUBWAYSNAME": "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö",
        "SUBWAYENAME": "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö",
        "WEEK_TAG": "ÏöîÏùº",
        "INOUT_TAG": "Î∞©Ìñ•",
        "EXPRESS_YN": "Í∏âÌñâÏÑ†"
    }, inplace=True)
    
    # ÎÖ∏ÏÑ†Î™Ö ÏïûÏùò 0 Ï†úÍ±∞
    results[route]['ÎÖ∏ÏÑ†Î™Ö'] = results[route]['ÎÖ∏ÏÑ†Î™Ö'].str.replace(
        pat=r'^0', repl=r'', regex=True)
    
    # ÌïÑÏöîÏóÜÎäî Ïª¨Îüº ÏÇ≠Ï†ú
    results[route].drop(columns=["Unnamed: 0", "FL_FLAG",
                        "DESTSTATION2", "BRANCH_LINE"], inplace=True)
    
    # Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌÜµÏùº
    results[route] = results[route].astype({'Ïô∏Î∂ÄÏΩîÎìú': 'str', 'Ïó¥Ï∞®Î≤àÌò∏': 'str'})
    
    # ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞
    # 1. ÎèÑÏ∞©ÏãúÍ∞Ñ ÏóÜÏù¥ Ï∂úÎ∞úÏãúÍ∞ÑÎßå ÏûàÎäî Í≤ΩÏö∞, Ï∂úÎ∞úÏãúÍ∞Ñ = ÎèÑÏ∞©ÏãúÍ∞Ñ
    results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
                           (results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"] != "00:00:00")] = results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
                                                                                            (results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"] != "00:00:00")]
    # 2. Ï∂úÎ∞úÏãúÍ∞Ñ ÏÇ≠Ï†ú
    results[route].drop(columns=["Ï∂úÎ∞úÏãúÍ∞Ñ"], inplace=True)
    # 3. Ï¥àÎã®ÏúÑ Î≤ÑÎ¶º
    results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] = results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"].str.slice(start=0, stop=5)

C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_17884\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &

In [250]:
results["5Ìò∏ÏÑ†"]

       ÎÖ∏ÏÑ†Î™Ö  Ïô∏Î∂ÄÏΩîÎìú   Ïó≠Î≤àÌò∏ Ïó≠ÏÇ¨Î™Ö  Ïó¥Ï∞®Î≤àÌò∏   ÎèÑÏ∞©ÏãúÍ∞Ñ  Ï∂úÎ∞úÏó≠Î≤àÌò∏  ÎèÑÏ∞©Ïó≠Î≤àÌò∏ Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö  ÏöîÏùº  Î∞©Ìñ• Í∏âÌñâÏÑ†
0      5Ìò∏ÏÑ†   510  2511  Î∞©Ìôî  5620  17:44   2561   2511    ÎßàÏ≤ú    Î∞©Ìôî   1   1   G
1      5Ìò∏ÏÑ†   510  2511  Î∞©Ìôî  5618  17:31   2561   2511    ÎßàÏ≤ú    Î∞©Ìôî   1   1   G
2      5Ìò∏ÏÑ†   510  2511  Î∞©Ìôî  5616  17:18   2561   2511    ÎßàÏ≤ú    Î∞©Ìôî   1   1   G
3      5Ìò∏ÏÑ†   510  2511  Î∞©Ìôî  5614  17:05   2561   2511    ÎßàÏ≤ú    Î∞©Ìôî   1   1   G
4      5Ìò∏ÏÑ†   510  2511  Î∞©Ìôî  5612  16:52   2561   2511    ÎßàÏ≤ú    Î∞©Ìôî   1   1   G
...    ...   ...   ...  ..   ...    ...    ...    ...   ...   ...  ..  ..  ..
49957  5Ìò∏ÏÑ†  P555  2561  ÎßàÏ≤ú  5533  09:21   2511   2561    Î∞©Ìôî    ÎßàÏ≤ú   3   2   G
49958  5Ìò∏ÏÑ†  P555  2561  ÎßàÏ≤ú  5531  09:08   2511   2561    Î∞©Ìôî    ÎßàÏ≤ú   3   2   G
49959  5Ìò∏ÏÑ†  P555  2561  ÎßàÏ≤ú  5529  08:55   2511   2561    Î∞©Ìôî    ÎßàÏ≤ú   3   2   G
49960  5Ìò∏ÏÑ†  P555  2561  ÎßàÏ≤ú  5527  08:42   2511   2561    Î∞©Ìôî    ÎßàÏ≤ú   3   2   G
49961  5Ìò∏ÏÑ†  P555  2561  ÎßàÏ≤ú  5525  08:29   2511   2561    Î∞©Ìôî    ÎßàÏ≤ú   3   2   G

[49962 rows x 13 columns]

In [253]:
# ÌÖåÏù¥Î∏î Ï†ÄÏû•
now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

for route in now_routes:
    results[route].to_csv("timetable/result/" + route + ".csv")