# üöÜTrain_timetable
ÏßÄÌïòÏ≤† ÏãúÍ∞ÑÌëú Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

### TODO
- [X] ÏÑúÏö∏Ïãú Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Í∞ÄÎä•Ìïú Ìò∏ÏÑ† Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [X] Í∞ÄÍ≥µÌïòÍ∏∞
  - [X] Í∏∞Î≥∏ Í∞ÄÍ≥µ
- [X] Î∂ÄÏ°±Ìïú ÏãúÍ∞ÑÌëú Ï±ÑÏö∞Í∏∞
  - [X] Î∂ÄÏ°±Ìïú Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÌïòÍ∏∞
  - [X] ÏÉòÌîå ÏΩîÎìú ÏûëÏÑ±
  - [X] Í∞ôÏùÄ ÌòïÏãùÏúºÎ°ú Î≥ÄÌòï
  - [X] Í∏âÌñâ Ï†ïÎ≥¥ Ï∂îÍ∞Ä
  - [X] Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï, Í≤ΩÏ∂òÏÑ†_Í¥ëÏö¥ÎåÄ ÏãúÍ∞ÑÌëú ÌÜµÌï© (in excel)
  - [X] ÎÇòÎ®∏ÏßÄ Î∂ÄÏ°± ÏãúÍ∞ÑÌëú ÌÅ¨Î°§ÎßÅÏúºÎ°ú ÏÉùÏÑ± Î∞è Ï∂îÍ∞Ä
    - [X] Ïã†Î∂ÑÎãπÏÑ†
    - [X] Ïã†Î¶ºÏÑ†
    - [X] Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†
    - [X] Í≤∞Ï∏°Í∞í ÏàòÎèô Ï≤òÎ¶¨
    - [X] Ïã†Î∂ÑÎãπÏÑ† Ï∂úÎ∞ú Î∞è ÎèÑÏ∞©Ïó≠ Ï†ïÎ≥¥ ÏàòÎèô ÎßûÏ∂îÍ∏∞ (in excel)
    - [X] ÎèÑÏ∞©Ïó≠ ÏãúÍ∞ÑÌëú ÏàòÎèô Íµ¨Ï∂ï (in excel)
- [X] ÏãúÍ∞ÑÌëú ÌòïÌÉú Î≥ÄÍ≤Ω  
  - [X] Ïó¥Ï∞®Î≤àÌò∏ ÏûàÎäî ÏãúÍ∞ÑÌëú
  - [X] Ïó¥Ï∞®Î≤àÌò∏ ÏóÜÎäî ÏãúÍ∞ÑÌëú 
    - [X] Ïó¥Ï∞®Î≤àÌò∏ ÏàòÎèô Ï∂îÍ∞Ä (in excel)
    - [X] Ìï®Ïàò Ï†ÅÏö©
  - [X] Í≥µÌï≠Ï≤†ÎèÑÏÑ†
- [X] Ïó≠Î≤àÌò∏Î°ú Î≥ÄÍ≤Ω
  - [X] Ïó≠ÏÇ¨Î™Ö ÌÜµÏùº
  - [X] Ïó≠Î≤àÌò∏Î°ú Ïª¨Îüº Î≥ÄÍ≤Ω
- [X] ÏÑ∏Î∂Ä ÏÇ¨Ìï≠ Î≥ÄÍ≤Ω
  - [X] ÎèÑÏ∞©ÏãúÍ∞Ñ ÌòïÏãù Î≥ÄÍ≤Ω
  - [X] ÌïÑÏöî ÏóÜÎäî Ïª¨Îüº Ï†úÍ±∞
  - [X] Ïù∏ÏΩîÎî© Î≥ÄÍ≤Ω
  - [X] Ïó≠ ÏàúÏÑú ÎßûÏ∂îÍ∏∞
  - [X] Ï†ïÎ†¨ ÎßûÏ∂îÍ∏∞
  - [X] 9Ïãú Ïù¥Ï†Ñ Ï∞® ÏóÜÏï†Í∏∞ 
  - [X] resultÏóê ÎåÄÌï¥ÏÑúÎèÑ Ï†ÑÎ∂Ä ÏàòÌñâ
- [X] result ÏãúÍ∞ÑÌëú Ï†ÑÎ∂Ä ÌÜµÌï© ÌõÑ Ï†ÄÏû•

### 0. import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import set_matplotlib_formats
import koreanize_matplotlib
import folium
import urllib.request
import json
import time

### 1. ÏÑúÏö∏Ïãú Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Í∞ÄÎä•Ìïú Ìò∏ÏÑ† Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [182]:
# ÏûëÏóÖÌñàÎçò Ïó≠Î≤àÌò∏ Îç∞Ïù¥ÌÑ∞ ÏùΩÏñ¥Ïò§Í∏∞
station = pd.read_csv('result_train_station.csv')

station

,Unnamed: 0,Ïó≠ÏÇ¨Î™Ö,ÎÖ∏ÏÑ†Î™Ö,Ï£ºÏÜå,ÏúÑÎèÑ,Í≤ΩÎèÑ,Ïó≠Î≤àÌò∏,Ïô∏Î∂ÄÏΩîÎìú
0,0,Í≥ÑÏñë,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Îã§ÎÇ®Î°ú 24,37.571449,126.735780,3110,I110
1,1,Í∑§ÌòÑ,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 1136,37.566379,126.742654,3111,I111
2,2,Î∞ïÏ¥å,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 992,37.553703,126.745077,3112,I112
3,3,ÏûÑÌïô,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Ïû•Ï†úÎ°ú 875,37.545059,126.738665,3113,I113
4,4,Í≥ÑÏÇ∞,Ïù∏Ï≤ú1Ìò∏ÏÑ†,Ïù∏Ï≤úÍ¥ëÏó≠Ïãú Í≥ÑÏñëÍµ¨ Í≤ΩÎ™ÖÎåÄÎ°ú 1089,37.543238,126.728128,3114,I114
...,...,...,...,...,...,...,...,...
764,764,Ïò•Ïàò,Í≤ΩÏùòÏ§ëÏïôÏÑ†,ÏÑúÏö∏Ïãú ÏÑ±ÎèôÍµ¨ ÎèôÌò∏Î°ú ÏßÄÌïò21(Ïò•ÏàòÎèô),37.540446,127.018672,NaN,NaN
765,765,ÏùëÎ¥â,Í≤ΩÏùòÏ§ëÏïôÏÑ†,ÏÑúÏö∏Ïãú ÏÑ±ÎèôÍµ¨ Í≥†ÏÇ∞ÏûêÎ°ú 123(ÏùëÎ¥âÎèô),37.549946,127.034538,NaN,NaN
766,766,ÍπåÏπòÏÇ∞,2Ìò∏ÏÑ†,ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÏÑúÍµ¨ Í∞ïÏÑúÎ°ú 54,37.531394,126.846987,0200,NaN
767,767,ÎèÑÎùºÏÇ∞,Í≤ΩÏùòÏ§ëÏïôÏÑ†,Í≤ΩÍ∏∞ÎèÑ ÌååÏ£ºÏãú Ïû•Îã®Î©¥ Ìù¨ÎßùÎ°ú 307,37.898307,126.709193,NaN,NaN
768,768,Í¥ëÏö¥ÎåÄ,Í≤ΩÏ∂òÏÑ†,ÏÑúÏö∏ÌäπÎ≥ÑÏãú ÎÖ∏ÏõêÍµ¨ ÏÑùÍ≥ÑÎ°ú 98-2,37.623986,127.061956,1305,NaN

In [183]:
# key Í∞ÄÏ†∏Ïò§Í∏∞
from dotenv import load_dotenv
import os

load_dotenv()

url = os.environ.get('train_seoul_timetable_url')

In [184]:
# Ìï®Ïàò Ï†ïÏùò
# Ìò∏ÏÑ†Î™ÖÏùÑ ÏûÖÎ†•Î∞õÏïÑ Ìï¥ÎãπÌïòÎäî ÏãúÍ∞ÑÌëú Ìò∏Ï∂úÌï¥Ïò¥
def getTimetableByRouteName(station, err) :
    result = pd.DataFrame({
        'LINE_NUM': [],
        'FR_CODE': [],
        'STATION_CD': [],
        'STATION_NM': [],
        'TRAIN_NO': [],
        'ARRIVETIME': [],
        'LEFTTIME': [],
        'ORIGINSTATION': [],
        'DESTSTATION': [],
        'SUBWAYSNAME': [],
        'SUBWAYENAME': [],
        'WEEK_TAG': [], 
        'INOUT_TAG': [], 
        'FL_FLAG': [], 
        'DESTSTATION2': [], 
        'EXPRESS_YN': [], 
        'BRANCH_LINE': []
    })
    
    codes = list(station["Ïó≠Î≤àÌò∏"])
    
    for code in codes:
        for week in range(1, 4): # ÏöîÏùº
            for inout in range(1, 3): # ÏÉÅ/ÌïòÌñâ
                
                response = urllib.request.urlopen(url.format(code, week, inout))
                json_str = response.read().decode("utf-8")
                json_obj = json.loads(json_str)
                
                if 'RESULT' in json_obj and json_obj['RESULT']['CODE'] == 'INFO-000':
                    # Ï†ïÏÉÅ
                    temp = pd.json_normalize(json_obj['row'])
                    result = pd.concat([result, temp], axis=0)
                elif 'SearchSTNTimeTableByIDService' in json_obj and json_obj['SearchSTNTimeTableByIDService']['RESULT']['CODE'] == 'INFO-000':
                    # Ï†ïÏÉÅ
                    temp = pd.json_normalize(
                        json_obj['SearchSTNTimeTableByIDService']['row'])
                    result = pd.concat([result, temp], axis=0)
                else :
                    # ÏóÜÎäî Í≤ΩÏö∞
                    err.append(
                        {"code": code, "err": json_obj['RESULT']['CODE']})
                
    return result

In [185]:
# ÎÖ∏ÏÑ† Í∞úÏàò ÌôïÏù∏
routes = sorted(list(set(station["ÎÖ∏ÏÑ†Î™Ö"])))
cntRoutes = len(station["ÎÖ∏ÏÑ†Î™Ö"].value_counts())

errs = {}
results = {}

print(routes)

['1Ìò∏ÏÑ†', '2Ìò∏ÏÑ†', '3Ìò∏ÏÑ†', '4Ìò∏ÏÑ†', '5Ìò∏ÏÑ†', '6Ìò∏ÏÑ†', '7Ìò∏ÏÑ†', '8Ìò∏ÏÑ†', '9Ìò∏ÏÑ†', 'Í≤ΩÍ∞ïÏÑ†', 'Í≤ΩÏùòÏ§ëÏïôÏÑ†', 'Í≤ΩÏ∂òÏÑ†', 'Í≥µÌï≠Ï≤†ÎèÑÏÑ†', 'ÍπÄÌè¨Í≥®ÎìúÎùºÏù∏', 'ÏÑúÌï¥ÏÑ†', 'ÏàòÏù∏Î∂ÑÎãπÏÑ†', 'Ïã†Î¶ºÏÑ†', 'Ïã†Î∂ÑÎãπÏÑ†', 'ÏóêÎ≤ÑÎùºÏù∏ÏÑ†', 'Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†', 'ÏùòÏ†ïÎ∂ÄÏÑ†', 'Ïù∏Ï≤ú1Ìò∏ÏÑ†', 'Ïù∏Ï≤ú2Ìò∏ÏÑ†']

In [186]:
# # API Ìò∏Ï∂ú
# for route in routes:    
#     err = []
    
#     results[route] = getTimetableByRouteName(station[station['ÎÖ∏ÏÑ†Î™Ö'] == route], err)
#     errs[route] = err
    
#     time.sleep(10)

# # ÏãúÍ∞ÑÌëú ÏóëÏÖÄÎ°ú Ï†ÄÏû• (Î∞òÎìúÏãú ÌïÑÏöî, Ìò∏Ï∂ú ÏãúÍ∞Ñ Ïò§Îûò Í±∏Î¶¨ÎØÄÎ°ú)
# now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

# for route in now_routes:
#     results[route].to_csv("timetable/" + route + ".csv")

In [187]:
# # ÏóêÎü¨ Ïó¨Î∂Ä
# errs

In [188]:
# routes = sorted(routes)

# for route in routes:
#     station_cnt = len(set(station['Ïó≠ÏÇ¨Î™Ö'][station['ÎÖ∏ÏÑ†Î™Ö'] == route]))
#     err_cnt = len(errs[route])
#     if err_cnt != 0:
#         print(route, "Ïó≠ Í∞úÏàò :", station_cnt)
#         print(route, "Ïò§Î•ò Í∞úÏàò :", err_cnt, ", ÎπÑÍµêÍ∞í :", station_cnt * 6) # Ìïú Ïó≠Ïóê ÎåÄÌï¥ API 6Î≤à Ìò∏Ï∂úÌïòÎØÄÎ°ú
#         print()
    
# # ÌôïÏù∏ Í≤∞Í≥º, 6Ìò∏ÏÑ†ÏùÑ Ï†úÏô∏ÌïòÍ≥†Îäî Îã§ APIÍ∞Ä Ï†úÍ≥µÌïòÏßÄ ÏïäÎäî Ìò∏ÏÑ†ÏûÑ
# # 6Ìò∏ÏÑ† Î™áÎ™á Ïó≠Îì§Ïóê ÎåÄÌï¥ÏÑúÎßå API Ìò∏Ï∂úÌïòÎ©¥ Îê®

In [189]:
# for obj in errs["6Ìò∏ÏÑ†"]:
#     print(station['Ïó≠ÏÇ¨Î™Ö'][station['Ïó≠Î≤àÌò∏'] == obj['code']])

# # ÌôïÏù∏ Í≤∞Í≥º, Ìï¥Îãπ Î∞©Ìñ•ÏúºÎ°úÎäî ÏõêÎûò Ïó¥Ï∞®Í∞Ä ÏóÜÎäî Ïó≠ -> ÏùëÏïîÎ£®ÌîÑÏÑ†
# # Í∑∏ÎûòÎèÑ, Ïó≠ ÎèÑÏ∞© ÏãúÍ∞ÑÏùÑ ÏïåÍ∏∞ ÏúÑÌï¥ ÏãúÍ∞ÑÌëú Ï†ïÎ≥¥Í∞Ä ÌïÑÏöî

In [190]:
# ÏóëÏÖÄ ÌååÏùºÏóêÏÑú Î∂àÎü¨Ïò§Í∏∞
now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

for route in now_routes:
    results[route] = pd.read_csv("timetable/origin/" + route + ".csv")

C:\Users\04746\AppData\Local\Temp\ipykernel_20956\3224073929.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/origin/" + route + ".csv")
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\3224073929.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/origin/" + route + ".csv")
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\3224073929.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  results[route] = pd.read_csv("timetable/origin/" + route + ".csv")

In [191]:
# ÌôïÏù∏ Î∞è Îç∞Ïù¥ÌÑ∞ ÌòïÏãù ÏÇ¥Ìé¥Î≥¥Í∏∞ ÏúÑÌïú ÌååÏùº Ï†ÄÏû•
results["1Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1940,18:54:00,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
1,1,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K630,11:48:00,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,G,NaN
2,2,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1906,09:40:30,00:00:00,1408,158,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
3,3,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1908,10:16:30,00:00:00,1408,158,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
4,4,01Ìò∏ÏÑ†,124,158,Ï≤≠ÎüâÎ¶¨,K1910,11:11:30,00:00:00,1728,158,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,1,1,NaN,NaN,D,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81814,104,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K107,15:05:30,00:00:00,1916,1812,ÏÜåÏöîÏÇ∞,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81815,105,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K105,14:56:30,00:00:00,1909,1812,ÏñëÏ£º,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81816,106,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K103,14:49:30,00:00:00,1701,1812,Íµ¨Î°ú,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81817,107,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K101,14:42:30,00:00:00,1916,1812,ÏÜåÏöîÏÇ∞,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN
81818,108,01Ìò∏ÏÑ†,161,1812,Ïù∏Ï≤ú,K1,05:46:30,00:00:00,1701,1812,Íµ¨Î°ú,Ïù∏Ï≤ú,3,2,NaN,NaN,G,NaN

In [192]:
results["1Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81819 entries, 0 to 81818
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     81819 non-null  int64
 1   LINE_NUM       81819 non-null  object
 2   FR_CODE        81819 non-null  object
 3   STATION_CD     81819 non-null  int64
 4   STATION_NM     81819 non-null  object
 5   TRAIN_NO       81819 non-null  object
 6   ARRIVETIME     81819 non-null  object
 7   LEFTTIME       81819 non-null  object
 8   ORIGINSTATION  81819 non-null  int64
 9   DESTSTATION    81819 non-null  int64
 10  SUBWAYSNAME    81819 non-null  object
 11  SUBWAYENAME    81819 non-null  object
 12  WEEK_TAG       81819 non-null  int64
 13  INOUT_TAG      81819 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     81819 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(6), object(9)
memory usage: 11.2+ MB

In [193]:
results["2Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2004,05:39:00,05:39:30,239,211,ÌôçÎåÄÏûÖÍµ¨,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
1,1,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2006,05:50:30,05:51:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
2,2,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2008,05:57:30,05:58:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
3,3,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2010,06:04:00,06:04:30,228,211,ÏÑúÏö∏ÎåÄÏûÖÍµ¨,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
4,4,02Ìò∏ÏÑ†,201,201,ÏãúÏ≤≠,2012,06:10:30,06:11:00,234,211,Ïã†ÎèÑÎ¶º,ÏÑ±Ïàò,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61864,101,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5705,00:00:00,23:02:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61865,102,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5707,00:00:00,23:17:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61866,103,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5711,00:00:00,23:33:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61867,104,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5713,00:00:00,23:47:00,200,234,ÍπåÏπòÏÇ∞,Ïã†ÎèÑÎ¶º,3,2,NaN,NaN,G,NaN
61868,105,02Ìò∏ÏÑ†,234-4,200,ÍπåÏπòÏÇ∞,5907,00:00:00,24:01:00,200,247,ÍπåÏπòÏÇ∞,ÎèÑÎ¶ºÏ≤ú,3,2,NaN,NaN,G,NaN

In [194]:
results["2Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61869 entries, 0 to 61868
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     61869 non-null  int64
 1   LINE_NUM       61869 non-null  object
 2   FR_CODE        61869 non-null  object
 3   STATION_CD     61869 non-null  int64
 4   STATION_NM     61869 non-null  object
 5   TRAIN_NO       61869 non-null  int64
 6   ARRIVETIME     61869 non-null  object
 7   LEFTTIME       61869 non-null  object
 8   ORIGINSTATION  61869 non-null  int64
 9   DESTSTATION    61869 non-null  int64
 10  SUBWAYSNAME    61869 non-null  object
 11  SUBWAYENAME    61869 non-null  object
 12  WEEK_TAG       61869 non-null  int64
 13  INOUT_TAG      61869 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     61869 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 8.5+ MB

In [195]:
results["3Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3012,05:59:00,05:59:30,323,1958,ÏïΩÏàò,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
1,1,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3016,06:16:30,06:17:00,334,1958,ÎèÑÍ≥°,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
2,2,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3022,06:32:00,06:32:30,339,1958,ÏàòÏÑú,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
3,3,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3024K,06:38:30,06:39:00,342,1958,Ïò§Í∏à,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
4,4,03Ìò∏ÏÑ†,319,309,ÏßÄÏ∂ï,3026,06:45:30,06:46:00,342,1958,Ïò§Í∏à,ÎåÄÌôî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42768,103,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3353,00:00:00,22:34:00,1958,339,ÎåÄÌôî,ÏàòÏÑú,3,2,NaN,NaN,G,NaN
42769,104,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3355,00:00:00,22:44:00,1958,334,ÎåÄÌôî,ÎèÑÍ≥°,3,2,NaN,NaN,G,NaN
42770,105,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3357,00:00:00,23:03:00,1958,323,ÎåÄÌôî,ÏïΩÏàò,3,2,NaN,NaN,G,NaN
42771,106,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3359,00:00:00,23:20:00,1958,310,ÎåÄÌôî,Íµ¨ÌååÎ∞ú,3,2,NaN,NaN,G,NaN
42772,107,03Ìò∏ÏÑ†,309,1958,ÎåÄÌôî,3361,00:00:00,23:36:00,1958,1950,ÎåÄÌôî,ÏÇºÏÜ°,3,2,NaN,NaN,G,NaN

In [196]:
results["3Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42773 entries, 0 to 42772
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     42773 non-null  int64
 1   LINE_NUM       42773 non-null  object
 2   FR_CODE        42773 non-null  int64
 3   STATION_CD     42773 non-null  int64
 4   STATION_NM     42773 non-null  object
 5   TRAIN_NO       42773 non-null  object
 6   ARRIVETIME     42773 non-null  object
 7   LEFTTIME       42773 non-null  object
 8   ORIGINSTATION  42773 non-null  int64
 9   DESTSTATION    42773 non-null  int64
 10  SUBWAYSNAME    42773 non-null  object
 11  SUBWAYENAME    42773 non-null  object
 12  WEEK_TAG       42773 non-null  int64
 13  INOUT_TAG      42773 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     42773 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 5.9+ MB

In [197]:
results["4Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4014,05:37:00,05:37:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
1,1,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4020,05:59:00,05:59:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
2,2,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4002,06:15:00,06:15:30,426,405,ÏÑúÏö∏Ïó≠,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
3,3,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4004,06:31:00,06:31:30,434,405,ÎÇ®ÌÉúÎ†π,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
4,4,04Ìò∏ÏÑ†,408,408,Î≥ÑÎÇ¥Î≥ÑÍ∞ÄÎûå,S4032,06:48:00,06:48:30,409,405,ÎãπÍ≥†Í∞ú,ÏßÑÏ†ë,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47842,106,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4685,23:11:00,23:11:30,409,1762,ÎãπÍ≥†Í∞ú,Ïò§Ïù¥ÎèÑ,3,2,NaN,NaN,G,NaN
47843,107,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4687,23:27:00,23:27:30,409,1762,ÎãπÍ≥†Í∞ú,Ïò§Ïù¥ÎèÑ,3,2,NaN,NaN,G,NaN
47844,108,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4329,23:40:00,23:40:30,409,1759,ÎãπÍ≥†Í∞ú,ÏïàÏÇ∞,3,2,NaN,NaN,G,NaN
47845,109,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4331,24:03:00,24:03:30,409,1759,ÎãπÍ≥†Í∞ú,ÏïàÏÇ∞,3,2,NaN,NaN,G,NaN
47846,110,04Ìò∏ÏÑ†,443,1458,Í∏àÏ†ï,K4333,24:25:00,24:25:30,409,1751,ÎãπÍ≥†Í∞ú,ÏÇ∞Î≥∏,3,2,NaN,NaN,G,NaN

In [198]:
results["4Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47847 entries, 0 to 47846
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     47847 non-null  int64
 1   LINE_NUM       47847 non-null  object
 2   FR_CODE        47847 non-null  int64
 3   STATION_CD     47847 non-null  int64
 4   STATION_NM     47847 non-null  object
 5   TRAIN_NO       47847 non-null  object
 6   ARRIVETIME     47847 non-null  object
 7   LEFTTIME       47847 non-null  object
 8   ORIGINSTATION  47847 non-null  int64
 9   DESTSTATION    47847 non-null  int64
 10  SUBWAYSNAME    47847 non-null  object
 11  SUBWAYENAME    47847 non-null  object
 12  WEEK_TAG       47847 non-null  int64
 13  INOUT_TAG      47847 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     47847 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 6.6+ MB

In [199]:
results["5Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5620,17:44:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
1,1,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5618,17:31:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
2,2,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5616,17:18:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
3,3,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5614,17:05:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
4,4,05Ìò∏ÏÑ†,510,2511,Î∞©Ìôî,5612,16:52:00,00:00:00,2561,2511,ÎßàÏ≤ú,Î∞©Ìôî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49957,81,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5533,09:21:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49958,82,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5531,09:08:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49959,83,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5529,08:55:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49960,84,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5527,08:42:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN
49961,85,05Ìò∏ÏÑ†,P555,2561,ÎßàÏ≤ú,5525,08:29:30,00:00:00,2511,2561,Î∞©Ìôî,ÎßàÏ≤ú,3,2,NaN,NaN,G,NaN

In [200]:
results["5Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49962 entries, 0 to 49961
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49962 non-null  int64
 1   LINE_NUM       49962 non-null  object
 2   FR_CODE        49962 non-null  object
 3   STATION_CD     49962 non-null  int64
 4   STATION_NM     49962 non-null  object
 5   TRAIN_NO       49962 non-null  int64
 6   ARRIVETIME     49962 non-null  object
 7   LEFTTIME       49962 non-null  object
 8   ORIGINSTATION  49962 non-null  int64
 9   DESTSTATION    49962 non-null  int64
 10  SUBWAYSNAME    49962 non-null  object
 11  SUBWAYENAME    49962 non-null  object
 12  WEEK_TAG       49962 non-null  int64
 13  INOUT_TAG      49962 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     49962 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 6.9+ MB

In [201]:
results["6Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6316,23:29:30,00:00:00,2649,2611,Ïã†ÎÇ¥,ÏùëÏïî,1,1,NaN,NaN,G,NaN
1,1,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6314,23:20:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
2,2,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6312,23:10:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
3,3,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6310,23:01:00,00:00:00,2649,2611,Ïã†ÎÇ¥,ÏùëÏïî,1,1,NaN,NaN,G,NaN
4,4,06Ìò∏ÏÑ†,610,2611,ÏùëÏïî,6308,22:52:00,00:00:00,2648,2611,Î¥âÌôîÏÇ∞,ÏùëÏïî,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30496,41,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6011,06:52:00,00:00:00,2611,2649,ÏùëÏïî,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30497,42,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6007,06:30:20,00:00:00,2617,2649,ÏÉàÏ†à,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30498,43,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6005,06:16:00,00:00:00,2627,2649,Í≥µÎçï,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30499,44,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6003,06:03:10,00:00:00,2632,2649,ÌïúÍ∞ïÏßÑ,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN
30500,45,06Ìò∏ÏÑ†,648,2649,Ïã†ÎÇ¥,6001,05:49:00,00:00:00,2640,2649,ÏïàÏïî,Ïã†ÎÇ¥,3,2,NaN,NaN,G,NaN

In [202]:
results["6Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30501 entries, 0 to 30500
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     30501 non-null  int64
 1   LINE_NUM       30501 non-null  object
 2   FR_CODE        30501 non-null  int64
 3   STATION_CD     30501 non-null  int64
 4   STATION_NM     30501 non-null  object
 5   TRAIN_NO       30501 non-null  int64
 6   ARRIVETIME     30501 non-null  object
 7   LEFTTIME       30501 non-null  object
 8   ORIGINSTATION  30501 non-null  int64
 9   DESTSTATION    30501 non-null  int64
 10  SUBWAYSNAME    30501 non-null  object
 11  SUBWAYENAME    30501 non-null  object
 12  WEEK_TAG       30501 non-null  int64
 13  INOUT_TAG      30501 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     30501 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 4.2+ MB

In [203]:
results["7Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7016,05:48:00,05:48:30,3763,2711,ÏÑùÎÇ®,Ïû•Ïïî,1,1,NaN,NaN,G,NaN
1,1,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7020,06:03:00,06:03:30,3763,2711,ÏÑùÎÇ®,Ïû•Ïïî,1,1,NaN,NaN,G,NaN
2,2,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7024,06:16:00,06:16:30,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
3,3,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7028,06:29:00,06:29:30,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
4,4,07Ìò∏ÏÑ†,751,3753,ÍπåÏπòÏö∏,7032,06:40:30,06:41:00,3763,2712,ÏÑùÎÇ®,ÎèÑÎ¥âÏÇ∞,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49436,157,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7301,22:46:30,22:47:00,2711,3763,Ïû•Ïïî,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49437,158,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7305,23:00:00,23:00:30,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49438,159,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7309,23:15:30,23:16:00,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49439,160,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7313,23:31:30,23:32:00,2712,3763,ÎèÑÎ¥âÏÇ∞,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN
49440,161,07Ìò∏ÏÑ†,750,2752,Ïò®Ïàò,7317,23:46:30,23:47:00,2711,3763,Ïû•Ïïî,ÏÑùÎÇ®,3,2,NaN,NaN,G,NaN

In [204]:
results["7Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49441 entries, 0 to 49440
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49441 non-null  int64
 1   LINE_NUM       49441 non-null  object
 2   FR_CODE        49441 non-null  int64
 3   STATION_CD     49441 non-null  int64
 4   STATION_NM     49441 non-null  object
 5   TRAIN_NO       49441 non-null  int64
 6   ARRIVETIME     49441 non-null  object
 7   LEFTTIME       49441 non-null  object
 8   ORIGINSTATION  49441 non-null  int64
 9   DESTSTATION    49441 non-null  int64
 10  SUBWAYSNAME    49441 non-null  object
 11  SUBWAYENAME    49441 non-null  object
 12  WEEK_TAG       49441 non-null  int64
 13  INOUT_TAG      49441 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     49441 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 6.8+ MB

In [205]:
results["8Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8200,18:18:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
1,1,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8198,18:13:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
2,2,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8196,18:08:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
3,3,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8194,18:03:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
4,4,08Ìò∏ÏÑ†,810,2811,ÏïîÏÇ¨,8192,17:57:00,00:00:00,2827,2811,Î™®ÎûÄ,ÏïîÏÇ¨,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14192,120,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8051,09:39:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14193,121,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8049,09:30:30,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14194,122,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8047,09:22:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14195,123,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8045,09:13:30,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN
14196,124,08Ìò∏ÏÑ†,827,2827,Î™®ÎûÄ,8043,09:05:00,00:00:00,2811,2827,ÏïîÏÇ¨,Î™®ÎûÄ,3,2,NaN,NaN,G,NaN

In [206]:
results["8Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14197 entries, 0 to 14196
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     14197 non-null  int64
 1   LINE_NUM       14197 non-null  object
 2   FR_CODE        14197 non-null  int64
 3   STATION_CD     14197 non-null  int64
 4   STATION_NM     14197 non-null  object
 5   TRAIN_NO       14197 non-null  int64
 6   ARRIVETIME     14197 non-null  object
 7   LEFTTIME       14197 non-null  object
 8   ORIGINSTATION  14197 non-null  int64
 9   DESTSTATION    14197 non-null  int64
 10  SUBWAYSNAME    14197 non-null  object
 11  SUBWAYENAME    14197 non-null  object
 12  WEEK_TAG       14197 non-null  int64
 13  INOUT_TAG      14197 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     14197 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(8), object(7)
memory usage: 1.9+ MB

In [207]:
results["9Ìò∏ÏÑ†"]

,Unnamed: 0,LINE_NUM,FR_CODE,STATION_CD,STATION_NM,TRAIN_NO,ARRIVETIME,LEFTTIME,ORIGINSTATION,DESTSTATION,SUBWAYSNAME,SUBWAYENAME,WEEK_TAG,INOUT_TAG,FL_FLAG,DESTSTATION2,EXPRESS_YN,BRANCH_LINE
0,0,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9014,00:00:00,05:30:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
1,1,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9016,00:00:00,05:42:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
2,2,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9018,00:00:00,05:54:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
3,3,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9020,00:00:00,06:06:00,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
4,4,09Ìò∏ÏÑ†,901,4101,Í∞úÌôî,C9022,00:00:00,06:14:15,4101,4138,Í∞úÌôî,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,1,1,NaN,NaN,G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32889,91,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9191,23:08:50,23:09:15,4138,4101,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Í∞úÌôî,3,2,NaN,NaN,G,NaN
32890,92,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9193,23:23:50,23:24:15,4138,4110,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,ÏóºÏ∞Ω,3,2,NaN,NaN,G,NaN
32891,93,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9195,23:34:45,23:35:10,4138,4115,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Ïó¨ÏùòÎèÑ,3,2,NaN,NaN,G,NaN
32892,94,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9197,23:48:45,23:49:10,4138,4120,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,ÎèôÏûë,3,2,NaN,NaN,G,NaN
32893,95,09Ìò∏ÏÑ†,926,4126,Ïñ∏Ï£º,C9199,24:01:45,24:02:10,4138,4125,Ï§ëÏïôÎ≥¥ÌõàÎ≥ëÏõê,Ïã†ÎÖºÌòÑ,3,2,NaN,NaN,G,NaN

In [208]:
results["9Ìò∏ÏÑ†"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32894 entries, 0 to 32893
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     32894 non-null  int64
 1   LINE_NUM       32894 non-null  object
 2   FR_CODE        32894 non-null  int64
 3   STATION_CD     32894 non-null  int64
 4   STATION_NM     32894 non-null  object
 5   TRAIN_NO       32894 non-null  object
 6   ARRIVETIME     32894 non-null  object
 7   LEFTTIME       32894 non-null  object
 8   ORIGINSTATION  32894 non-null  int64
 9   DESTSTATION    32894 non-null  int64
 10  SUBWAYSNAME    32894 non-null  object
 11  SUBWAYENAME    32894 non-null  object
 12  WEEK_TAG       32894 non-null  int64
 13  INOUT_TAG      32894 non-null  int64
 14  FL_FLAG        0 non-null      float64
 15  DESTSTATION2   0 non-null      float64
 16  EXPRESS_YN     32894 non-null  object
 17  BRANCH_LINE    0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 4.5+ MB

### 2. Í∞ÄÍ≥µÌïòÍ∏∞

In [209]:
for route in now_routes:
    # Ïª¨ÎüºÎ™Ö Î≥ÄÍ≤Ω
    results[route].rename(columns={
        "LINE_NUM": "ÎÖ∏ÏÑ†Î™Ö", 
        "FR_CODE": "Ïô∏Î∂ÄÏΩîÎìú", 
        "STATION_CD": "Ïó≠Î≤àÌò∏",
        "STATION_NM": "Ïó≠ÏÇ¨Î™Ö",
        "TRAIN_NO": "Ïó¥Ï∞®Î≤àÌò∏", 
        "ARRIVETIME": "ÎèÑÏ∞©ÏãúÍ∞Ñ", 
        "LEFTTIME": "Ï∂úÎ∞úÏãúÍ∞Ñ", 
        "ORIGINSTATION": "Ï∂úÎ∞úÏó≠Î≤àÌò∏",
        "DESTSTATION": "ÎèÑÏ∞©Ïó≠Î≤àÌò∏",
        "SUBWAYSNAME": "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö",
        "SUBWAYENAME": "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö",
        "WEEK_TAG": "ÏöîÏùº",
        "INOUT_TAG": "Î∞©Ìñ•",
        "EXPRESS_YN": "Í∏âÌñâÏÑ†"
    }, inplace=True)
    
    # ÎÖ∏ÏÑ†Î™Ö ÏïûÏùò 0 Ï†úÍ±∞
    results[route]['ÎÖ∏ÏÑ†Î™Ö'] = results[route]['ÎÖ∏ÏÑ†Î™Ö'].str.replace(
        pat=r'^0', repl=r'', regex=True)
    
    # ÌïÑÏöîÏóÜÎäî Ïª¨Îüº ÏÇ≠Ï†ú
    results[route].drop(columns=["Unnamed: 0", "FL_FLAG",
                        "DESTSTATION2", "BRANCH_LINE"], inplace=True)
    
    # Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌÜµÏùº
    results[route] = results[route].astype({'Ïô∏Î∂ÄÏΩîÎìú': 'str', 'Ïó¥Ï∞®Î≤àÌò∏': 'str'})
    
    # ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞
    # 1. ÎèÑÏ∞©ÏãúÍ∞Ñ ÏóÜÏù¥ Ï∂úÎ∞úÏãúÍ∞ÑÎßå ÏûàÎäî Í≤ΩÏö∞, Ï∂úÎ∞úÏãúÍ∞Ñ = ÎèÑÏ∞©ÏãúÍ∞Ñ
    results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
                           (results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"] != "00:00:00")] = results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
                                                                                            (results[route]["Ï∂úÎ∞úÏãúÍ∞Ñ"] != "00:00:00")]
    # 2. Ï∂úÎ∞úÏãúÍ∞Ñ ÏÇ≠Ï†ú
    results[route].drop(columns=["Ï∂úÎ∞úÏãúÍ∞Ñ"], inplace=True)
    # 3. Ï¥àÎã®ÏúÑ Î≤ÑÎ¶º
    results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] = results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"].str.slice(start=0, stop=5)

C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &
C:\Users\04746\AppData\Local\Temp\ipykernel_20956\1105720588.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][(results[route]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] == "00:00:00") &

In [210]:
# # ÌÖåÏù¥Î∏î Ï†ÄÏû•
# now_routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†"]

# for route in now_routes:
#     results[route].to_csv("timetable/result/" + route + ".csv")

### 3. Î∂ÄÏ°±Ìïú ÏãúÍ∞ÑÌëú Ï±ÑÏö∞Í∏∞

##### 3-a. Î∂ÄÏ°±Ìïú Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÌïòÍ∏∞

In [211]:
# Í≤ΩÏùòÏ§ëÏïôÏÑ†
temp = [[0] for i in range(3)]

for i in range(1, 3) :
    for j in range(1, 3) :
        temp[i].append(pd.read_csv(
            'timetable/origin/Í≤ΩÏùòÏ§ëÏïôÏÑ†_{0}_{1}.csv'.format(i, j), header=None))

In [212]:
# Ìïú Ï¢ÖÎ•òÏùò Îç∞Ïù¥ÌÑ∞Îßå ÏãúÎ≤îÏÇºÏïÑ Ï≤òÎ¶¨Ìï¥ Î≥¥Í∏∞

temp[1][1]

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
0,ÏãúÎ∞úÏó≠,Ï≤≠ÎüâÎ¶¨,ÎçïÏÜå,Ïö©Î¨∏,ÌåîÎãπ,Ïö©Î¨∏,Ï≤≠ÎüâÎ¶¨,Ïö©Î¨∏,Ïö©Î¨∏,Ïö©Î¨∏,...,Ï≤≠ÎüâÎ¶¨,Ïö©Î¨∏,ÎçïÏÜå,Ïö©Î¨∏,Ïö©Î¨∏,ÎçïÏÜå,ÏßÄÌèâ,ÎçïÏÜå,Ïö©Î¨∏,ÎçïÏÜå
1,Ï¢ÖÏ∞©Ïó≠,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,ÏùºÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,...,ÏùºÏÇ∞,Î¨∏ÏÇ∞,ÏùºÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Î¨∏ÏÇ∞,Îä•Í≥°,Îä•Í≥°,Ïö©ÏÇ∞,Ïö©ÏÇ∞
2,Ïó¥Ï∞®Î≤àÌò∏,K5002,K5004,K5010,K5008,K5012,K5006,K5014,K5016,K5018,...,K5142,K5152,K5146,K5156,K5158,K5154,K5162,K5160,K5166,K5164
3,ÏßÄÌèâ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22:02:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,ÏõîÎ°±,6:19:30,6:48:00,7:33:30,7:15:00,,6:59:30,7:57:30,8:08:30,8:26:00,...,,23:25:30,,23:56:00,0:15:30,23:44:00,,,,
104,NaN,6:20:00,6:48:30,7:34:00,7:15:30,NaN,7:00:00,7:58:00,8:09:00,8:26:30,...,NaN,23:26:00,NaN,23:56:30,0:16:00,23:44:30,NaN,NaN,NaN,NaN
105,ÌååÏ£º,6:22:30,6:51:00,7:36:30,7:18:00,,7:02:30,8:00:30,8:11:30,8:29:00,...,,23:28:30,,23:59:00,0:18:30,23:47:00,,,,
106,NaN,6:23:00,6:51:30,7:37:00,7:18:30,NaN,7:03:00,8:01:00,8:12:00,8:29:30,...,NaN,23:29:00,NaN,23:59:30,0:19:00,23:47:30,NaN,NaN,NaN,NaN
107,Î¨∏ÏÇ∞,6:26:30,6:55:00,7:40:30,7:22:00,,7:06:30,8:04:30,8:15:30,8:33:00,...,,23:32:30,,0:03:00,0:22:30,23:51:00,,,,

In [213]:
temp[1][1].info(max_cols=150)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 92 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       56 non-null     object
 1   1       86 non-null     object
 2   2       95 non-null     object
 3   3       106 non-null    object
 4   4       97 non-null     object
 5   5       99 non-null     object
 6   6       86 non-null     object
 7   7       106 non-null    object
 8   8       106 non-null    object
 9   9       106 non-null    object
 10  10      106 non-null    object
 11  11      106 non-null    object
 12  12      106 non-null    object
 13  13      106 non-null    object
 14  14      107 non-null    object
 15  15      107 non-null    object
 16  16      91 non-null     object
 17  17      100 non-null    object
 18  18      91 non-null     object
 19  19      107 non-null    object
 20  20      107 non-null    object
 21  21      98 non-null     object
 22  22      107 non-null    object
 23  23      80 non-null     object
 24  24      108 non-null    object
 25  25      98 non-null     object
 26  26      96 non-null     object
 27  27      107 non-null    object
 28  28      98 non-null     object
 29  29      84 non-null     object
 30  30      98 non-null     object
 31  31      107 non-null    object
 32  32      96 non-null     object
 33  33      107 non-null    object
 34  34      96 non-null     object
 35  35      108 non-null    object
 36  36      96 non-null     object
 37  37      107 non-null    object
 38  38      96 non-null     object
 39  39      107 non-null    object
 40  40      89 non-null     object
 41  41      107 non-null    object
 42  42      89 non-null     object
 43  43      107 non-null    object
 44  44      96 non-null     object
 45  45      107 non-null    object
 46  46      96 non-null     object
 47  47      107 non-null    object
 48  48      96 non-null     object
 49  49      107 non-null    object
 50  50      96 non-null     object
 51  51      108 non-null    object
 52  52      96 non-null     object
 53  53      106 non-null    object
 54  54      90 non-null     object
 55  55      95 non-null     object
 56  56      95 non-null     object
 57  57      106 non-null    object
 58  58      106 non-null    object
 59  59      95 non-null     object
 60  60      106 non-null    object
 61  61      72 non-null     object
 62  62      106 non-null    object
 63  63      95 non-null     object
 64  64      106 non-null    object
 65  65      97 non-null     object
 66  66      107 non-null    object
 67  67      96 non-null     object
 68  68      108 non-null    object
 69  69      96 non-null     object
 70  70      107 non-null    object
 71  71      96 non-null     object
 72  72      80 non-null     object
 73  73      107 non-null    object
 74  74      73 non-null     object
 75  75      91 non-null     object
 76  76      107 non-null    object
 77  77      96 non-null     object
 78  78      107 non-null    object
 79  79      108 non-null    object
 80  80      96 non-null     object
 81  81      107 non-null    object
 82  82      80 non-null     object
 83  83      107 non-null    object
 84  84      89 non-null     object
 85  85      107 non-null    object
 86  86      107 non-null    object
 87  87      96 non-null     object
 88  88      96 non-null     object
 89  89      84 non-null     object
 90  90      84 non-null     object
 91  91      73 non-null     object
dtypes: object(92)
memory usage: 77.8+ KB

##### 3-b. ÏÉòÌîå ÏΩîÎìú ÏûëÏÑ±

In [214]:
# # ÌôïÏù∏ Í≤∞Í≥º, Í≥µÎ∞±ÏùÄ nullÏù¥ ÏïÑÎãå Í≤ÉÏúºÎ°ú Ï∑®Í∏â
# # Í≥µÎ∞±ÏùÑ nullÎ°ú Î≥ÄÌôòÌïòÍ∏∞
# temp[1][1] = temp[1][1].replace(to_replace= r'^[\s]+$', value=np.NaN, regex=True)

In [215]:
# # Ïû¨ÌôïÏù∏
# temp[1][1].info(max_cols=150)

In [216]:
# # Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•Ìï† ÏÉà Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±

# temp_1_1_result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])
# temp_1_1_result

In [217]:
# # Îç∞Ïù¥ÌÑ∞ ÌòïÌÉú Î≥¥Í≥†, Í∏∞Ï°¥ ÏãúÍ∞ÑÌëú ÌòïÏãùÍ≥º Ïûò ÎßûÏ∂∞Î≥¥Í∏∞

# cols = len(temp[1][1].columns)
# rows = len(temp[1][1].index)

# print(cols, rows)

# temp[1][1]

In [218]:
# cnt = 0

# for i in range(3, rows - 1, 2) :
#     name = temp[1][1][0][i]
#     time = ''
    
#     for j in range(1, cols) :
#         if pd.isnull(temp[1][1][j][i]) and pd.isnull(temp[1][1][j][i + 1]):
#             # Ï†ÄÏû•Ìï† Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå
#             continue
        
#         # ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
#         if pd.notnull(temp[1][1][j][i]) :
#             # Í∏∞Î≥∏Ï†ÅÏúºÎ°ú, ÎèÑÏ∞©  ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
#             time = temp[1][1][j][i]
#         else :
#             # ÎèÑÏ∞© ÏãúÍ∞ÑÏù¥ ÏóÜÎäî Í≤ΩÏö∞, Ï∂úÎ∞ú ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
#             time = temp[1][1][j][i + 1]
            
#         # ÏãúÍ∞Ñ Ï†ïÎ≥¥ Í∞ÄÍ≥µ
#         if len(time) < 8 :
#             time = '0' + time
#         if int(time[:2]) < 4 :
#             time = str(int(time[:2]) + 24) + time[2:]
            
#         temp_1_1_result.loc[cnt] = ['Í≤ΩÏùòÏ§ëÏïôÏÑ†', np.NaN, np.NaN,
#                                     name, temp[1][1][j][2], time, np.NaN, np.NaN, temp[1][1][j][0], temp[1][1][j][1], 1, 1, 'G']
#         # print('Í≤ΩÏùòÏ§ëÏïôÏÑ†', np.NaN, np.NaN,
#         #       name, temp[1][1][j][2], time, np.NaN, np.NaN, temp[1][1][j][0], temp[1][1][j][1], 1, 1, 'G')
        
#         cnt += 1

# # ÌôïÏù∏
# temp_1_1_result

In [219]:
# temp_1_1_result.to_csv("temp.csv")

##### 3-c. ÏûêÎèôÌôî ÏΩîÎìú ÏûëÏÑ±

In [47]:
# Ìï®Ïàò Ï†ïÏùò
def mkKorailTableToSeoulTable(route, korail_table, weekBound, inoutBound):
    cnt = 0
    result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏",
                          "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])

    for week in range(1, weekBound) : # ÏöîÏùº
        for inout in range(1, inoutBound) : # ÏÉÅ/ÌïòÌñâ
            # ÌïòÎÇòÏùò ÏãúÍ∞ÑÌëú ÌÖåÏù¥Î∏îÏóê ÎåÄÌï¥ Î≥ÄÍ≤Ω ÏΩîÎìú ÏàòÌñâ
            cols = len(korail_table[week][inout].columns)
            rows = len(korail_table[week][inout].index)
            
            for j in range(1, cols): # Í∞Å Ïó¥Ï∞®
                startName = korail_table[week][inout][j][0]
                endName = korail_table[week][inout][j][1]
                trainNum = korail_table[week][inout][j][2]
                directTrainSet = set()

                for i in range(3, rows - 1, 2): # Í∞Å Ïó≠
                    time = ''
                    name = korail_table[week][inout][0][i]
                    
                    if (pd.isnull(startName) and pd.isnull(endName) and pd.isnull(trainNum)):
                        break
                    
                    # Ï†ÄÏû•Ìï† Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå
                    if pd.isnull(korail_table[week][inout][j][i]) and (trainNum in directTrainSet or pd.isnull(korail_table[week][inout][j][i + 1])):
                        continue

                    # ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
                    if (pd.notnull(korail_table[week][inout][j][i]) and pd.notnull(korail_table[week][inout][j][i + 1])) :
                        # Í∏∞Î≥∏Ï†ÅÏúºÎ°ú, ÎèÑÏ∞© ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        time = korail_table[week][inout][j][i]
                        
                    else:
                        # ÎèÑÏ∞© ÏãúÍ∞ÑÎßå ÏóÜÍ≥† ÏãúÏûëÏó≠Ïùº Í≤ΩÏö∞, Ï∂úÎ∞ú ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        if pd.isnull(korail_table[week][inout][j][i]) and pd.notnull(korail_table[week][inout][j][i + 1]):
                           time = korail_table[week][inout][j][i + 1]
                           
                           if name != startName:  # Ï∂úÎ∞úÏó≠Ïù¥ ÏïÑÎãê Í≤ΩÏö∞, Í∏âÌñâ
                               directTrainSet.add(trainNum)
                               continue
                                   
                        # Ï∂úÎ∞ú ÏãúÍ∞ÑÏù¥ ÏóÜÍ≥† Ï¢ÖÏ∞©Ïó≠Ïùº Í≤ΩÏö∞, ÎèÑÏ∞© ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        elif pd.notnull(korail_table[week][inout][j][i]) and pd.isnull(korail_table[week][inout][j][i + 1]):
                            time = korail_table[week][inout][j][i]

                    # ÏãúÍ∞Ñ Ï†ïÎ≥¥ Í∞ÄÍ≥µ
                    if len(time) < 8:
                        time = '0' + time
                    if int(time[:2]) < 4:
                        time = str(int(time[:2]) + 24) + time[2:]

                    result.loc[cnt] = [route, np.NaN, np.NaN,
                                       name, trainNum, time, np.NaN, np.NaN, startName, endName, week, inout, "G"]
                    
                    # print(route, np.NaN, np.NaN, name, temp[1][1][j][2], time, np.NaN, np.NaN, temp[1][1][j][0], temp[1][1][j][1], 1, 1, 'G')

                    cnt += 1
            
                # D Ï†ïÎ≥¥ Ï±ÑÏõåÎÑ£Ïñ¥Ï£ºÍ∏∞                     
                for directTrainNum in directTrainSet:
                    result.loc[(result["ÏöîÏùº"] == week) & (result["Î∞©Ìñ•"] == inout) & (
                        result["Ïó¥Ï∞®Î≤àÌò∏"] == directTrainNum), "Í∏âÌñâÏÑ†"] = "D"
                    
    # Ï¥àÎã®ÏúÑ Î≤ÑÎ¶º
    result["ÎèÑÏ∞©ÏãúÍ∞Ñ"] = result["ÎèÑÏ∞©ÏãúÍ∞Ñ"].str.slice(start=0, stop=5)

    return result

In [50]:
# Î≥ÄÌòï ÏûêÎèôÌôî ÏΩîÎìú

routes_korail = ["Í≤ΩÍ∞ïÏÑ†", "Í≤ΩÏùòÏ§ëÏïôÏÑ†", "Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï", "Í≤ΩÏ∂òÏÑ†", "Í≤ΩÏ∂òÏÑ†_Í¥ëÏö¥ÎåÄ", "ÏÑúÌï¥ÏÑ†", "ÏàòÏù∏Î∂ÑÎãπÏÑ†"]

for route in routes_korail:
    temp = [[0] for i in range(3)]
    
    weekBound = 3
    inoutBound = 3

    if route == "Í≤ΩÏ∂òÏÑ†_Í¥ëÏö¥ÎåÄ":
        weekBound = 2
    
    for i in range(1, weekBound) :    
        for j in range(1, inoutBound) :
            temp[i].append(pd.read_csv(
                'timetable/origin/{0}_{1}_{2}.csv'.format(route, i, j), header=None))            
        
            # Ïª¨ÎüºÏóê Ìè¨Ìï®Îêú Í≥µÎ∞± nullÏ≤òÎ¶¨
            temp[i][j] = temp[i][j].replace(
                to_replace=r'^[\s]+$', value=np.NaN, regex=True)
            
            temp[i][j].dropna(how='all', axis='columns')

    result = mkKorailTableToSeoulTable("Í≤ΩÏùòÏ§ëÏïôÏÑ†" if route == "Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï" else "Í≤ΩÏ∂òÏÑ†" if route == "Í≤ΩÏ∂òÏÑ†_Í¥ëÏö¥ÎåÄ" else route, temp, weekBound, inoutBound)
    result.to_csv("timetable/result/" + route + ".csv")

##### 3-d. Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï, Í≤ΩÏ∂òÏÑ†_Í¥ëÏö¥ÎåÄ Ìï©ÏπòÍ∏∞

In [ ]:
GyeongChung_ImJean = pd.read_csv('timetable/result/Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï.csv')
GyeongChung_ImJean = GyeongChung_ImJean.drop(columns=["Unnamed: 0"])

GyeongChung_ImJean

# Î∞©Ìñ• Îí§ÏßëÍ∏∞ (Í≤ΩÏùòÏ§ëÏïôÏÑ†Í≥º Î∞©Ìñ• Î∞òÎåÄÏûÑ)
GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 1] = 3
GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 2] = 1
GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 3] = 2

GyeongChung_ImJean.to_csv("timetable/result/Í≤ΩÏùòÏ§ëÏïôÏÑ†_ÏûÑÏßÑÍ∞ï.csv")

C:\Users\04746\AppData\Local\Temp\ipykernel_21208\2263633372.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 1] = 3
C:\Users\04746\AppData\Local\Temp\ipykernel_21208\2263633372.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 2] = 1
C:\Users\04746\AppData\Local\Temp\ipykernel_21208\2263633372.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeongChung_ImJean["Î∞©Ìñ•"][GyeongChung_ImJean["Î∞©Ìñ•"] == 3] = 2

In [ ]:
# .csv ÏàòÎèôÏúºÎ°ú Ìï©Ïπ®
# Ìï©ÏπòÎçò Ï§ë, Í∏∞Ï°¥ ÌååÏùºÏóêÏÑúÎèÑ ÏãúÍ∞ÑÏàú Ï†ïÎ†¨Ïù¥ Ï†úÎåÄÎ°ú ÎêòÏñ¥ÏûàÏßÄ ÏïäÏùÄ Í≤ÉÏùÑ ÌôïÏù∏
# ÏãúÍ∞Ñ ÏàúÏúºÎ°ú Ïû¨Ï†ïÎ†¨ ÌïÑÏöî -> in excel

##### 3-e. ÌÅ¨Î°§ÎßÅÏúºÎ°ú Î∂ÄÏ°±Ìïú ÏãúÍ∞ÑÌëú Ï∂îÍ∞Ä

In [11]:
# import
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.ie.options import Options

In [64]:
# ÏàòÏù∏Î∂ÑÎãπÏÑ†
# ÌÖåÏä§Ìä∏ ÏΩîÎìú ÏûëÏÑ±

options = webdriver.ChromeOptions()
options.add_argument('headless')
options.add_argument('window-size=1920x1080')
options.add_argument("disable-gpu")
driver = webdriver.Chrome('../../../../../../chromeDriver/chromedriver.exe'
                          , options=options)

# ÌéòÏù¥ÏßÄ Ïó¥Í∏∞
driver.get(url='https://www.shinbundang.co.kr/index.jsp')
time.sleep(1)

# ÌéòÏù¥ÏßÄ Ïù¥Îèô
driver.execute_script("callPage('/dxline/dxline3_1.jsp', '1', '4', '1')")
time.sleep(1)

html = driver.page_source
soupCB = BeautifulSoup(html, 'html.parser')

timetable = soupCB.select(
    "#tab_d03 > dd:nth-child(2) > table > tbody > tr > td")

print("Ïã†ÏÇ¨")
for i in range(0, len(timetable), 3):
    # ÏÉÅÌñâ
    if len(timetable[i]) == 1:
        print(timetable[i].string)
for i in range(2, len(timetable), 3):
    # ÌïòÌñâ
    if len(timetable[i]) == 1:
        print(timetable[i].string)
    elif len(timetable[i]) > 1:
        temp = list(timetable[i])
        for j in range(len(temp)):
            print(temp[j].get_text(), end="")
        print()

# Ìú¥Ïùº ÏãúÍ∞ÑÌëú Ïù¥Îèô
driver.execute_script("tab('tab_d03', 1)")
time.sleep(1)

# Îã§Î•∏ ÏãúÍ∞ÑÌëú Ïù¥Îèô
driver.execute_script("javascript:search('SB001')") # ~SB016ÍπåÏßÄ Ï°¥Ïû¨
time.sleep(1)

# ÌéòÏù¥ÏßÄ Îã´Í∏∞
driver.close()

Ïã†ÏÇ¨
30 42 55
06 18 30 42 54
04 14 21 27 33 38 43 48 53 58
03 08 13 18 23 28 33 38 43 48 53 58
03 08 13 18 23 28 33 38 43 49 55
02 08(Ï†ïÏûê) 14 21 29 37 45 53
01 08 16 24 32 40 48 56
04 12 20 28 36 44 52
00 08 16 24 32 40 48 56
04 12 20 28 36 44 52
00 08 16 24 32 40 48 56
04 12 20 28 36 44 52
00 08 16 24 32 40 48 56
04 12 18 23 28 33 38 43 48 53 58
03 08 13 18 23 28 33 38 43 48 53 58
03 08 13 18 23 28 33 38 43 49 55
01 08 15 22 29 36 43 50 57
04 11 18 25 32 39 46 53
00 07 15 24 32(Ï†ïÏûê) 40 50
00 10(Ï†ïÏûê) 21(Ï†ïÏûê)

3-e-i. Ïã†Î∂ÑÎãπÏÑ†

In [137]:
# Ïã†Î∂ÑÎãπÏÑ† ÏãúÍ∞ÑÌëú ÌÅ¨Î°§ÎßÅ ÏΩîÎìú
def sinBundangScrapper():
    options = webdriver.ChromeOptions()
    options.add_argument('headless')
    options.add_argument('window-size=1920x1080')
    options.add_argument("disable-gpu")
    driver = webdriver.Chrome(
        '../../../../../../chromeDriver/chromedriver.exe', options=options)

    # ÌéòÏù¥ÏßÄ Ïó¥Í∏∞
    driver.get(url='https://www.shinbundang.co.kr')
    time.sleep(1)

    # ÌéòÏù¥ÏßÄ Ïù¥Îèô
    driver.execute_script("callPage('/dxline/dxline3_1.jsp', '1', '4', '1')")
    time.sleep(1)

    stations = ["Ïã†ÏÇ¨", "ÎÖºÌòÑ", "Ïã†ÎÖºÌòÑ", "Í∞ïÎÇ®", "ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)", "ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)", "Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨", "ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)", "Ï†ïÏûê", "ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)",
                "ÎèôÏ≤ú", "ÏàòÏßÄÍµ¨Ï≤≠", "ÏÑ±Î≥µ", "ÏÉÅÌòÑ", "Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)"]
    nextCodes = ["SB002", "SB003", "SB004", "SB005", "SB006", "SB007", "SB008",
                 "SB009", "SB010", "SB011", "SB012", "SB013", "SB014", "SB015", "SB016", ""]
    prefixes = ["05:", "06:", "07:", "08:", "09:", "10:", "11:", "12:", "13:", "14:",
                "15:", "16:", "17:", "18:", "19:", "20:", "21:", "22:", "23:", "24:", "25:"]
    
    constants = list(zip(stations, nextCodes))

    cnt = 0
    errInd = []
    result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏",
                          "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])

    for station, nextCode in constants:
        html = driver.page_source
        soupCB = BeautifulSoup(html, 'html.parser')

        # ÌëúÏóêÏÑú ÎÇ¥Ïö© Í∞ÄÏ†∏Ïò§Í∏∞
        timetables = ["",
                      soupCB.select(
                          "#tab_d03 > dd:nth-child(2) > table > tbody > tr > td"),
                      soupCB.select(
                          "#tab_d03 > dd:nth-child(4) > table > tbody > tr > td")]

        for week in range(1, 3):
            for i in range(0, len(timetables[week]), 3):
                # ÏÉÅÌñâ
                if len(timetables[week][i]) == 0:
                    continue
                else:
                    arr = timetables[week][i].string.split(" ")

                for ele in arr:
                    timeStr = prefixes[i // 3] + ele

                    result.loc[cnt] = ["Ïã†Î∂ÑÎãπÏÑ†", np.NaN, np.NaN,
                                       station, np.NaN, timeStr, np.NaN, np.NaN, "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)", "Ïã†ÏÇ¨", week, 1, "G"]
                    cnt += 1

            for i in range(2, len(timetables[week]), 3):
                # ÌïòÌñâ
                if len(timetables[week][i]) == 0:
                    continue
                elif len(timetables[week][i]) == 1:
                    arr = timetables[week][i].string.split(" ")
                else:
                    arr = list(timetables[week][i])
                    newArr = []
                    for ele in arr:
                        if str(type(ele)) == "<class 'bs4.element.Tag'>":
                            ele = ele.get_text()
                            newArr.append(ele[:2])
                        else:
                            ele = ele.split(" ")
                            newArr.extend(ele)

                    arr = newArr

                for ele in arr:
                    ele = ele.strip()

                    if ele == "":
                        continue

                    timeStr = prefixes[i // 3] + ele
                    if len(timeStr) != 5:
                        if len(timeStr) == 9 and timeStr[5] == '(':
                            timeStr = timeStr[:5]
                        else :
                            errInd.append(cnt)
                            
                    result.loc[cnt] = ["Ïã†Î∂ÑÎãπÏÑ†", np.NaN, np.NaN,
                                       station, np.NaN, timeStr, np.NaN, np.NaN, "Ïã†ÏÇ¨", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)", week, 2, "G"]
                    cnt += 1

        # Îã§Î•∏ ÏãúÍ∞ÑÌëú Ïù¥Îèô
        if nextCode != "":
            driver.execute_script(
                "search('{0}')".format(nextCode))  # ~SB016ÍπåÏßÄ Ï°¥Ïû¨
            time.sleep(1)

    # ÌéòÏù¥ÏßÄ Îã´Í∏∞
    driver.close()
    
    print(errInd)
    return result

In [138]:
# # Ìï®Ïàò ÏàòÌñâ ÌõÑ ÏóëÏÖÄÏóê Ï†ÄÏû•Ìï¥ Î≥¥Í∏∞

# sinBundang = sinBundangScrapper()
# sinBundang

[]

,ÎÖ∏ÏÑ†Î™Ö,Ïô∏Î∂ÄÏΩîÎìú,Ïó≠Î≤àÌò∏,Ïó≠ÏÇ¨Î™Ö,Ïó¥Ï∞®Î≤àÌò∏,ÎèÑÏ∞©ÏãúÍ∞Ñ,Ï∂úÎ∞úÏó≠Î≤àÌò∏,ÎèÑÏ∞©Ïó≠Î≤àÌò∏,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
0,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Ïã†ÏÇ¨,NaN,05:30,NaN,NaN,Ïã†ÏÇ¨,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),1,2,G
1,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Ïã†ÏÇ¨,NaN,05:42,NaN,NaN,Ïã†ÏÇ¨,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),1,2,G
2,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Ïã†ÏÇ¨,NaN,05:55,NaN,NaN,Ïã†ÏÇ¨,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),1,2,G
3,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Ïã†ÏÇ¨,NaN,06:06,NaN,NaN,Ïã†ÏÇ¨,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),1,2,G
4,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Ïã†ÏÇ¨,NaN,06:18,NaN,NaN,Ïã†ÏÇ¨,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),1,2,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8849,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),NaN,22:46,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),Ïã†ÏÇ¨,2,1,G
8850,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),NaN,22:54,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),Ïã†ÏÇ¨,2,1,G
8851,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),NaN,23:02,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),Ïã†ÏÇ¨,2,1,G
8852,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),NaN,23:11,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),Ïã†ÏÇ¨,2,1,G
8853,Ïã†Î∂ÑÎãπÏÑ†,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),NaN,23:21,NaN,NaN,Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ),Ïã†ÏÇ¨,2,1,G

In [139]:
# sinBundang.to_csv("timetable/result/Ïã†Î∂ÑÎãπÏÑ†.csv")

3-e-ii. Ïã†Î¶ºÏÑ†

In [221]:
# import

import re

In [226]:
# Ïã†Î¶ºÏÑ† ÏãúÍ∞ÑÌëú ÌÅ¨Î°§ÎßÅ ÏΩîÎìú
def sillimScrapper():
    options = webdriver.ChromeOptions()
    options.add_argument('headless')
    options.add_argument('window-size=1920x1080')
    options.add_argument("disable-gpu")
    driver = webdriver.Chrome(
        '../../../../../../chromeDriver/chromedriver.exe', options=options)


    codes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11"]
    prefixes = ["05:", "06:", "07:", "08:", "09:", "10:", "11:", "12:", "13:", "14:",
                "15:", "16:", "17:", "18:", "19:", "20:", "21:", "22:", "23:", "24:", "25:"]

    cnt = 0
    errInd = []
    result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏",
                          "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])

    for code in codes:
        # ÌéòÏù¥ÏßÄ Ïó¥Í∏∞
        driver.get(
            url='http://www.sillimlrt.com/kr/html/sub01/010102{0}.html'.format(code))
        time.sleep(1)
    
        html = driver.page_source
        soupCB = BeautifulSoup(html, 'html.parser')

        # ÌëúÏóêÏÑú ÎÇ¥Ïö© Í∞ÄÏ†∏Ïò§Í∏∞
        station = soupCB.select_one("#location > h2")
        station = station.get_text()
        
        timetables = ["", 
                      ["",
                      soupCB.select(
                          "#tab1 > div.rail_schedule > div:nth-child(2) > div > table > tbody"),
                      soupCB.select(
                          "#tab1 > div.rail_schedule > div:nth-child(1) > div > table > tbody")],
                      ["",
                      soupCB.select(
                          "#tab2 > div.rail_schedule > div:nth-child(2) > div > table > tbody"),
                      soupCB.select(
                          "#tab2 > div.rail_schedule > div:nth-child(1) > div > table > tbody")]]
                        
        for week in range(1, 3):
            for inout in range(1, 3):
                arr = list(timetables[week][inout][0])

                for i in range(1, len(arr), 2):
                    temp = arr[i].find("td").get_text()
                    temp.strip()
                    if temp == "" or temp == "-":
                        continue
                    else:
                        temp = re.split(r',| ', temp)

                    for ele in temp:
                        ele = ele.strip()
                        if ele == "" or ele = "-":
                            continue
                        
                        timeStr = prefixes[i // 2] + ele
                        
                        if len(timeStr) != 5:
                            errInd.append(cnt)

                        result.loc[cnt] = ["Ïã†Î¶ºÏÑ†", np.NaN, np.NaN,
                                           station, np.NaN, timeStr, np.NaN, np.NaN, "Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ)" if inout == 1 else "ÏÉõÍ∞ï", "ÏÉõÍ∞ï" if inout == 1 else "Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ)", week, inout, "G"]
                        cnt += 1

    # ÌéòÏù¥ÏßÄ Îã´Í∏∞
    driver.close()

    print(errInd)
    return result

In [227]:
# sillim = sillimScrapper()
# sillim

[598, 606, 832, 1054, 1543, 1694, 6299, 6525]

,ÎÖ∏ÏÑ†Î™Ö,Ïô∏Î∂ÄÏΩîÎìú,Ïó≠Î≤àÌò∏,Ïó≠ÏÇ¨Î™Ö,Ïó¥Ï∞®Î≤àÌò∏,ÎèÑÏ∞©ÏãúÍ∞Ñ,Ï∂úÎ∞úÏó≠Î≤àÌò∏,ÎèÑÏ∞©Ïó≠Î≤àÌò∏,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
0,Ïã†Î¶ºÏÑ†,NaN,NaN,ÏÉõÍ∞ï,NaN,05:30,NaN,NaN,ÏÉõÍ∞ï,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),1,2,G
1,Ïã†Î¶ºÏÑ†,NaN,NaN,ÏÉõÍ∞ï,NaN,05:40,NaN,NaN,ÏÉõÍ∞ï,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),1,2,G
2,Ïã†Î¶ºÏÑ†,NaN,NaN,ÏÉõÍ∞ï,NaN,05:50,NaN,NaN,ÏÉõÍ∞ï,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),1,2,G
3,Ïã†Î¶ºÏÑ†,NaN,NaN,ÏÉõÍ∞ï,NaN,06:00,NaN,NaN,ÏÉõÍ∞ï,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),1,2,G
4,Ïã†Î¶ºÏÑ†,NaN,NaN,ÏÉõÍ∞ï,NaN,06:10,NaN,NaN,ÏÉõÍ∞ï,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),1,2,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6879,Ïã†Î¶ºÏÑ†,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),NaN,23:04,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),ÏÉõÍ∞ï,2,1,G
6880,Ïã†Î¶ºÏÑ†,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),NaN,23:14,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),ÏÉõÍ∞ï,2,1,G
6881,Ïã†Î¶ºÏÑ†,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),NaN,23:24,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),ÏÉõÍ∞ï,2,1,G
6882,Ïã†Î¶ºÏÑ†,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),NaN,23:34,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),ÏÉõÍ∞ï,2,1,G
6883,Ïã†Î¶ºÏÑ†,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),NaN,23:44,NaN,NaN,Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ),ÏÉõÍ∞ï,2,1,G

In [228]:
# sillim.to_csv("timetable/result/Ïã†Î¶ºÏÑ†.csv")

3-e-iii. Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†

In [237]:
# Ïù¥ÏÉÅÍ∞í ÌôïÏù∏
# ÌôïÏù∏ Í≤∞Í≥º, ÏõêÎûòÎ∂ÄÌÑ∞ Ïù¥ÏÉÅÌïú Í∞íÏù¥ ÌéòÏù¥ÏßÄÏóê Í∏∞Î°ùÎêòÏñ¥ ÏûàÏóàÏùå
# ÏàòÎèôÏúºÎ°ú ÏàòÏ†ï

sillim = pd.read_csv("timetable/result/Ïã†Î¶ºÏÑ†.csv")
sillim.info()

print("ÎèÑÏ∞©ÏãúÍ∞Ñ Í∏∏Ïù¥Í∞Ä 5Í∞Ä ÏïÑÎãå Ìñâ Í∞úÏàò:", len(sillim[sillim["ÎèÑÏ∞©ÏãúÍ∞Ñ"].str.len() != 5]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6882 entries, 0 to 6881
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6882 non-null   int64
 1   ÎÖ∏ÏÑ†Î™Ö         6882 non-null   object
 2   Ïô∏Î∂ÄÏΩîÎìú        0 non-null      float64
 3   Ïó≠Î≤àÌò∏         0 non-null      float64
 4   Ïó≠ÏÇ¨Î™Ö         6882 non-null   object
 5   Ïó¥Ï∞®Î≤àÌò∏        0 non-null      float64
 6   ÎèÑÏ∞©ÏãúÍ∞Ñ        6882 non-null   object
 7   Ï∂úÎ∞úÏó≠Î≤àÌò∏       0 non-null      float64
 8   ÎèÑÏ∞©Ïó≠Î≤àÌò∏       0 non-null      float64
 9   Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö       6882 non-null   object
 10  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö       6882 non-null   object
 11  ÏöîÏùº          6882 non-null   int64
 12  Î∞©Ìñ•          6882 non-null   int64
 13  Í∏âÌñâÏÑ†         6882 non-null   object
dtypes: float64(5), int64(3), object(6)
memory usage: 752.8+ KB
ÎèÑÏ∞©ÏãúÍ∞Ñ Í∏∏Ïù¥Í∞Ä 5Í∞Ä ÏïÑÎãå Ìñâ Í∞úÏàò: 0

In [260]:
# Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† ÏãúÍ∞ÑÌëú ÌÅ¨Î°§ÎßÅ ÏΩîÎìú
def uiScrapper():
    options = webdriver.ChromeOptions()
    options.add_argument('headless')
    options.add_argument('window-size=1920x1080')
    options.add_argument("disable-gpu")
    driver = webdriver.Chrome(
        '../../../../../../chromeDriver/chromedriver.exe', options=options)

    codes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13"]
    prefixes = ["05:", "06:", "07:", "08:", "09:", "10:", "11:", "12:", "13:", "14:",
                "15:", "16:", "17:", "18:", "19:", "20:", "21:", "22:", "23:", "24:", "25:"]

    cnt = 0
    errInd = []
    result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏",
                          "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])

    for code in codes:
        # ÌéòÏù¥ÏßÄ Ïó¥Í∏∞
        driver.get(
            url='http://ui-line.com/html/intro/intro00/intro_00_{0}.php?pGubn=T2'.format(code))
        time.sleep(1)

        html = driver.page_source
        soupCB = BeautifulSoup(html, 'html.parser')

        # ÌëúÏóêÏÑú ÎÇ¥Ïö© Í∞ÄÏ†∏Ïò§Í∏∞
        station = soupCB.select_one(
            "#fare > div > div > ul.route_station > li:nth-child(2) > p")
        station = station.get_text()

        timetables = ["",
                       soupCB.select(
                           "#tab1 > div:nth-child(2) > table > tbody > tr > td"),
                       soupCB.select(
                           "#tab2 > div:nth-child(2) > table > tbody > tr > td")]

        for week in range(1, 3):
            for i in range(2, len(timetables[week]), 3):
                # ÏÉÅÌñâ
                temp = timetables[week][i].get_text()
                
                if len(temp) == 0:
                    continue
                else:
                    arr = temp.split(" ")

                for ele in arr:
                    if ele == "":
                        continue 
                    
                    timeStr = prefixes[i // 3] + ele
                    
                    if len(timeStr) != 5:
                        errInd.append(cnt)

                    result.loc[cnt] = ["Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†", np.NaN, np.NaN,
                                       station, np.NaN, timeStr, np.NaN, np.NaN, "Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥", "Ïã†ÏÑ§Îèô", week, 1, "G"]
                    cnt += 1

            for i in range(0, len(timetables[week]), 3):
                # ÌïòÌñâ
                temp = timetables[week][i].get_text()
                
                if len(temp) == 0:
                    continue
                else:
                    arr = temp.split(" ")

                for ele in arr:
                    if ele == "":
                        continue 
                    
                    timeStr = prefixes[i // 3] + ele
                    
                    if len(timeStr) != 5:
                        errInd.append(cnt)

                    result.loc[cnt] = ["Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†", np.NaN, np.NaN,
                                       station, np.NaN, timeStr, np.NaN, np.NaN, "Ïã†ÏÑ§Îèô", "Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥", week, 2, "G"]
                    cnt += 1

    # ÌéòÏù¥ÏßÄ Îã´Í∏∞
    driver.close()

    print(errInd)
    return result

In [261]:
# ui = uiScrapper()
# ui

[]

,ÎÖ∏ÏÑ†Î™Ö,Ïô∏Î∂ÄÏΩîÎìú,Ïó≠Î≤àÌò∏,Ïó≠ÏÇ¨Î™Ö,Ïó¥Ï∞®Î≤àÌò∏,ÎèÑÏ∞©ÏãúÍ∞Ñ,Ï∂úÎ∞úÏó≠Î≤àÌò∏,ÎèÑÏ∞©Ïó≠Î≤àÌò∏,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
0,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,NaN,05:30,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,Ïã†ÏÑ§Îèô,1,1,G
1,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,NaN,05:42,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,Ïã†ÏÑ§Îèô,1,1,G
2,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,NaN,05:54,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,Ïã†ÏÑ§Îèô,1,1,G
3,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,NaN,06:06,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,Ïã†ÏÑ§Îèô,1,1,G
4,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,NaN,06:13,NaN,NaN,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,Ïã†ÏÑ§Îèô,1,1,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11277,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Ïã†ÏÑ§Îèô,NaN,22:49,NaN,NaN,Ïã†ÏÑ§Îèô,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,2,2,G
11278,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Ïã†ÏÑ§Îèô,NaN,23:01,NaN,NaN,Ïã†ÏÑ§Îèô,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,2,2,G
11279,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Ïã†ÏÑ§Îèô,NaN,23:13,NaN,NaN,Ïã†ÏÑ§Îèô,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,2,2,G
11280,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Ïã†ÏÑ§Îèô,NaN,23:25,NaN,NaN,Ïã†ÏÑ§Îèô,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,2,2,G
11281,Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†,NaN,NaN,Ïã†ÏÑ§Îèô,NaN,23:37,NaN,NaN,Ïã†ÏÑ§Îèô,Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥,2,2,G

In [262]:
# ui.to_csv("./timetable/result/Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†.csv")

In [273]:
# Ïã†Î∂ÑÎãπÏÑ† Ïó≠ÏÇ¨Î™Ö ÏöîÏùº Î∞©Ìñ•Î≥Ñ Í∞úÏàò ÏÑ∏Í∏∞
stations = ["Ïã†ÏÇ¨", "ÎÖºÌòÑ", "Ïã†ÎÖºÌòÑ", "Í∞ïÎÇ®", "ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)", "ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)", "Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨", "ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)", "Ï†ïÏûê", "ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)",
            "ÎèôÏ≤ú", "ÏàòÏßÄÍµ¨Ï≤≠", "ÏÑ±Î≥µ", "ÏÉÅÌòÑ", "Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)"]

for week in range(1, 3):
    for inout in range(1, 3):        
        for station in stations:
            print(station, week, inout, len(sinBundang[(sinBundang["Ïó≠ÏÇ¨Î™Ö"] == station) & (sinBundang["ÏöîÏùº"] == week) & (sinBundang["Î∞©Ìñ•"] == inout)]))
            
## ÌôïÏù∏ Í≤∞Í≥º, Ï†ïÏûê/ÌåêÍµêÌñâÏùÑ Í≥†Î†§Ìï† ÌïÑÏöî ÏûàÏùå

Ïã†ÏÇ¨ 1 1 0
ÎÖºÌòÑ 1 1 163
Ïã†ÎÖºÌòÑ 1 1 163
Í∞ïÎÇ® 1 1 163
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 1 1 163
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 1 1 163
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 1 1 163
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 1 1 163
Ï†ïÏûê 1 1 162
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 1 1 160
ÎèôÏ≤ú 1 1 160
ÏàòÏßÄÍµ¨Ï≤≠ 1 1 160
ÏÑ±Î≥µ 1 1 160
ÏÉÅÌòÑ 1 1 160
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 1 1 160
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 1 1 160
Ïã†ÏÇ¨ 1 2 163
ÎÖºÌòÑ 1 2 163
Ïã†ÎÖºÌòÑ 1 2 163
Í∞ïÎÇ® 1 2 163
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 1 2 163
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 1 2 163
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 1 2 163
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 1 2 163
Ï†ïÏûê 1 2 160
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 1 2 160
ÎèôÏ≤ú 1 2 160
ÏàòÏßÄÍµ¨Ï≤≠ 1 2 160
ÏÑ±Î≥µ 1 2 160
ÏÉÅÌòÑ 1 2 160
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 1 2 160
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 1 2 0
Ïã†ÏÇ¨ 2 1 0
ÎÖºÌòÑ 2 1 135
Ïã†ÎÖºÌòÑ 2 1 135
Í∞ïÎÇ® 2 1 135
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 2 1 135
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 2 1 135
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 2 1 135
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 2 1 135
Ï†ïÏûê 2 1 134
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 2 1 132
ÎèôÏ≤ú 2 1 132
ÏàòÏßÄÍµ¨Ï≤≠ 2 1 132
ÏÑ±Î≥µ 2 1 132
ÏÉÅÌòÑ 2 1 132
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 2 1 132
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 2 1 132
Ïã†ÏÇ¨ 2 2 135
ÎÖºÌòÑ 2 2 135
Ïã†ÎÖºÌòÑ 2 2 135
Í∞ïÎÇ® 2 2 135
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 2 2 135
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 2 2 135
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 2 2 135
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 2 2 135
Ï†ïÏûê 2 2 132
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 2 2 132
ÎèôÏ≤ú 2 2 132
ÏàòÏßÄÍµ¨Ï≤≠ 2 2 132
ÏÑ±Î≥µ 2 2 132
ÏÉÅÌòÑ 2 2 132
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 2 2 132
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 2 2 0

In [272]:
# Ïã†Î¶ºÏÑ† Ïó≠ÏÇ¨Î™Ö ÏöîÏùº Î∞©Ìñ•Î≥Ñ Í∞úÏàò ÏÑ∏Í∏∞
stations = ["ÏÉõÍ∞ï", "ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)", "ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠", "Î≥¥ÎùºÎß§", "Î≥¥ÎùºÎß§Í≥µÏõê", "Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)", "ÎãπÍ≥°", "Ïã†Î¶º", "ÏÑúÏõê", "ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥", "Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ)"]

cnt = 0
for week in range(1, 3):
    for inout in range(1, 3):
        for station in stations:
            cnt += len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)])
            print(station, week, inout, len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)]))

ÏÉõÍ∞ï 1 1 0
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 1 192
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 1 192
Î≥¥ÎùºÎß§ 1 1 192
Î≥¥ÎùºÎß§Í≥µÏõê 1 1 193
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 1 192
ÎãπÍ≥° 1 1 192
Ïã†Î¶º 1 1 192
ÏÑúÏõê 1 1 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 1 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 1 191
ÏÉõÍ∞ï 1 2 182
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 2 184
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 2 181
Î≥¥ÎùºÎß§ 1 2 182
Î≥¥ÎùºÎß§Í≥µÏõê 1 2 181
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 2 192
ÎãπÍ≥° 1 2 192
Ïã†Î¶º 1 2 191
ÏÑúÏõê 1 2 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 2 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 2 0
ÏÉõÍ∞ï 2 1 0
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 1 156
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 1 156
Î≥¥ÎùºÎß§ 2 1 156
Î≥¥ÎùºÎß§Í≥µÏõê 2 1 156
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 1 156
ÎãπÍ≥° 2 1 156
Ïã†Î¶º 2 1 156
ÏÑúÏõê 2 1 156
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 1 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 1 156
ÏÉõÍ∞ï 2 2 150
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 2 150
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 2 150
Î≥¥ÎùºÎß§ 2 2 150
Î≥¥ÎùºÎß§Í≥µÏõê 2 2 150
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 2 157
ÎãπÍ≥° 2 2 157
Ïã†Î¶º 2 2 156
ÏÑúÏõê 2 2 157
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 2 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 2 0

In [280]:
# ÏàòÎèô ÏàòÏ†ï ÌõÑ Ïû¨ÌôïÏù∏
sillim = pd.read_csv("timetable/result/Ïã†Î¶ºÏÑ†.csv")
stations = ["ÏÉõÍ∞ï", "ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)", "ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠", "Î≥¥ÎùºÎß§", "Î≥¥ÎùºÎß§Í≥µÏõê",
            "Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)", "ÎãπÍ≥°", "Ïã†Î¶º", "ÏÑúÏõê", "ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥", "Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ)"]

cnt = 0
for week in range(1, 3):
    for inout in range(1, 3):
        for station in stations:
            cnt += len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)])
            print(station, week, inout, len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)]))

ÏÉõÍ∞ï 1 1 0
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 1 192
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 1 192
Î≥¥ÎùºÎß§ 1 1 192
Î≥¥ÎùºÎß§Í≥µÏõê 1 1 192
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 1 192
ÎãπÍ≥° 1 1 192
Ïã†Î¶º 1 1 192
ÏÑúÏõê 1 1 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 1 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 1 192
ÏÉõÍ∞ï 1 2 192
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 2 192
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 2 192
Î≥¥ÎùºÎß§ 1 2 192
Î≥¥ÎùºÎß§Í≥µÏõê 1 2 192
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 2 192
ÎãπÍ≥° 1 2 192
Ïã†Î¶º 1 2 192
ÏÑúÏõê 1 2 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 2 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 2 0
ÏÉõÍ∞ï 2 1 0
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 1 156
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 1 156
Î≥¥ÎùºÎß§ 2 1 156
Î≥¥ÎùºÎß§Í≥µÏõê 2 1 156
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 1 156
ÎãπÍ≥° 2 1 156
Ïã†Î¶º 2 1 156
ÏÑúÏõê 2 1 156
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 1 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 1 156
ÏÉõÍ∞ï 2 2 156
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 2 156
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 2 156
Î≥¥ÎùºÎß§ 2 2 156
Î≥¥ÎùºÎß§Í≥µÏõê 2 2 156
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 2 156
ÎãπÍ≥° 2 2 156
Ïã†Î¶º 2 2 156
ÏÑúÏõê 2 2 156
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 2 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 2 0

In [275]:
# Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† Ïó≠ÏÇ¨Î™Ö ÏöîÏùº Î∞©Ìñ•Î≥Ñ Í∞úÏàò ÏÑ∏Í∏∞
stations = ["Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥", "ÏÜîÎ∞≠Í≥µÏõê", "4¬∑19ÎØºÏ£ºÎ¨òÏßÄ", "Í∞ÄÏò§Î¶¨", "ÌôîÍ≥Ñ", "ÏÇºÏñë", "ÏÇºÏñëÏÇ¨Í±∞Î¶¨", "ÏÜîÏÉò", "Î∂ÅÌïúÏÇ∞Î≥¥Íµ≠Î¨∏", "Ï†ïÎ¶â", "ÏÑ±Ïã†Ïó¨ÎåÄÏûÖÍµ¨", "Î≥¥Î¨∏", "Ïã†ÏÑ§Îèô"]

cnt = 0
for week in range(1, 3):
    for inout in range(1, 3):
        for station in stations:
            cnt += len(ui[(ui["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                ui["ÏöîÏùº"] == week) & (ui["Î∞©Ìñ•"] == inout)])
            print(station, week, inout, len(ui[(ui["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                ui["ÏöîÏùº"] == week) & (ui["Î∞©Ìñ•"] == inout)]))

Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥ 1 1 258
ÏÜîÎ∞≠Í≥µÏõê 1 1 258
4¬∑19ÎØºÏ£ºÎ¨òÏßÄ 1 1 258
Í∞ÄÏò§Î¶¨ 1 1 258
ÌôîÍ≥Ñ 1 1 258
ÏÇºÏñë 1 1 258
ÏÇºÏñëÏÇ¨Í±∞Î¶¨ 1 1 258
ÏÜîÏÉò 1 1 258
Î∂ÅÌïúÏÇ∞Î≥¥Íµ≠Î¨∏ 1 1 258
Ï†ïÎ¶â 1 1 258
ÏÑ±Ïã†Ïó¨ÎåÄÏûÖÍµ¨ 1 1 258
Î≥¥Î¨∏ 1 1 258
Ïã†ÏÑ§Îèô 1 1 0
Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥ 1 2 0
ÏÜîÎ∞≠Í≥µÏõê 1 2 258
4¬∑19ÎØºÏ£ºÎ¨òÏßÄ 1 2 258
Í∞ÄÏò§Î¶¨ 1 2 258
ÌôîÍ≥Ñ 1 2 258
ÏÇºÏñë 1 2 258
ÏÇºÏñëÏÇ¨Í±∞Î¶¨ 1 2 258
ÏÜîÏÉò 1 2 258
Î∂ÅÌïúÏÇ∞Î≥¥Íµ≠Î¨∏ 1 2 258
Ï†ïÎ¶â 1 2 258
ÏÑ±Ïã†Ïó¨ÎåÄÏûÖÍµ¨ 1 2 258
Î≥¥Î¨∏ 1 2 258
Ïã†ÏÑ§Îèô 1 2 258
Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥ 2 1 212
ÏÜîÎ∞≠Í≥µÏõê 2 1 212
4¬∑19ÎØºÏ£ºÎ¨òÏßÄ 2 1 214
Í∞ÄÏò§Î¶¨ 2 1 212
ÌôîÍ≥Ñ 2 1 212
ÏÇºÏñë 2 1 212
ÏÇºÏñëÏÇ¨Í±∞Î¶¨ 2 1 212
ÏÜîÏÉò 2 1 212
Î∂ÅÌïúÏÇ∞Î≥¥Íµ≠Î¨∏ 2 1 212
Ï†ïÎ¶â 2 1 212
ÏÑ±Ïã†Ïó¨ÎåÄÏûÖÍµ¨ 2 1 212
Î≥¥Î¨∏ 2 1 212
Ïã†ÏÑ§Îèô 2 1 0
Î∂ÅÌïúÏÇ∞Ïö∞Ïù¥ 2 2 0
ÏÜîÎ∞≠Í≥µÏõê 2 2 212
4¬∑19ÎØºÏ£ºÎ¨òÏßÄ 2 2 212
Í∞ÄÏò§Î¶¨ 2 2 212
ÌôîÍ≥Ñ 2 2 212
ÏÇºÏñë 2 2 212
ÏÇºÏñëÏÇ¨Í±∞Î¶¨ 2 2 212
ÏÜîÏÉò 2 2 212
Î∂ÅÌïúÏÇ∞Î≥¥Íµ≠Î¨∏ 2 2 212
Ï†ïÎ¶â 2 2 212
ÏÑ±Ïã†Ïó¨ÎåÄÏûÖÍµ¨ 2 2 212
Î≥¥Î¨∏ 2 2 212
Ïã†ÏÑ§Îèô 2 2 212

In [277]:
# 4¬∑19ÎØºÏ£ºÎ¨òÏßÄÏùò Ïù¥ÏÉÅÍ∞í ÏàòÎèô Ìï¥Í≤∞ - Ïπ¥Ïπ¥Ïò§ ÎÖ∏ÏÑ†ÎèÑ

ui = pd.read_csv("./timetable/result/Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†.csv")
print(len(ui[(ui["Ïó≠ÏÇ¨Î™Ö"] == "4¬∑19ÎØºÏ£ºÎ¨òÏßÄ") & (
    ui["ÏöîÏùº"] == 2) & (ui["Î∞©Ìñ•"] == 1)]))

212

### 4. ÏãúÍ∞ÑÌëú ÌòïÌÉú Î≥ÄÍ≤Ω

##### 4-a. Ïó¥Ï∞®Î≤àÌò∏ ÏûàÎäî ÏãúÍ∞ÑÌëú

In [7]:
def mkOldTableToNewTable(timetable):
    # Ï≤òÏùåÏóê Î≥ÄÍ≤ΩÌñàÎçò ÌòïÏãùÏùÑ Î∞õÏïÑ
    # ÏÉà ÌòïÏãù ÎßåÎì§Í∏∞

    cnt = 0
    trainNum = dict()
    colList = list(set(timetable["Ïó≠ÏÇ¨Î™Ö"])) + ["Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö",
                                             "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "Ï∂úÎ∞úÏãúÍ∞Ñ", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"]

    result = pd.DataFrame([], columns=colList)

    nowIndex = 0
    for i in range(len(timetable)):
        if str(timetable["Ïó¥Ï∞®Î≤àÌò∏"].loc[i]) + "/" + str(timetable["ÏöîÏùº"].loc[i]) + str(timetable["Î∞©Ìñ•"].loc[i]) not in trainNum:
            # ÏÉàÎ°ú Ï∂îÍ∞Ä
            trainNum[str(timetable["Ïó¥Ï∞®Î≤àÌò∏"].loc[i]) + "/" +
                     str(timetable["ÏöîÏùº"].loc[i]) + str(timetable["Î∞©Ìñ•"].loc[i])] = cnt

            result.loc[cnt] = [np.NaN] * len(colList)
            result["Ïó¥Ï∞®Î≤àÌò∏"].loc[cnt] = timetable["Ïó¥Ï∞®Î≤àÌò∏"].loc[i]
            result["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].loc[cnt] = timetable["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].loc[i]
            result["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].loc[cnt] = timetable["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].loc[i]
            result["ÏöîÏùº"].loc[cnt] = timetable["ÏöîÏùº"].loc[i]
            result["Î∞©Ìñ•"].loc[cnt] = timetable["Î∞©Ìñ•"].loc[i]

            if timetable["Í∏âÌñâÏÑ†"].loc[i] == "D":
                result["Í∏âÌñâÏÑ†"].loc[cnt] = True
            else:
                result["Í∏âÌñâÏÑ†"].loc[cnt] = False

            nowIndex = cnt
            cnt += 1
        else:
            # Ïù¥ÎØ∏ Ìï¥Îãπ Ïó¥Ï∞®Î≤àÌò∏Ïóê Ìï¥ÎãπÌïòÎäî tuple Ï°¥Ïû¨
            nowIndex = trainNum[str(timetable["Ïó¥Ï∞®Î≤àÌò∏"].loc[i]) + "/" +
                                str(timetable["ÏöîÏùº"].loc[i]) + str(timetable["Î∞©Ìñ•"].loc[i])]

        # nowIndexÎ•º ÌÜµÌï¥ Ï†ïÎ≥¥ ÎÑ£Í∏∞
        colName = timetable["Ïó≠ÏÇ¨Î™Ö"].loc[i]
        result[colName].loc[nowIndex] = timetable["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[i]

        if timetable["Ïó≠ÏÇ¨Î™Ö"].loc[i] == timetable["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].loc[i]:
            result["Ï∂úÎ∞úÏãúÍ∞Ñ"].loc[nowIndex] = timetable["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[i]
        if timetable["Ïó≠ÏÇ¨Î™Ö"].loc[i] == timetable["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].loc[i]:
            result["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[nowIndex] = timetable["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[i]

    return result

In [37]:
# ÌÖåÏä§Ìä∏
pd.set_option('mode.chained_assignment', None)
              
route1 = pd.read_csv("./timetable/result/1Ìò∏ÏÑ†.csv")
result1 = mkOldTableToNewTable(route1)

result1

# Ïã§Ï†ú ÏãúÍ∞ÑÌëúÎäî colabÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÎßåÎì¶ (ÏÜçÎèÑ Î¨∏Ï†úÎ°ú Ïù∏Ìï¥)

C:\Users\04746\AppData\Local\Temp\ipykernel_6584\1013325375.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  route1 = pd.read_csv("./timetable/result/1Ìò∏ÏÑ†.csv")

,Í∞ÄÎä•,ÏßÄÌñâ,ÌöåÎ£°,Í¥ÄÏïÖ,ÌôîÏÑú,Í∏àÏ≤úÍµ¨Ï≤≠,ÎèôÏù∏Ï≤ú,ÏÑúÏö∏Ïó≠,Î∞±Ïö¥,Ïô∏ÎåÄÏïû,...,ÎèÑÏõê,ÏñëÏ£º,Íµ∞Ìè¨,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,Ï∂úÎ∞úÏãúÍ∞Ñ,ÎèÑÏ∞©ÏãúÍ∞Ñ,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,False
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ïã†Ï∞Ω,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ï≤úÏïà,Ï≤≠ÎüâÎ¶¨,NaN,NaN,1.0,1.0,True

In [5]:
import warnings

warnings.simplefilter(
    action='ignore', category=FutureWarning)  # FutureWarning Ï†úÍ±∞
pd.set_option('mode.chained_assignment', None)

In [ ]:
for i in range(9):
  temp = pd.read_csv("./timetable/result/{0}Ìò∏ÏÑ†.csv".format(i + 1))
  result = mkOldTableToNewTable(temp)
  result.to_csv("./timetable/result_2/{0}Ìò∏ÏÑ†.csv".format(i + 1))

In [ ]:
names = ["Í≤ΩÏùòÏ§ëÏïôÏÑ†", "Í≤ΩÏ∂òÏÑ†", "ÏàòÏù∏Î∂ÑÎãπÏÑ†"]

for name in names:
  temp = pd.read_csv("./timetable/result/" + name + ".csv")
  result = mkOldTableToNewTable(temp)
  result.to_csv("./timetable/result_2/" + name + ".csv")

##### 4-b. Ïó¥Ï∞®Î≤àÌò∏ ÏóÜÎäî ÏãúÍ∞ÑÌëú

In [19]:
# Ïã†Î∂ÑÎãπÏÑ† ÌôïÏù∏
sinBundang = pd.read_csv("./timetable/result/Ïã†Î∂ÑÎãπÏÑ†.csv")

stations = ["Ïã†ÏÇ¨", "ÎÖºÌòÑ", "Ïã†ÎÖºÌòÑ", "Í∞ïÎÇ®", "ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)", "ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)", "Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨", "ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)", "Ï†ïÏûê", "ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)",
            "ÎèôÏ≤ú", "ÏàòÏßÄÍµ¨Ï≤≠", "ÏÑ±Î≥µ", "ÏÉÅÌòÑ", "Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)"]

for week in range(1, 3):
    for inout in range(1, 3):
        for station in stations:
            print(station, week, inout, len(sinBundang[(sinBundang["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sinBundang["ÏöîÏùº"] == week) & (sinBundang["Î∞©Ìñ•"] == inout)]))
            
# Ï¢ÖÏ†ê ÏóëÏÖÄ ÎßåÎì† Îí§ ÌôïÏù∏ - Ïã†ÏÇ¨, Ï†ïÏûê Î¨∏Ï†ú ÌôïÏù∏
# Îã§Ïãú Ìïú Î≤à Ï¢ÖÏ†ê ÏóëÏÖÄ ÎßåÎì† Îí§ Ïû¨ÌôïÏù∏ - Ï†ïÏûê Î¨∏Ï†ú ÌôïÏù∏

Ïã†ÏÇ¨ 1 1 163
ÎÖºÌòÑ 1 1 163
Ïã†ÎÖºÌòÑ 1 1 163
Í∞ïÎÇ® 1 1 163
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 1 1 163
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 1 1 163
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 1 1 163
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 1 1 163
Ï†ïÏûê 1 1 162
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 1 1 160
ÎèôÏ≤ú 1 1 160
ÏàòÏßÄÍµ¨Ï≤≠ 1 1 160
ÏÑ±Î≥µ 1 1 160
ÏÉÅÌòÑ 1 1 160
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 1 1 160
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 1 1 160
Ïã†ÏÇ¨ 1 2 163
ÎÖºÌòÑ 1 2 163
Ïã†ÎÖºÌòÑ 1 2 163
Í∞ïÎÇ® 1 2 163
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 1 2 163
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 1 2 163
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 1 2 163
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 1 2 163
Ï†ïÏûê 1 2 164
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 1 2 160
ÎèôÏ≤ú 1 2 160
ÏàòÏßÄÍµ¨Ï≤≠ 1 2 160
ÏÑ±Î≥µ 1 2 160
ÏÉÅÌòÑ 1 2 160
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 1 2 160
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 1 2 160
Ïã†ÏÇ¨ 2 1 135
ÎÖºÌòÑ 2 1 135
Ïã†ÎÖºÌòÑ 2 1 135
Í∞ïÎÇ® 2 1 135
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 2 1 135
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 2 1 135
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 2 1 135
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 2 1 135
Ï†ïÏûê 2 1 134
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 2 1 132
ÎèôÏ≤ú 2 1 132
ÏàòÏßÄÍµ¨Ï≤≠ 2 1 132
ÏÑ±Î≥µ 2 1 132
ÏÉÅÌòÑ 2 1 132
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 2 1 132
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 2 1 132
Ïã†ÏÇ¨ 2 2 135
ÎÖºÌòÑ 2 2 135
Ïã†ÎÖºÌòÑ 2 2 135
Í∞ïÎÇ® 2 2 135
ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠) 2 2 135
ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå) 2 2 135
Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨ 2 2 135
ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨) 2 2 135
Ï†ïÏûê 2 2 136
ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê) 2 2 132
ÎèôÏ≤ú 2 2 132
ÏàòÏßÄÍµ¨Ï≤≠ 2 2 132
ÏÑ±Î≥µ 2 2 132
ÏÉÅÌòÑ 2 2 132
Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ) 2 2 132
Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ) 2 2 132

In [22]:
# Í∞Å Ï∂úÎ∞ú->ÎèÑÏ∞©Ïó≠ Ï°∞Ìï© ÌôïÏù∏
ends = ["Ïã†ÏÇ¨", "ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)", "Ï†ïÏûê", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)"]
stations = ["Ïã†ÏÇ¨", "ÎÖºÌòÑ", "Ïã†ÎÖºÌòÑ", "Í∞ïÎÇ®", "ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)", "ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)", "Ï≤≠Í≥ÑÏÇ∞ÏûÖÍµ¨", "ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)", "Ï†ïÏûê", "ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)",
            "ÎèôÏ≤ú", "ÏàòÏßÄÍµ¨Ï≤≠", "ÏÑ±Î≥µ", "ÏÉÅÌòÑ", "Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)", "Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)"]
            
# for week in range(1, 3):
#     for inout in range(1, 3):
#         for start in ends:
#             for end in ends:
#                 if start == end: 
#                     continue
                
#                 for station in stations:
#                     count = len(sinBundang[(sinBundang["Ïó≠ÏÇ¨Î™Ö"] == station) & (sinBundang["ÏöîÏùº"] == week) & (sinBundang["Î∞©Ìñ•"] == inout) & (sinBundang["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] == start) & (sinBundang["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] == end)])
#                     print(station + " // " + start + "->" + end + " // " + str(week) + str(inout) + " : " + str(count))
            
# ÌôïÏù∏ Í≤∞Í≥º, Ïã†ÏÇ¨->Í¥ëÍµêÏóêÏÑú Î¨∏Ï†ú Î∞úÍ≤¨
# Îß® Ïïû Ïó¥Ï∞®Îäî Ï†ïÏûê->Í¥ëÍµêÎ°ú ÏàòÏ†ï

In [3]:
# Ïã†Î¶ºÏÑ† ÌôïÏù∏
sillim = pd.read_csv("./timetable/result/Ïã†Î¶ºÏÑ†.csv")

# Ïã†Î¶ºÏÑ† Ïó≠ÏÇ¨Î™Ö ÏöîÏùº Î∞©Ìñ•Î≥Ñ Í∞úÏàò ÏÑ∏Í∏∞
stations = ["ÏÉõÍ∞ï", "ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)", "ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠", "Î≥¥ÎùºÎß§", "Î≥¥ÎùºÎß§Í≥µÏõê",
            "Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)", "ÎãπÍ≥°", "Ïã†Î¶º", "ÏÑúÏõê", "ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥", "Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ)"]

cnt = 0
for week in range(1, 3):
    for inout in range(1, 3):
        for station in stations:
            cnt += len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)])
            print(station, week, inout, len(sillim[(sillim["Ïó≠ÏÇ¨Î™Ö"] == station) & (
                sillim["ÏöîÏùº"] == week) & (sillim["Î∞©Ìñ•"] == inout)]))

ÏÉõÍ∞ï 1 1 192
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 1 192
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 1 192
Î≥¥ÎùºÎß§ 1 1 192
Î≥¥ÎùºÎß§Í≥µÏõê 1 1 192
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 1 192
ÎãπÍ≥° 1 1 192
Ïã†Î¶º 1 1 192
ÏÑúÏõê 1 1 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 1 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 1 192
ÏÉõÍ∞ï 1 2 192
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 1 2 192
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 1 2 192
Î≥¥ÎùºÎß§ 1 2 192
Î≥¥ÎùºÎß§Í≥µÏõê 1 2 192
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 1 2 192
ÎãπÍ≥° 1 2 192
Ïã†Î¶º 1 2 192
ÏÑúÏõê 1 2 192
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 1 2 192
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 1 2 192
ÏÉõÍ∞ï 2 1 156
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 1 156
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 1 156
Î≥¥ÎùºÎß§ 2 1 156
Î≥¥ÎùºÎß§Í≥µÏõê 2 1 156
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 1 156
ÎãπÍ≥° 2 1 156
Ïã†Î¶º 2 1 156
ÏÑúÏõê 2 1 156
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 1 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 1 156
ÏÉõÍ∞ï 2 2 156
ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê) 2 2 156
ÏÑúÏö∏ÏßÄÎ∞©Î≥ëÎ¨¥Ï≤≠ 2 2 156
Î≥¥ÎùºÎß§ 2 2 156
Î≥¥ÎùºÎß§Í≥µÏõê 2 2 156
Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä) 2 2 156
ÎãπÍ≥° 2 2 156
Ïã†Î¶º 2 2 156
ÏÑúÏõê 2 2 156
ÏÑúÏö∏ÎåÄÎ≤§Ï≤òÌÉÄÏö¥ 2 2 156
Í¥ÄÏïÖÏÇ∞(ÏÑúÏö∏ÎåÄ) 2 2 156

In [ ]:
names = ["Ïã†Î¶ºÏÑ†", "Ïã†Î∂ÑÎãπÏÑ†", "Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†"]

for name in names:
  temp = pd.read_csv("./timetable/result/" + name + ".csv")
  result = mkOldTableToNewTable(temp)
  result.to_csv("./timetable/result_2/" + name + ".csv")

##### 4-c. Í≥µÌï≠Ï≤†ÎèÑÏÑ†

In [45]:
# Ìï®Ïàò Ï†ïÏùò
def mkPlainTableToSeoulTable(route, korail_table, weekBound, inoutBound):
    cnt = 0
    result = pd.DataFrame([], columns=["ÎÖ∏ÏÑ†Î™Ö", "Ïô∏Î∂ÄÏΩîÎìú", "Ïó≠Î≤àÌò∏", "Ïó≠ÏÇ¨Î™Ö", "Ïó¥Ï∞®Î≤àÌò∏",
                          "ÎèÑÏ∞©ÏãúÍ∞Ñ", "Ï∂úÎ∞úÏó≠Î≤àÌò∏", "ÎèÑÏ∞©Ïó≠Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"])

    for week in range(1, weekBound):  # ÏöîÏùº
        for inout in range(1, inoutBound):  # ÏÉÅ/ÌïòÌñâ
            # ÌïòÎÇòÏùò ÏãúÍ∞ÑÌëú ÌÖåÏù¥Î∏îÏóê ÎåÄÌï¥ Î≥ÄÍ≤Ω ÏΩîÎìú ÏàòÌñâ
            cols = len(korail_table[week][inout].columns)
            rows = len(korail_table[week][inout].index)

            for j in range(1, cols):  # Ïó¥Ï∞®
                startName = korail_table[week][inout][j][1]
                endName = korail_table[week][inout][j][3]
                trainNum = korail_table[week][inout][j][0]
                directTrainSet = set()
                
                if (pd.notnull(korail_table[week][inout][j][34])):
                    # ÏßÅÌÜµÏù∏ Í≤ΩÏö∞
                    directTrainSet.add(trainNum)
                
                # print(startName, endName, trainNum,
                #       korail_table[week][inout][j][34])
                
                for i in range(5, rows - 2, 2):  # Í∞Å Ïó≠
                    time = ''
                    name = korail_table[week][inout][0][i]

                    if (pd.isnull(startName) and pd.isnull(endName) and pd.isnull(trainNum)):
                        break

                    # print(korail_table[week][inout][j][i], korail_table[week][inout][j][i + 1])
                    # Ï†ÄÏû•Ìï† Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå
                    if pd.isnull(korail_table[week][inout][j][i]) and (pd.isnull(korail_table[week][inout][j][i + 1])):
                        continue

                    # ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
                    if (pd.notnull(korail_table[week][inout][j][i]) and pd.notnull(korail_table[week][inout][j][i + 1])):
                        # Í∏∞Î≥∏Ï†ÅÏúºÎ°ú, ÎèÑÏ∞© ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        time = korail_table[week][inout][j][i]

                    else:
                        # ÎèÑÏ∞© ÏãúÍ∞ÑÎßå ÏóÜÍ≥† ÏãúÏûëÏó≠Ïùº Í≤ΩÏö∞, Ï∂úÎ∞ú ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        if pd.isnull(korail_table[week][inout][j][i]) and (pd.notnull(korail_table[week][inout][j][i + 1])):
                           time = korail_table[week][inout][j][i + 1]
                           
                           if name != startName:  # Ï∂úÎ∞úÏó≠Ïù¥ ÏïÑÎãê Í≤ΩÏö∞, Í∏âÌñâ
                            continue

                        # Ï∂úÎ∞ú ÏãúÍ∞ÑÏù¥ ÏóÜÍ≥† Ï¢ÖÏ∞©Ïó≠Ïùº Í≤ΩÏö∞, ÎèÑÏ∞© ÏãúÍ∞ÑÏúºÎ°ú Ï†ÄÏû•
                        elif pd.notnull(korail_table[week][inout][j][i]) and pd.isnull(korail_table[week][inout][j][i + 1]):
                            time = korail_table[week][inout][j][i]

                    # ÏãúÍ∞Ñ Ï†ïÎ≥¥ Í∞ÄÍ≥µ
                    if len(time) < 8:
                        time = '0' + time
                    if int(time[:2]) < 4:
                        time = str(int(time[:2]) + 24) + time[2:]

                    result.loc[cnt] = [route, np.NaN, np.NaN,
                                       name, trainNum, time, np.NaN, np.NaN, startName, endName, week, inout, "D" if trainNum in directTrainSet else "G"]

                    cnt += 1

    # Ï¥àÎã®ÏúÑ Î≤ÑÎ¶º
    result["ÎèÑÏ∞©ÏãúÍ∞Ñ"] = result["ÎèÑÏ∞©ÏãúÍ∞Ñ"].str.slice(start=0, stop=5)

    return result

In [46]:
temp = [[0] for i in range(3)]

for i in range(1, 3):
    for j in range(1, 3):
        temp[i].append(pd.read_csv(
            'timetable/original/Í≥µÌï≠Ï≤†ÎèÑÏÑ†_{0}_{1}.csv'.format(i, j), header=None))

        # Ïª¨ÎüºÏóê Ìè¨Ìï®Îêú Í≥µÎ∞± nullÏ≤òÎ¶¨
        temp[i][j] = temp[i][j].replace(
            to_replace=r'^[\s]+$', value=np.NaN, regex=True)
        
        temp[i][j] = temp[i][j].replace('---', np.NaN)

        temp[i][j].dropna(how='all', axis='columns')

# print(temp)
result = mkPlainTableToSeoulTable("Í≥µÌï≠Ï≤†ÎèÑÏÑ†", temp, 3, 3)
result.to_csv("timetable/result/Í≥µÌï≠Ï≤†ÎèÑÏÑ†.csv")

In [ ]:
temp = pd.read_csv("./timetable/result/Í≥µÌï≠Ï≤†ÎèÑÏÑ†.csv")
result = mkOldTableToNewTable(temp)
result.to_csv("./timetable/result_2/Í≥µÌï≠Ï≤†ÎèÑÏÑ†.csv")

### 5. Ïó≠Î≤àÌò∏Î°ú Î≥ÄÍ≤Ω

##### 5-a. result

In [81]:
result = pd.read_csv('result_train_station_withcode.csv')

In [82]:
filenames = [ "Í≤ΩÏùòÏ§ëÏïôÏÑ†", "Í≤ΩÏ∂òÏÑ†", "Í≥µÌï≠Ï≤†ÎèÑÏÑ†", "1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†", "ÏàòÏù∏Î∂ÑÎãπÏÑ†", "Ïã†Î¶ºÏÑ†", "Ïã†Î∂ÑÎãπÏÑ†", "Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†"]
routes = sorted(set(result["ÎÖ∏ÏÑ†Î™Ö"]))

In [83]:
timetables = [0] * len(filenames)
for i in range(len(timetables)):
    timetables[i] = pd.read_csv(
        "./timetable/result/" + filenames[i] + ".csv")

C:\Users\04746\AppData\Local\Temp\ipykernel_992\1025571279.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  timetables[i] = pd.read_csv(

In [84]:
timetables[0]["Ïó≠ÏÇ¨Î™Ö"] = timetables[0]["Ïó≠ÏÇ¨Î™Ö"].replace({
    '1ÏñëÏõê': 'ÏñëÏõê',
    '1ÏñëÏ†ï': 'ÏñëÏ†ï',
    'ÎîîÏó†Ïãú': 'ÎîîÏßÄÌÑ∏ÎØ∏ÎîîÏñ¥ÏãúÌã∞',
    'ÌôçÎåÄÏûÖ': 'ÌôçÎåÄÏûÖÍµ¨',
    'Ìö®Ï∞ΩÍ≥µ': 'Ìö®Ï∞ΩÍ≥µÏõêÏïû',
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

timetables[0]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[0]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    '1ÏñëÏõê': 'ÏñëÏõê',
    '1ÏñëÏ†ï': 'ÏñëÏ†ï',
    'ÎîîÏó†Ïãú': 'ÎîîÏßÄÌÑ∏ÎØ∏ÎîîÏñ¥ÏãúÌã∞',
    'ÌôçÎåÄÏûÖ': 'ÌôçÎåÄÏûÖÍµ¨',
    'Ìö®Ï∞ΩÍ≥µ': 'Ìö®Ï∞ΩÍ≥µÏõêÏïû',
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

timetables[0]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[0]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    '1ÏñëÏõê': 'ÏñëÏõê',
    '1ÏñëÏ†ï': 'ÏñëÏ†ï',
    'ÎîîÏó†Ïãú': 'ÎîîÏßÄÌÑ∏ÎØ∏ÎîîÏñ¥ÏãúÌã∞',
    'ÌôçÎåÄÏûÖ': 'ÌôçÎåÄÏûÖÍµ¨',
    'Ìö®Ï∞ΩÍ≥µ': 'Ìö®Ï∞ΩÍ≥µÏõêÏïû',
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

In [85]:
timetables[1]["Ïó≠ÏÇ¨Î™Ö"] = timetables[1]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÌèâÎÇ¥Ìò∏': 'ÌèâÎÇ¥Ìò∏Ìèâ'
})

timetables[1]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[1]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'ÌèâÎÇ¥Ìò∏': 'ÌèâÎÇ¥Ìò∏Ìèâ'
})

timetables[1]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[1]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÌèâÎÇ¥Ìò∏': 'ÌèâÎÇ¥Ìò∏Ìèâ'
})

In [86]:
timetables[2]["Ïó≠ÏÇ¨Î™Ö"] = timetables[2]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

timetables[2]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[2]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

timetables[2]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[2]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

In [87]:
timetables[3]["Ïó≠ÏÇ¨Î™Ö"] = timetables[3]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÏåçÏö©': 'ÏåçÏö©(ÎÇòÏÇ¨Î†õÎåÄ)'
})

timetables[3]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[3]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÏåçÏö©': 'ÏåçÏö©(ÎÇòÏÇ¨Î†õÎåÄ)'
})

timetables[3]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[3]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÏåçÏö©': 'ÏåçÏö©(ÎÇòÏÇ¨Î†õÎåÄ)'
})

In [88]:
timetables[6]["Ïó≠ÏÇ¨Î™Ö"] = timetables[6]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Ï¥ùÏã†ÎåÄÏûÖÍµ¨': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

timetables[6]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[6]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'Ï¥ùÏã†ÎåÄÏûÖÍµ¨': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

timetables[6]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[6]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Ï¥ùÏã†ÎåÄÏûÖÍµ¨': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

In [89]:
timetables[7]["Ïó≠ÏÇ¨Î™Ö"] = timetables[7]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÎÇòÎ£®': 'Í¥ëÎÇòÎ£®(Ïû•Ïã†ÎåÄ)',
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'ÏïÑÏ∞®ÏÇ∞': 'ÏïÑÏ∞®ÏÇ∞(Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõêÌõÑÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

timetables[7]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[7]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÎÇòÎ£®': 'Í¥ëÎÇòÎ£®(Ïû•Ïã†ÎåÄ)',
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'ÏïÑÏ∞®ÏÇ∞': 'ÏïÑÏ∞®ÏÇ∞(Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõêÌõÑÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

timetables[7]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[7]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÎÇòÎ£®': 'Í¥ëÎÇòÎ£®(Ïû•Ïã†ÎåÄ)',
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'ÏïÑÏ∞®ÏÇ∞': 'ÏïÑÏ∞®ÏÇ∞(Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõêÌõÑÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

In [90]:
timetables[9]["Ïó≠ÏÇ¨Î™Ö"] = timetables[9]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê': 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê(ÏÑ∏Ï¢ÖÎåÄ)',
    'Ïù¥Ïàò': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

timetables[9]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[9]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê': 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê(ÏÑ∏Ï¢ÖÎåÄ)',
    'Ïù¥Ïàò': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

timetables[9]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[9]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê': 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê(ÏÑ∏Ï¢ÖÎåÄ)',
    'Ïù¥Ïàò': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

In [91]:
timetables[10]["Ïó≠ÏÇ¨Î™Ö"] = timetables[10]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Î™ΩÏ¥åÌÜ†ÏÑ±': 'Î™ΩÏ¥åÌÜ†ÏÑ±(ÌèâÌôîÏùòÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

timetables[10]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[10]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'Î™ΩÏ¥åÌÜ†ÏÑ±': 'Î™ΩÏ¥åÌÜ†ÏÑ±(ÌèâÌôîÏùòÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

timetables[10]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[10]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Î™ΩÏ¥åÌÜ†ÏÑ±': 'Î™ΩÏ¥åÌÜ†ÏÑ±(ÌèâÌôîÏùòÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

In [92]:
timetables[12]["Ïó≠ÏÇ¨Î™Ö"] = timetables[12]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í∞ïÎÇ®Íµ¨': 'Í∞ïÎÇ®Íµ¨Ï≤≠',
    'Íµ¨Î£°Ïó≠': 'Íµ¨Î£°',
    'ÎÇ®ÎèôÏù∏': 'ÎÇ®ÎèôÏù∏ÎçîÏä§ÌååÌÅ¨',
    'ÎåÄÎ™®ÏÇ∞': 'ÎåÄÎ™®ÏÇ∞ÏûÖÍµ¨',
    'Î°úÎç∞Ïò§': 'ÏïïÍµ¨Ï†ïÎ°úÎç∞Ïò§',
    'Îß§ÌÉÑÍ∂å': 'Îß§ÌÉÑÍ∂åÏÑ†',
    'ÏÜåÎûòÌè¨': 'ÏÜåÎûòÌè¨Íµ¨',
    'ÏàòÏõêÏãú': 'ÏàòÏõêÏãúÏ≤≠',
    'Ïã†ÏàòÏõê': 'ÏàòÏõê',
    'Ïã†Í∏∏Ïò®': 'Ïã†Í∏∏Ïò®Ï≤ú',
    'Ïã†Ïù∏Ï≤ú': 'Ïù∏Ï≤ú',
    'Ïù∏Ï≤úÎÖº': 'Ïù∏Ï≤úÎÖºÌòÑ'
})

timetables[12]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[12]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'Í∞ïÎÇ®Íµ¨': 'Í∞ïÎÇ®Íµ¨Ï≤≠',
    'Íµ¨Î£°Ïó≠': 'Íµ¨Î£°',
    'ÎÇ®ÎèôÏù∏': 'ÎÇ®ÎèôÏù∏ÎçîÏä§ÌååÌÅ¨',
    'ÎåÄÎ™®ÏÇ∞': 'ÎåÄÎ™®ÏÇ∞ÏûÖÍµ¨',
    'Î°úÎç∞Ïò§': 'ÏïïÍµ¨Ï†ïÎ°úÎç∞Ïò§',
    'Îß§ÌÉÑÍ∂å': 'Îß§ÌÉÑÍ∂åÏÑ†',
    'ÏÜåÎûòÌè¨': 'ÏÜåÎûòÌè¨Íµ¨',
    'ÏàòÏõêÏãú': 'ÏàòÏõêÏãúÏ≤≠',
    'Ïã†ÏàòÏõê': 'ÏàòÏõê',
    'Ïã†Í∏∏Ïò®': 'Ïã†Í∏∏Ïò®Ï≤ú',
    'Ïã†Ïù∏Ï≤ú': 'Ïù∏Ï≤ú',
    'Ïù∏Ï≤úÎÖº': 'Ïù∏Ï≤úÎÖºÌòÑ'
})

timetables[12]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[12]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í∞ïÎÇ®Íµ¨': 'Í∞ïÎÇ®Íµ¨Ï≤≠',
    'Íµ¨Î£°Ïó≠': 'Íµ¨Î£°',
    'ÎÇ®ÎèôÏù∏': 'ÎÇ®ÎèôÏù∏ÎçîÏä§ÌååÌÅ¨',
    'ÎåÄÎ™®ÏÇ∞': 'ÎåÄÎ™®ÏÇ∞ÏûÖÍµ¨',
    'Î°úÎç∞Ïò§': 'ÏïïÍµ¨Ï†ïÎ°úÎç∞Ïò§',
    'Îß§ÌÉÑÍ∂å': 'Îß§ÌÉÑÍ∂åÏÑ†',
    'ÏÜåÎûòÌè¨': 'ÏÜåÎûòÌè¨Íµ¨',
    'ÏàòÏõêÏãú': 'ÏàòÏõêÏãúÏ≤≠',
    'Ïã†ÏàòÏõê': 'ÏàòÏõê',
    'Ïã†Í∏∏Ïò®': 'Ïã†Í∏∏Ïò®Ï≤ú',
    'Ïã†Ïù∏Ï≤ú': 'Ïù∏Ï≤ú',
    'Ïù∏Ï≤úÎÖº': 'Ïù∏Ï≤úÎÖºÌòÑ'
})

In [93]:
timetables[13]["Ïó≠ÏÇ¨Î™Ö"] = timetables[13]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)': 'ÎåÄÎ∞©',
    'Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)': 'Î≥¥ÎùºÎß§Î≥ëÏõê'
})

timetables[13]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[13]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)': 'ÎåÄÎ∞©',
    'Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)': 'Î≥¥ÎùºÎß§Î≥ëÏõê'
})

timetables[13]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[13]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)': 'ÎåÄÎ∞©',
    'Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)': 'Î≥¥ÎùºÎß§Î≥ëÏõê'
})

In [94]:
timetables[14]["Ïó≠ÏÇ¨Î™Ö"] = timetables[14]["Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)': 'Í¥ëÍµê',
    'Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)': 'Í¥ëÍµêÏ§ëÏïô',
    'ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)': 'ÎØ∏Í∏à',
    'ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)': 'ÏñëÏû¨',
    'ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)': 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤',
    'ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)': 'ÌåêÍµê'
})

timetables[14]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[14]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)': 'Í¥ëÍµê',
    'Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)': 'Í¥ëÍµêÏ§ëÏïô',
    'ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)': 'ÎØ∏Í∏à',
    'ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)': 'ÏñëÏû¨',
    'ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)': 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤',
    'ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)': 'ÌåêÍµê'
})

timetables[14]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[14]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    'Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)': 'Í¥ëÍµê',
    'Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)': 'Í¥ëÍµêÏ§ëÏïô',
    'ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)': 'ÎØ∏Í∏à',
    'ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)': 'ÏñëÏû¨',
    'ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)': 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤',
    'ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)': 'ÌåêÍµê'
})

In [95]:
timetables[15]["Ïó≠ÏÇ¨Î™Ö"] = timetables[15]["Ïó≠ÏÇ¨Î™Ö"].replace({
    '4¬∑19ÎØºÏ£ºÎ¨òÏßÄ': '4.19 ÎØºÏ£ºÎ¨òÏßÄ'
})

timetables[15]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[15]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace({
    '4¬∑19ÎØºÏ£ºÎ¨òÏßÄ': '4.19 ÎØºÏ£ºÎ¨òÏßÄ'
})

timetables[15]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[15]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace({
    '4¬∑19ÎØºÏ£ºÎ¨òÏßÄ': '4.19 ÎØºÏ£ºÎ¨òÏßÄ'
})

In [96]:
# Ïû¨ÌôïÏù∏

for i in range(len(timetables)):
    station_name = set(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    timetable_name = set(timetables[i]["Ïó≠ÏÇ¨Î™Ö"])
    timetable_start_name = set(timetables[i]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"])
    timetable_end_name = set(timetables[i]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"])
    # print(timetable_name)

    station_diff = sorted(station_name - timetable_name)
    timetable_diff = sorted(timetable_name - station_name)
    timetable_start_diff = sorted(timetable_start_name - station_name)
    timetable_end_diff = sorted(timetable_end_name - station_name)

    print(" ----- " + filenames[i] + " ----- ")
    # print(station_name)
    # print(timetable_name)
    # print(station_diff)
    print(timetable_diff)
    print(timetable_start_diff)
    print(timetable_end_diff)
    print(" ---------- ")

# ÏÑúÏö∏Ïùò Í≤ΩÏö∞, ÏÑúÏö∏Ïó≠ÏúºÎ°ú ÌëúÍ∏∞ ÌõÑ Îî∞Î°ú API Ìò∏Ï∂ú Ïãú Î∞îÍæ∏Í∏∞

 ----- Í≤ΩÏùòÏ§ëÏïôÏÑ† -----
[]
[]
[]
 ----------
 ----- Í≤ΩÏ∂òÏÑ† -----
[]
[]
[]
 ----------
 ----- Í≥µÌï≠Ï≤†ÎèÑÏÑ† -----
[]
[]
[]
 ----------
 ----- 1Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 2Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 3Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 4Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 5Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 6Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 7Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 8Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- 9Ìò∏ÏÑ† -----
[]
[]
[]
 ----------
 ----- ÏàòÏù∏Î∂ÑÎãπÏÑ† -----
[]
[]
[]
 ----------
 ----- Ïã†Î¶ºÏÑ† -----
[]
[]
[]
 ----------
 ----- Ïã†Î∂ÑÎãπÏÑ† -----
[]
[]
[]
 ----------
 ----- Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† -----
[]
[]
[]
 ----------

In [97]:
for i in range(len(timetables)):
    station_name = list(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    station_num = list(result["Ïó≠ÏΩîÎìú"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    name_to_num = dict(zip(station_name, station_num))

    # print(name_to_num)

    timetables[i]["Ïó≠ÏÇ¨Î™Ö"] = timetables[i]["Ïó≠ÏÇ¨Î™Ö"].replace(name_to_num)
    timetables[i]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"] = timetables[i]["Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö"].replace(name_to_num)
    timetables[i]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"] = timetables[i]["ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö"].replace(name_to_num)
    
    timetables[i] = timetables[i].rename(columns={"Ïó≠ÏÇ¨Î™Ö": "Ïó≠ÏΩîÎìú"})
    timetables[i] = timetables[i].rename(columns={"Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö": "Ï∂úÎ∞úÏó≠ÏΩîÎìú"})
    timetables[i] = timetables[i].rename(columns={"ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö": "ÎèÑÏ∞©Ïó≠ÏΩîÎìú"})

In [101]:
for i in range(len(timetables)):
    timetables[i]["Í∏âÌñâÏÑ†"] = timetables[i]["Í∏âÌñâÏÑ†"].replace({'G': False, 'D': True})
    
    timetables[i] = timetables[i].drop(columns=['Ïô∏Î∂ÄÏΩîÎìú', 'Ïó≠Î≤àÌò∏'])
    timetables[i] = timetables[i].drop(columns=['Ï∂úÎ∞úÏó≠Î≤àÌò∏', 'ÎèÑÏ∞©Ïó≠Î≤àÌò∏'])

In [102]:
# ÌÖåÏä§Ìä∏

timetables[1]

      ÎÖ∏ÏÑ†Î™Ö     Ïó≠ÏΩîÎìú   Ïó¥Ï∞®Î≤àÌò∏   ÎèÑÏ∞©ÏãúÍ∞Ñ   Ï∂úÎ∞úÏó≠ÏΩîÎìú   ÎèÑÏ∞©Ïó≠ÏΩîÎìú  ÏöîÏùº  Î∞©Ìñ•    Í∏âÌñâÏÑ†
0     Í≤ΩÏ∂òÏÑ†  1824.0  K8008  05:27  1830.0  1806.0   1   1  False
1     Í≤ΩÏ∂òÏÑ†  1824.0  K8010  05:53  1830.0  1806.0   1   1  False
2     Í≤ΩÏ∂òÏÑ†  1824.0  K8012  06:20  1830.0  1810.0   1   1  False
3     Í≤ΩÏ∂òÏÑ†  1824.0  K8402  06:36  1830.0  1806.0   1   1   True
4     Í≤ΩÏ∂òÏÑ†  1824.0  K8016  06:52  1830.0  1810.0   1   1  False
...   ...     ...    ...    ...     ...     ...  ..  ..    ...
4134  Í≤ΩÏ∂òÏÑ†  1807.0  K8039  13:33  1806.0  1830.0   2   2  False
4135  Í≤ΩÏ∂òÏÑ†  1807.0  K8055  16:54  1806.0  1830.0   2   2  False
4136  Í≤ΩÏ∂òÏÑ†  1807.0  K8067  19:31  1806.0  1830.0   2   2  False
4137  Í≤ΩÏ∂òÏÑ†  1807.0  K8079  22:09  1806.0  1830.0   2   2  False
4138  Í≤ΩÏ∂òÏÑ†  1807.0  K8085  23:43  1806.0  1818.0   2   2  False

[4139 rows x 9 columns]

##### 5-b. result_2

In [6]:
timetables = [0] * len(filenames)
for i in range(len(timetables)):
    timetables[i] = pd.read_csv("./timetable/result_2/" + filenames[i] + ".csv")

In [108]:
for i in range(len(timetables)):
    station_name = set(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    timetable_name = set(timetables[i].columns) - {"Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "Ï∂úÎ∞úÏãúÍ∞Ñ", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"}
    # print(timetable_name)
    
    station_diff = sorted(station_name - timetable_name)
    timetable_diff = sorted(timetable_name - station_name)

    print(" ----- " + filenames[i] + " ----- ")
    # print(station_name)
    # print(timetable_name)
    print(station_diff)
    print(timetable_diff)
    print(" ---------- ")

 ----- Í≤ΩÏùòÏ§ëÏïôÏÑ† -----
['ÎîîÏßÄÌÑ∏ÎØ∏ÎîîÏñ¥ÏãúÌã∞', 'ÏÑúÏö∏Ïó≠', 'ÏñëÏõê', 'ÏñëÏ†ï', 'ÌôçÎåÄÏûÖÍµ¨', 'Ìö®Ï∞ΩÍ≥µÏõêÏïû']
['1ÏñëÏõê', '1ÏñëÏ†ï', 'ÎîîÏó†Ïãú', 'ÏÑúÏö∏', 'ÌôçÎåÄÏûÖ', 'Ìö®Ï∞ΩÍ≥µ']
 ----------
 ----- Í≤ΩÏ∂òÏÑ† -----
['ÌèâÎÇ¥Ìò∏Ìèâ']
['ÌèâÎÇ¥Ìò∏']
 ----------
 ----- Í≥µÌï≠Ï≤†ÎèÑÏÑ† -----
['ÏÑúÏö∏Ïó≠']
['ÏÑúÏö∏']
 ----------
 ----- 1Ìò∏ÏÑ† -----
['ÏåçÏö©(ÎÇòÏÇ¨Î†õÎåÄ)']
['ÏåçÏö©']
 ----------
 ----- 2Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 3Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 4Ìò∏ÏÑ† -----
['Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)']
['Ï¥ùÏã†ÎåÄÏûÖÍµ¨']
 ----------
 ----- 5Ìò∏ÏÑ† -----
['Í¥ëÎÇòÎ£®(Ïû•Ïã†ÎåÄ)', 'Íµ∞Ïûê(Îä•Îèô)', 'ÏïÑÏ∞®ÏÇ∞(Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõêÌõÑÎ¨∏)', 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)']
['Í¥ëÎÇòÎ£®', 'Íµ∞Ïûê', 'ÏïÑÏ∞®ÏÇ∞', 'Ï≤úÌò∏']
 ----------
 ----- 6Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 7Ìò∏ÏÑ† -----
['Íµ∞Ïûê(Îä•Îèô)', 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê(ÏÑ∏Ï¢ÖÎåÄ)', 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)']
['Íµ∞Ïûê', 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê', 'Ïù¥Ïàò']
 ----------
 ----- 8Ìò∏ÏÑ† -----
['Î™ΩÏ¥åÌÜ†ÏÑ±(ÌèâÌôîÏùòÎ¨∏)', 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)']
['Î™ΩÏ¥åÌÜ†ÏÑ±', 'Ï≤úÌò∏']
 ----------
 ----- 9Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- ÏàòÏù∏Î∂ÑÎãπÏÑ† -----
['Í∞ïÎÇ®Íµ¨Ï≤≠', 'Íµ¨Î£°', 'ÎÇ®ÎèôÏù∏ÎçîÏä§ÌååÌÅ¨', 'ÎåÄÎ™®ÏÇ∞ÏûÖÍµ¨', 'Îß§ÌÉÑÍ∂åÏÑ†', 'ÏÜåÎûòÌè¨Íµ¨', 'ÏàòÏõê', 'ÏàòÏõêÏãúÏ≤≠', 'Ïã†Í∏∏Ïò®Ï≤ú', 'ÏïïÍµ¨Ï†ïÎ°úÎç∞Ïò§', 'Ïù∏Ï≤ú', 'Ïù∏Ï≤úÎÖºÌòÑ']
['Í∞ïÎÇ®Íµ¨', 'Íµ¨Î£°Ïó≠', 'ÎÇ®ÎèôÏù∏', 'ÎåÄÎ™®ÏÇ∞', 'Î°úÎç∞Ïò§', 'Îß§ÌÉÑÍ∂å', 'ÏÜåÎûòÌè¨', 'ÏàòÏõêÏãú', 'Ïã†Í∏∏Ïò®', 'Ïã†ÏàòÏõê', 'Ïã†Ïù∏Ï≤ú', 'Ïù∏Ï≤úÎÖº']
 ----------
 ----- Ïã†Î¶ºÏÑ† -----
['ÎåÄÎ∞©', 'Î≥¥ÎùºÎß§Î≥ëÏõê']
['ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)', 'Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)']
 ----------
 ----- Ïã†Î∂ÑÎãπÏÑ† -----
['Í¥ëÍµê', 'Í¥ëÍµêÏ§ëÏïô', 'ÎØ∏Í∏à', 'ÏñëÏû¨', 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤', 'ÌåêÍµê']
['Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)', 'Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)', 'ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)', 'ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)', 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)', 'ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)']
 ----------
 ----- Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† -----
['4.19 ÎØºÏ£ºÎ¨òÏßÄ']
['4¬∑19ÎØºÏ£ºÎ¨òÏßÄ']
 ----------

In [109]:
timetables[0] = timetables[0].rename(columns={
    '1ÏñëÏõê': 'ÏñëÏõê', 
    '1ÏñëÏ†ï': 'ÏñëÏ†ï', 
    'ÎîîÏó†Ïãú': 'ÎîîÏßÄÌÑ∏ÎØ∏ÎîîÏñ¥ÏãúÌã∞', 
    'ÌôçÎåÄÏûÖ': 'ÌôçÎåÄÏûÖÍµ¨', 
    'Ìö®Ï∞ΩÍ≥µ': 'Ìö®Ï∞ΩÍ≥µÏõêÏïû',
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

In [110]:
timetables[1] = timetables[1].rename(columns={
    'ÌèâÎÇ¥Ìò∏': 'ÌèâÎÇ¥Ìò∏Ìèâ'
})

In [111]:
timetables[2] = timetables[2].rename(columns={
    'ÏÑúÏö∏': 'ÏÑúÏö∏Ïó≠'
})

In [112]:
timetables[3] = timetables[3].rename(columns={
    'ÏåçÏö©': 'ÏåçÏö©(ÎÇòÏÇ¨Î†õÎåÄ)'
})

In [113]:
timetables[6] = timetables[6].rename(columns={
    'Ï¥ùÏã†ÎåÄÏûÖÍµ¨': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

In [114]:
timetables[7] = timetables[7].rename(columns={
    'Í¥ëÎÇòÎ£®': 'Í¥ëÎÇòÎ£®(Ïû•Ïã†ÎåÄ)',
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)',
    'ÏïÑÏ∞®ÏÇ∞': 'ÏïÑÏ∞®ÏÇ∞(Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõêÌõÑÎ¨∏)',
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

In [115]:
timetables[9] = timetables[9].rename(columns={
    'Íµ∞Ïûê': 'Íµ∞Ïûê(Îä•Îèô)', 
    'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê': 'Ïñ¥Î¶∞Ïù¥ÎåÄÍ≥µÏõê(ÏÑ∏Ï¢ÖÎåÄ)', 
    'Ïù¥Ïàò': 'Ï¥ùÏã†ÎåÄÏûÖÍµ¨(Ïù¥Ïàò)'
})

In [116]:
timetables[10] = timetables[10].rename(columns={
    'Î™ΩÏ¥åÌÜ†ÏÑ±': 'Î™ΩÏ¥åÌÜ†ÏÑ±(ÌèâÌôîÏùòÎ¨∏)', 
    'Ï≤úÌò∏': 'Ï≤úÌò∏(ÌíçÎÇ©ÌÜ†ÏÑ±)'
})

In [117]:
timetables[12] = timetables[12].rename(columns={
    'Í∞ïÎÇ®Íµ¨': 'Í∞ïÎÇ®Íµ¨Ï≤≠',
    'Íµ¨Î£°Ïó≠': 'Íµ¨Î£°', 
    'ÎÇ®ÎèôÏù∏': 'ÎÇ®ÎèôÏù∏ÎçîÏä§ÌååÌÅ¨', 
    'ÎåÄÎ™®ÏÇ∞': 'ÎåÄÎ™®ÏÇ∞ÏûÖÍµ¨', 
    'Î°úÎç∞Ïò§': 'ÏïïÍµ¨Ï†ïÎ°úÎç∞Ïò§', 
    'Îß§ÌÉÑÍ∂å': 'Îß§ÌÉÑÍ∂åÏÑ†',
    'ÏÜåÎûòÌè¨': 'ÏÜåÎûòÌè¨Íµ¨', 
    'ÏàòÏõêÏãú': 'ÏàòÏõêÏãúÏ≤≠',
    'Ïã†ÏàòÏõê': 'ÏàòÏõê', 
    'Ïã†Í∏∏Ïò®': 'Ïã†Í∏∏Ïò®Ï≤ú', 
    'Ïã†Ïù∏Ï≤ú': 'Ïù∏Ï≤ú', 
    'Ïù∏Ï≤úÎÖº': 'Ïù∏Ï≤úÎÖºÌòÑ'
})

In [118]:
timetables[13] = timetables[13].rename(columns={
    'ÎåÄÎ∞©(ÏÑ±Ïï†Î≥ëÏõê)': 'ÎåÄÎ∞©',
    'Î≥¥ÎùºÎß§Î≥ëÏõê(Ï†ÑÎ¨∏Í±¥ÏÑ§ÌöåÍ¥Ä)': 'Î≥¥ÎùºÎß§Î≥ëÏõê'
})

In [119]:
timetables[14] = timetables[14].rename(columns={
    'Í¥ëÍµê(Í≤ΩÍ∏∞ÎåÄ)': 'Í¥ëÍµê', 
    'Í¥ëÍµêÏ§ëÏïô(ÏïÑÏ£ºÎåÄ)': 'Í¥ëÍµêÏ§ëÏïô', 
    'ÎØ∏Í∏à(Î∂ÑÎãπÏÑúÏö∏ÎåÄÎ≥ëÏõê)': 'ÎØ∏Í∏à',
    'ÏñëÏû¨(ÏÑúÏ¥àÍµ¨Ï≤≠)': 'ÏñëÏû¨', 
    'ÏñëÏû¨ÏãúÎØºÏùòÏà≤(Îß§Ìóå)': 'ÏñëÏû¨ÏãúÎØºÏùòÏà≤', 
    'ÌåêÍµê(ÌåêÍµêÌÖåÌÅ¨ÎÖ∏Î∞∏Î¶¨)': 'ÌåêÍµê'
})

In [120]:
timetables[15] = timetables[15].rename(columns={
    '4¬∑19ÎØºÏ£ºÎ¨òÏßÄ': '4.19 ÎØºÏ£ºÎ¨òÏßÄ'
})

In [121]:
# Ïû¨ÌôïÏù∏

for i in range(len(timetables)):
    station_name = set(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    timetable_name = set(
        timetables[i].columns) - {"Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "Ï∂úÎ∞úÏãúÍ∞Ñ", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"}
    # print(timetable_name)

    station_diff = sorted(station_name - timetable_name)
    timetable_diff = sorted(timetable_name - station_name)

    print(" ----- " + filenames[i] + " ----- ")
    # print(station_name)
    # print(timetable_name)
    print(station_diff)
    print(timetable_diff)
    print(" ---------- ")
    
# ÏÑúÏö∏Ïùò Í≤ΩÏö∞, ÏÑúÏö∏Ïó≠ÏúºÎ°ú ÌëúÍ∏∞ ÌõÑ Îî∞Î°ú API Ìò∏Ï∂ú Ïãú Î∞îÍæ∏Í∏∞

 ----- Í≤ΩÏùòÏ§ëÏïôÏÑ† -----
[]
[]
 ----------
 ----- Í≤ΩÏ∂òÏÑ† -----
[]
[]
 ----------
 ----- Í≥µÌï≠Ï≤†ÎèÑÏÑ† -----
[]
[]
 ----------
 ----- 1Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 2Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 3Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 4Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 5Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 6Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 7Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 8Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- 9Ìò∏ÏÑ† -----
[]
[]
 ----------
 ----- ÏàòÏù∏Î∂ÑÎãπÏÑ† -----
[]
[]
 ----------
 ----- Ïã†Î¶ºÏÑ† -----
[]
[]
 ----------
 ----- Ïã†Î∂ÑÎãπÏÑ† -----
[]
[]
 ----------
 ----- Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† -----
[]
[]
 ----------

In [122]:
for i in range(len(timetables)):
    station_name = list(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    # station_num = np.array(list(result["Ïó≠ÏΩîÎìú"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])).astype(int)
    
    col_change = dict(zip(station_name, station_num))
    
    timetables[i] = timetables[i].rename(columns=col_change)

In [123]:
# ÌôïÏù∏

for i in range(len(timetables)):
    station_name = set(result["Ïó≠ÏÇ¨Î™Ö"][result["ÎÖ∏ÏÑ†Î™Ö"] == routes[i]])
    timetable_name = set(
        timetables[i].columns) - {"Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "Ï∂úÎ∞úÏãúÍ∞Ñ", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"}
    # print(timetable_name)

    station_diff = sorted(station_name - timetable_name)
    timetable_diff = sorted(timetable_name - station_name)

    print(" ----- " + filenames[i] + " ----- ")
    # print(station_name)
    print(timetable_name)
    # print(station_diff)
    # print(timetable_diff)
    print(" ---------- ")

 ----- Í≤ΩÏùòÏ§ëÏïôÏÑ† -----
{1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1607, 1606, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1635, 1636, 1390, 1394, 191, 192, 193, 195, 196, 197, 198}
 ----------
 ----- Í≤ΩÏ∂òÏÑ† -----
{1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830}
 ----------
 ----- Í≥µÌï≠Ï≤†ÎèÑÏÑ† -----
{4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010, 4011, 4012, 4013, 4020}
 ----------
 ----- 1Ìò∏ÏÑ† -----
{1401, 1409, 1408, 100, 101, 102, 103, 104, 105, 106, 107, 108, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 1175, 157, 158, 156, 160, 161, 159, 1187, 1181, 1405, 1406, 1407, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 1410, 1411, 1412, 1413, 199, 1402, 1415, 1416, 1403, 1404}
 ----------
 ----- 2Ìò∏ÏÑ† -----
{261, 262, 263, 264, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 251, 252, 253, 254}
 ----------
 ----- 3Ìò∏ÏÑ† -----
{310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 370}
 ----------
 ----- 4Ìò∏ÏÑ† -----
{405, 406, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456}
 ----------
 ----- 5Ìò∏ÏÑ† -----
{512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 569, 570, 571, 572, 573, 574, 575, 510, 511}
 ----------
 ----- 6Ìò∏ÏÑ† -----
{640, 641, 642, 643, 644, 645, 646, 647, 648, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639}
 ----------
 ----- 7Ìò∏ÏÑ† -----
{709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761}
 ----------
 ----- 8Ìò∏ÏÑ† -----
{810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 831}
 ----------
 ----- 9Ìò∏ÏÑ† -----
{901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938}
 ----------
 ----- ÏàòÏù∏Î∂ÑÎãπÏÑ† -----
{1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1532, 11109, 11110, 11111, 11113, 11114, 11112, 11115, 11117, 11118, 11119, 11116, 11121, 11122, 11123, 11124, 11120, 11125, 11127, 11128, 11129, 11126, 11132, 11131, 11133, 11134, 11150, 1509, 1510, 1511, 1512, 1513, 1514, 1516, 1515, 1518, 1519, 1517, 1521, 1520, 1522, 1524, 1523, 1525, 1527, 1528, 1529, 1530, 1531, 1526, 1533, 1534, 1535}
 ----------
 ----- Ïã†Î¶ºÏÑ† -----
{11712, 11713, 11714, 11715, 11716, 11717, 11718, 11719, 11720, 11721, 11711}
 ----------
 ----- Ïã†Î∂ÑÎãπÏÑ† -----
{1920, 1921, 1922, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919}
 ----------
 ----- Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† -----
{11328, 11329, 11330, 11331, 11332, 11333, 11321, 11322, 11323, 11324, 11325, 11326, 11327}
 ----------

### 6. ÏÑ∏Î∂Ä ÏÇ¨Ìï≠ Î≥ÄÍ≤Ω

##### 6-a. result

In [103]:
for i in range(len(timetables)):
    timetables[i]['ÎèÑÏ∞©ÏãúÍ∞Ñ'] = timetables[i]['ÎèÑÏ∞©ÏãúÍ∞Ñ'].str.replace(':', '')

In [104]:
# ÌôïÏù∏
timetables[0]

         ÎÖ∏ÏÑ†Î™Ö     Ïó≠ÏΩîÎìú   Ïó¥Ï∞®Î≤àÌò∏  ÎèÑÏ∞©ÏãúÍ∞Ñ   Ï∂úÎ∞úÏó≠ÏΩîÎìú   ÎèÑÏ∞©Ïó≠ÏΩîÎìú  ÏöîÏùº  Î∞©Ìñ•    Í∏âÌñâÏÑ†
0      Í≤ΩÏùòÏ§ëÏïôÏÑ†  1314.0  K5004  0514  1310.0  1629.0   1   1  False
1      Í≤ΩÏùòÏ§ëÏïôÏÑ†  1314.0  K5008  0541  1308.0  1629.0   1   1  False
2      Í≤ΩÏùòÏ§ëÏïôÏÑ†  1314.0  K5010  0559  1300.0  1629.0   1   1  False
3      Í≤ΩÏùòÏ§ëÏïôÏÑ†  1314.0  K5012  0610  1300.0  1622.0   1   1  False
4      Í≤ΩÏùòÏ§ëÏïôÏÑ†  1314.0  K5014  0623  1300.0  1629.0   1   1  False
...      ...     ...    ...   ...     ...     ...  ..  ..    ...
16198  Í≤ΩÏùòÏ§ëÏïôÏÑ†  1606.0  K5137  2237  1629.0  1300.0   2   2  False
16199  Í≤ΩÏùòÏ§ëÏïôÏÑ†  1606.0  K5139  2257  1629.0  1310.0   2   2  False
16200  Í≤ΩÏùòÏ§ëÏïôÏÑ†  1606.0  K5141  2310  1629.0  1310.0   2   2  False
16201  Í≤ΩÏùòÏ§ëÏïôÏÑ†  1606.0  K5143  2334  1629.0  1310.0   2   2  False
16202  Í≤ΩÏùòÏ§ëÏïôÏÑ†  1606.0  K5145  2352  1629.0   191.0   2   2  False

[16203 rows x 9 columns]

In [105]:
for i in range(len(timetables)):
    timetables[i].to_csv('./timetable/result_final/' + filenames[i] +
                         '.csv', index=False, encoding="utf-8-sig")

In [106]:
# 9Ïãú Ïù¥Ï†Ñ ÎèÑÏ∞© Ïó¥Ï∞® ÏãúÍ∞ÑÌëú Ï†úÍ±∞

for i in range(len(timetables)):
    dropList = []
    for j in range(len(timetables[i])):
        if int(timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[j]) < 2100:
            # 9Ïãú Ïù¥Ï†Ñ ÏãúÍ∞ÑÌëú -> Ï†úÍ±∞Ìï¥ÎèÑ Îê®
            dropList.append(j)
            
    timetables[i].drop(dropList, inplace=True)

In [107]:
for i in range(len(timetables)):
    timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] = timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"].astype(int)

In [108]:
for i in range(len(timetables)):
    print(routes[i] + " - " + str(len(timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] < 2100])))

Í≤ΩÏùòÏ§ëÏïôÏÑ† - 0
Í≤ΩÏ∂òÏÑ† - 0
Í≥µÌï≠Ï≤†ÎèÑ - 0
ÏàòÎèÑÍ∂å 1Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 2Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 3Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 4Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 5Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 6Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 7Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 8Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 9Ìò∏ÏÑ† - 0
ÏàòÏù∏Î∂ÑÎãπÏÑ† - 0
Ïã†Î¶ºÏÑ† - 0
Ïã†Î∂ÑÎãπÏÑ† - 0
Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† - 0

In [109]:
for i in range(len(timetables)):
    timetables[i] = timetables[i].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', 'Ïó≠ÏΩîÎìú', 'ÎèÑÏ∞©ÏãúÍ∞Ñ'])

In [110]:
# ÌÖåÏä§Ìä∏
timetables[0]

         ÎÖ∏ÏÑ†Î™Ö     Ïó≠ÏΩîÎìú   Ïó¥Ï∞®Î≤àÌò∏  ÎèÑÏ∞©ÏãúÍ∞Ñ   Ï∂úÎ∞úÏó≠ÏΩîÎìú   ÎèÑÏ∞©Ïó≠ÏΩîÎìú  ÏöîÏùº  Î∞©Ìñ•    Í∏âÌñâÏÑ†
12685  Í≤ΩÏùòÏ§ëÏïôÏÑ†   191.0  K5144  2101  1300.0  1629.0   1   1  False
12686  Í≤ΩÏùòÏ§ëÏïôÏÑ†   191.0  K5148  2119  1299.0  1629.0   1   1  False
12687  Í≤ΩÏùòÏ§ëÏïôÏÑ†   191.0  K5146  2132  1310.0  1622.0   1   1  False
12688  Í≤ΩÏùòÏ§ëÏïôÏÑ†   191.0  K5150  2149  1300.0  1629.0   1   1  False
12689  Í≤ΩÏùòÏ§ëÏïôÏÑ†   191.0  K5152  2202  1300.0  1629.0   1   1  False
...      ...     ...    ...   ...     ...     ...  ..  ..    ...
8535   Í≤ΩÏùòÏ§ëÏïôÏÑ†  1636.0  K5141  2226  1629.0  1310.0   2   2  False
8536   Í≤ΩÏùòÏ§ëÏïôÏÑ†  1636.0  K2234  2242  1610.0  1629.0   2   2  False
8537   Í≤ΩÏùòÏ§ëÏïôÏÑ†  1636.0  K5143  2250  1629.0  1310.0   2   2  False
8538   Í≤ΩÏùòÏ§ëÏïôÏÑ†  1636.0  K5145  2308  1629.0   191.0   2   2  False
8539   Í≤ΩÏùòÏ§ëÏïôÏÑ†  1636.0  K2236  2420  1610.0  1629.0   2   2  False

[2413 rows x 9 columns]

In [111]:
for i in range(len(timetables)):
    timetables[i].to_csv('./timetable/result_final_after_9pm/' + filenames[i] +
                         '.csv', index=False, encoding="utf-8-sig")

##### 6-b. result_2

In [ ]:
for i in range(len(timetables)):
    timetable_name = set(
        timetables[i].columns) - {"Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "Ï∂úÎ∞úÏãúÍ∞Ñ", "ÎèÑÏ∞©ÏãúÍ∞Ñ", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"}

    for name in timetable_name:
        # ÏãúÍ∞Ñ ÌòïÏãù Î∞îÍæ∏Í∏∞
        timetables[i][name] = timetables[i][name].str.replace(':', '')
    
    timetables[i]['ÎèÑÏ∞©ÏãúÍ∞Ñ'] = timetables[i]['ÎèÑÏ∞©ÏãúÍ∞Ñ'].str.replace(':', '')
    timetables[i]['Ï∂úÎ∞úÏãúÍ∞Ñ'] = timetables[i]['Ï∂úÎ∞úÏãúÍ∞Ñ'].str.replace(':', '')

In [9]:
# ÌôïÏù∏
timetables[0]

,1303,192,1312,1317,1625,1611,1623,1614,1304,1311,...,1622,1621,Ïó¥Ï∞®Î≤àÌò∏,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,Ï∂úÎ∞úÏãúÍ∞Ñ,ÎèÑÏ∞©ÏãúÍ∞Ñ,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
0,NaN,532.0,507.0,524.0,641.0,NaN,633.0,607.0,NaN,503.0,...,631.0,628.0,K5004,ÎçïÏÜå,Î¨∏ÏÇ∞,0500,655,1.0,1.0,False
1,NaN,559.0,534.0,551.0,708.0,NaN,700.0,634.0,NaN,530.0,...,658.0,655.0,K5008,ÌåîÎãπ,Î¨∏ÏÇ∞,0520,722,1.0,1.0,False
2,518.0,617.0,552.0,609.0,727.0,NaN,719.0,652.0,522.0,548.0,...,716.0,714.0,K5010,Ïö©Î¨∏,Î¨∏ÏÇ∞,0501,740,1.0,1.0,False
3,529.0,628.0,603.0,620.0,NaN,NaN,NaN,703.0,533.0,559.0,...,727.0,725.0,K5012,Ïö©Î¨∏,ÏùºÏÇ∞,0512,727,1.0,1.0,False
4,542.0,641.0,616.0,633.0,751.0,NaN,743.0,716.0,546.0,612.0,...,740.0,738.0,K5014,Ïö©Î¨∏,Î¨∏ÏÇ∞,0525,804,1.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2607,ÏûÑÏßÑÍ∞ï,Î¨∏ÏÇ∞,1745,1755,2.0,1.0,False
434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2602,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,0935,945,2.0,2.0,False
435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2604,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,1035,1045,2.0,2.0,False
436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2606,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,1545,1555,2.0,2.0,False
437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2608,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,1720,1730,2.0,2.0,False

In [ ]:
for i in range(len(timetables)):
    timetables[i].to_csv('./timetable/result_2/' + filenames[i] + '.csv', index=False, encoding="utf-8-sig")

In [110]:
for i in range(len(timetables)):
    timetable_time = set(
        timetables[i].columns) - {"Ïó¥Ï∞®Î≤àÌò∏", "Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö", "ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö", "ÏöîÏùº", "Î∞©Ìñ•", "Í∏âÌñâÏÑ†"}

    for time in timetable_time:
        # ÏãúÍ∞Ñ ÌòïÏãù Î∞îÍæ∏Í∏∞
        timetables[i][time] = timetables[i][time].fillna(-1)
        # timetables[i][time] = timetables[i][time].astype(int)
        timetables[i][time] = timetables[i][time].replace(-1, np.nan)

In [111]:
timetables[0]

,191,192,193,195,196,197,198,1299,1300,1301,...,1635,1636,Ïó¥Ï∞®Î≤àÌò∏,Ï∂úÎ∞úÏãúÍ∞Ñ,ÎèÑÏ∞©ÏãúÍ∞Ñ,Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö,ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö,ÏöîÏùº,Î∞©Ìñ•,Í∏âÌñâÏÑ†
312,500.0,503.0,506.0,508.0,511.0,514.0,516.0,NaN,NaN,NaN,...,545.0,607.0,K5002,500,626,Ï≤≠ÎüâÎ¶¨,Î¨∏ÏÇ∞,1,1,False
313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,550.0,527.0,K2201,509,610,Î¨∏ÏÇ∞,ÏÑúÏö∏,1,1,False
0,527.0,532.0,534.0,537.0,539.0,542.0,545.0,NaN,NaN,NaN,...,613.0,636.0,K5004,500,655,ÎçïÏÜå,Î¨∏ÏÇ∞,1,1,False
315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,626.0,603.0,K2203,545,646,Î¨∏ÏÇ∞,ÏÑúÏö∏,1,1,False
314,540.0,543.0,546.0,548.0,551.0,554.0,556.0,NaN,NaN,NaN,...,625.0,647.0,K5006,540,706,Ï≤≠ÎüâÎ¶¨,Î¨∏ÏÇ∞,1,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,613.0,609.0,607.0,604.0,602.0,559.0,556.0,739.0,734.0,729.0,...,NaN,NaN,K5005,553,739,Ïö©ÏÇ∞,ÏßÄÌèâ,2,2,False
434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2602,935,945,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,2,2,False
435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2604,1035,1045,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,2,2,False
436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2606,1545,1555,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,2,2,False
437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2608,1720,1730,Î¨∏ÏÇ∞,ÏûÑÏßÑÍ∞ï,2,2,False

In [112]:
result = pd.read_csv('result_train_station_withcode.csv')

filenames = ["Í≤ΩÏùòÏ§ëÏïôÏÑ†", "Í≤ΩÏ∂òÏÑ†", "Í≥µÌï≠Ï≤†ÎèÑÏÑ†", "1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†",
             "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†", "ÏàòÏù∏Î∂ÑÎãπÏÑ†", "Ïã†Î¶ºÏÑ†", "Ïã†Î∂ÑÎãπÏÑ†", "Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†"]
routes = sorted(set(result["ÎÖ∏ÏÑ†Î™Ö"]))

timetables = [0] * len(filenames)

for i in range(len(timetables)):
    timetables[i] = pd.read_csv('./timetable/result_2_final/' + filenames[i] + '.csv')

In [113]:
# 9Ïãú Ïù¥Ï†Ñ ÎèÑÏ∞© Ïó¥Ï∞® ÏãúÍ∞ÑÌëú Ï†úÍ±∞

for i in range(len(timetables)):
    dropList = []
    for j in range(len(timetables[i])):
        if timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"].loc[j] < 2100:
            # 9Ïãú Ïù¥Ï†Ñ ÏãúÍ∞ÑÌëú -> Ï†úÍ±∞Ìï¥ÎèÑ Îê®
            dropList.append(j)
            
    timetables[i].drop(dropList, inplace=True)

In [114]:
for i in range(len(timetables)):
    print(routes[i] + " - " + str(len(timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"][timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] < 2100])))

Í≤ΩÏùòÏ§ëÏïôÏÑ† - 0
Í≤ΩÏ∂òÏÑ† - 0
Í≥µÌï≠Ï≤†ÎèÑ - 0
ÏàòÎèÑÍ∂å 1Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 2Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 3Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 4Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 5Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 6Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 7Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 8Ìò∏ÏÑ† - 0
ÏàòÎèÑÍ∂å 9Ìò∏ÏÑ† - 0
ÏàòÏù∏Î∂ÑÎãπÏÑ† - 0
Ïã†Î¶ºÏÑ† - 0
Ïã†Î∂ÑÎãπÏÑ† - 0
Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† - 0

In [115]:
for i in range(len(timetables)):
    print(routes[i] + " - " + str(len(timetables[i]
          ["ÎèÑÏ∞©ÏãúÍ∞Ñ"][timetables[i]["ÎèÑÏ∞©ÏãúÍ∞Ñ"] >= 2100])))

Í≤ΩÏùòÏ§ëÏïôÏÑ† - 86
Í≤ΩÏ∂òÏÑ† - 45
Í≥µÌï≠Ï≤†ÎèÑ - 122
ÏàòÎèÑÍ∂å 1Ìò∏ÏÑ† - 458
ÏàòÎèÑÍ∂å 2Ìò∏ÏÑ† - 371
ÏàòÎèÑÍ∂å 3Ìò∏ÏÑ† - 206
ÏàòÎèÑÍ∂å 4Ìò∏ÏÑ† - 237
ÏàòÎèÑÍ∂å 5Ìò∏ÏÑ† - 212
ÏàòÎèÑÍ∂å 6Ìò∏ÏÑ† - 161
ÏàòÎèÑÍ∂å 7Ìò∏ÏÑ† - 203
ÏàòÎèÑÍ∂å 8Ìò∏ÏÑ† - 124
ÏàòÎèÑÍ∂å 9Ìò∏ÏÑ† - 246
ÏàòÏù∏Î∂ÑÎãπÏÑ† - 138
Ïã†Î¶ºÏÑ† - 110
Ïã†Î∂ÑÎãπÏÑ† - 113
Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ† - 132

In [116]:
timetables[0].info()

timetables[0] = timetables[0].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '1616'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 91 to 430
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   191     73 non-null     float64
 1   192     73 non-null     float64
 2   193     72 non-null     float64
 3   195     73 non-null     float64
 4   196     72 non-null     float64
 5   197     72 non-null     float64
 6   198     73 non-null     float64
 7   1299    6 non-null      float64
 8   1300    39 non-null     float64
 9   1301    38 non-null     float64
 10  1302    39 non-null     float64
 11  1303    38 non-null     float64
 12  1304    38 non-null     float64
 13  1305    38 non-null     float64
 14  1306    39 non-null     float64
 15  1307    38 non-null     float64
 16  1308    40 non-null     float64
 17  1309    41 non-null     float64
 18  1310    68 non-null     float64
 19  1311    67 non-null     float64
 20  1312    68 non-null     float64
 21  1313    68 non-null     float64
 22  1314    67 non-null     float64
 23  1315    67 non-null     float64
 24  1316    67 non-null     float64
 25  1317    68 non-null     float64
 26  1318    73 non-null     float64
 27  1390    68 non-null     float64
 28  1394    38 non-null     float64
 29  1606    68 non-null     float64
 30  1607    68 non-null     float64
 31  1608    68 non-null     float64
 32  1609    68 non-null     float64
 33  1610    13 non-null     float64
 34  1611    13 non-null     float64
 35  1612    81 non-null     float64
 36  1613    81 non-null     float64
 37  1614    80 non-null     float64
 38  1615    80 non-null     float64
 39  1616    81 non-null     float64
 40  1617    80 non-null     float64
 41  1618    77 non-null     float64
 42  1619    75 non-null     float64
 43  1620    76 non-null     float64
 44  1621    75 non-null     float64
 45  1622    76 non-null     float64
 46  1623    70 non-null     float64
 47  1624    70 non-null     float64
 48  1625    69 non-null     float64
 49  1626    70 non-null     float64
 50  1627    69 non-null     float64
 51  1628    69 non-null     float64
 52  1629    70 non-null     float64
 53  1630    0 non-null      float64
 54  1631    0 non-null      float64
 55  1635    80 non-null     float64
 56  1636    70 non-null     float64
 57  Ïó¥Ï∞®Î≤àÌò∏    86 non-null     object
 58  Ï∂úÎ∞úÏãúÍ∞Ñ    86 non-null     int64
 59  ÎèÑÏ∞©ÏãúÍ∞Ñ    86 non-null     int64
 60  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   86 non-null     object
 61  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   86 non-null     object
 62  ÏöîÏùº      86 non-null     int64
 63  Î∞©Ìñ•      86 non-null     int64
 64  Í∏âÌñâÏÑ†     86 non-null     bool
dtypes: bool(1), float64(57), int64(4), object(3)
memory usage: 43.8+ KB

In [117]:
timetables[1].info()

timetables[1] = timetables[1].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '1810'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 45 to 203
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1806    11 non-null     float64
 1   1807    11 non-null     float64
 2   1808    9 non-null      float64
 3   1809    1 non-null      float64
 4   1810    42 non-null     float64
 5   1811    40 non-null     float64
 6   1812    40 non-null     float64
 7   1813    42 non-null     float64
 8   1814    42 non-null     float64
 9   1815    42 non-null     float64
 10  1816    42 non-null     float64
 11  1817    40 non-null     float64
 12  1818    45 non-null     int64
 13  1819    41 non-null     float64
 14  1820    43 non-null     float64
 15  1821    39 non-null     float64
 16  1822    41 non-null     float64
 17  1823    39 non-null     float64
 18  1824    41 non-null     float64
 19  1825    39 non-null     float64
 20  1826    39 non-null     float64
 21  1827    41 non-null     float64
 22  1828    39 non-null     float64
 23  1829    41 non-null     float64
 24  1830    41 non-null     float64
 25  Ïó¥Ï∞®Î≤àÌò∏    45 non-null     object
 26  Ï∂úÎ∞úÏãúÍ∞Ñ    45 non-null     int64
 27  ÎèÑÏ∞©ÏãúÍ∞Ñ    45 non-null     int64
 28  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   45 non-null     object
 29  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   45 non-null     object
 30  ÏöîÏùº      45 non-null     int64
 31  Î∞©Ìñ•      45 non-null     int64
 32  Í∏âÌñâÏÑ†     45 non-null     bool
dtypes: bool(1), float64(24), int64(5), object(3)
memory usage: 11.6+ KB

In [118]:
timetables[2].info()

timetables[2] = timetables[2].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '4001'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 155 to 705
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   4001    120 non-null    float64
 1   4002    104 non-null    float64
 2   4003    104 non-null    float64
 3   4004    106 non-null    float64
 4   4005    106 non-null    float64
 5   4006    106 non-null    float64
 6   4007    106 non-null    float64
 7   4008    90 non-null     float64
 8   4009    90 non-null     float64
 9   4010    106 non-null    float64
 10  4011    90 non-null     float64
 11  4012    90 non-null     float64
 12  4013    106 non-null    float64
 13  4020    106 non-null    float64
 14  Ïó¥Ï∞®Î≤àÌò∏    122 non-null    object
 15  Ï∂úÎ∞úÏãúÍ∞Ñ    122 non-null    int64
 16  ÎèÑÏ∞©ÏãúÍ∞Ñ    122 non-null    int64
 17  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   122 non-null    object
 18  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   122 non-null    object
 19  ÏöîÏùº      122 non-null    int64
 20  Î∞©Ìñ•      122 non-null    int64
 21  Í∏âÌñâÏÑ†     122 non-null    bool
dtypes: bool(1), float64(14), int64(4), object(3)
memory usage: 21.1+ KB

In [119]:
timetables[3].info(max_cols=150)

timetables[3] = timetables[3].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '141'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458 entries, 296 to 2311
Data columns (total 107 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    100     55 non-null     float64
 1    101     78 non-null     float64
 2    102     78 non-null     float64
 3    103     78 non-null     float64
 4    104     78 non-null     float64
 5    105     78 non-null     float64
 6    106     78 non-null     float64
 7    107     120 non-null    float64
 8    108     120 non-null    float64
 9    110     120 non-null    float64
 10   111     159 non-null    float64
 11   112     159 non-null    float64
 12   113     159 non-null    float64
 13   114     159 non-null    float64
 14   115     159 non-null    float64
 15   116     159 non-null    float64
 16   117     159 non-null    float64
 17   118     159 non-null    float64
 18   119     159 non-null    float64
 19   120     260 non-null    float64
 20   121     238 non-null    float64
 21   122     238 non-null    float64
 22   123     238 non-null    float64
 23   124     238 non-null    float64
 24   125     270 non-null    float64
 25   126     270 non-null    float64
 26   127     270 non-null    float64
 27   128     283 non-null    float64
 28   129     283 non-null    float64
 29   130     283 non-null    float64
 30   131     283 non-null    float64
 31   132     283 non-null    float64
 32   133     285 non-null    float64
 33   134     281 non-null    float64
 34   135     351 non-null    float64
 35   136     351 non-null    float64
 36   137     351 non-null    float64
 37   138     351 non-null    float64
 38   139     372 non-null    float64
 39   140     372 non-null    float64
 40   141     415 non-null    float64
 41   142     170 non-null    float64
 42   143     221 non-null    float64
 43   144     148 non-null    float64
 44   145     148 non-null    float64
 45   146     221 non-null    float64
 46   147     148 non-null    float64
 47   148     224 non-null    float64
 48   149     148 non-null    float64
 49   150     224 non-null    float64
 50   151     148 non-null    float64
 51   152     224 non-null    float64
 52   153     148 non-null    float64
 53   154     221 non-null    float64
 54   155     148 non-null    float64
 55   156     221 non-null    float64
 56   157     148 non-null    float64
 57   158     221 non-null    float64
 58   159     148 non-null    float64
 59   160     221 non-null    float64
 60   161     148 non-null    float64
 61   172     169 non-null    float64
 62   173     162 non-null    float64
 63   174     161 non-null    float64
 64   175     139 non-null    float64
 65   176     141 non-null    float64
 66   177     148 non-null    float64
 67   178     139 non-null    float64
 68   179     148 non-null    float64
 69   180     139 non-null    float64
 70   181     140 non-null    float64
 71   182     148 non-null    float64
 72   183     139 non-null    float64
 73   184     148 non-null    float64
 74   185     139 non-null    float64
 75   186     159 non-null    float64
 76   187     75 non-null     float64
 77   188     75 non-null     float64
 78   189     84 non-null     float64
 79   190     75 non-null     float64
 80   199     283 non-null    float64
 81   1175    21 non-null     float64
 82   1181    141 non-null    float64
 83   1187    57 non-null     float64
 84   1401    75 non-null     float64
 85   1402    84 non-null     float64
 86   1403    75 non-null     float64
 87   1404    84 non-null     float64
 88   1405    84 non-null     float64
 89   1406    75 non-null     float64
 90   1407    84 non-null     float64
 91   1408    87 non-null     float64
 92   1409    55 non-null     float64
 93   1410    55 non-null     float64
 94   1411    55 non-null     float64
 95   1412    55 non-null     float64
 96   1413    55 non-null     float64
 97   1415    55 non-null     float64
 98   1416    55 non-null     float64
 99   Ïó¥Ï∞®Î≤àÌò∏    458 non-null    object
 100  Ï∂úÎ∞úÏãúÍ∞Ñ    458 non-null    int64
 101  ÎèÑÏ∞©ÏãúÍ∞Ñ    458 non-null    int64
 102  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   458 non-null    object
 103  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   458 non-null    object
 104  ÏöîÏùº      458 non-null    int64
 105  Î∞©Ìñ•      458 non-null    int64
 106  Í∏âÌñâÏÑ†     458 non-null    bool
dtypes: bool(1), float64(99), int64(4), object(3)
memory usage: 383.3+ KB

In [120]:
timetables[4].info()

timetables[4] = timetables[4].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '234'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 305 to 2659
Data columns (total 59 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   201     122 non-null    float64
 1   202     123 non-null    float64
 2   203     120 non-null    float64
 3   204     120 non-null    float64
 4   205     120 non-null    float64
 5   206     120 non-null    float64
 6   207     120 non-null    float64
 7   208     120 non-null    float64
 8   209     120 non-null    float64
 9   210     120 non-null    float64
 10  211     268 non-null    float64
 11  212     126 non-null    float64
 12  213     126 non-null    float64
 13  214     126 non-null    float64
 14  215     126 non-null    float64
 15  216     126 non-null    float64
 16  217     126 non-null    float64
 17  218     126 non-null    float64
 18  219     129 non-null    float64
 19  220     126 non-null    float64
 20  221     126 non-null    float64
 21  222     126 non-null    float64
 22  223     126 non-null    float64
 23  224     126 non-null    float64
 24  225     126 non-null    float64
 25  226     126 non-null    float64
 26  227     126 non-null    float64
 27  228     129 non-null    float64
 28  229     126 non-null    float64
 29  230     126 non-null    float64
 30  231     126 non-null    float64
 31  232     126 non-null    float64
 32  233     126 non-null    float64
 33  234     248 non-null    float64
 34  235     122 non-null    float64
 35  236     122 non-null    float64
 36  237     122 non-null    float64
 37  238     122 non-null    float64
 38  239     125 non-null    float64
 39  240     122 non-null    float64
 40  241     122 non-null    float64
 41  242     122 non-null    float64
 42  243     122 non-null    float64
 43  251     110 non-null    float64
 44  252     110 non-null    float64
 45  253     110 non-null    float64
 46  254     110 non-null    float64
 47  261     103 non-null    float64
 48  262     103 non-null    float64
 49  263     103 non-null    float64
 50  264     103 non-null    float64
 51  Ïó¥Ï∞®Î≤àÌò∏    371 non-null    int64
 52  Ï∂úÎ∞úÏãúÍ∞Ñ    371 non-null    int64
 53  ÎèÑÏ∞©ÏãúÍ∞Ñ    371 non-null    int64
 54  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   371 non-null    object
 55  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   371 non-null    object
 56  ÏöîÏùº      371 non-null    int64
 57  Î∞©Ìñ•      371 non-null    int64
 58  Í∏âÌñâÏÑ†     371 non-null    bool
dtypes: bool(1), float64(51), int64(5), object(2)
memory usage: 171.4+ KB

In [121]:
timetables[5].info()

timetables[5] = timetables[5].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '330'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 153 to 1143
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   310     134 non-null    float64
 1   311     134 non-null    float64
 2   312     134 non-null    float64
 3   313     134 non-null    float64
 4   314     134 non-null    float64
 5   315     134 non-null    float64
 6   316     134 non-null    float64
 7   317     134 non-null    float64
 8   318     134 non-null    float64
 9   319     124 non-null    float64
 10  320     188 non-null    float64
 11  321     186 non-null    float64
 12  322     186 non-null    float64
 13  323     186 non-null    float64
 14  324     186 non-null    float64
 15  325     186 non-null    float64
 16  326     189 non-null    float64
 17  327     189 non-null    float64
 18  328     189 non-null    float64
 19  329     189 non-null    float64
 20  330     189 non-null    float64
 21  331     189 non-null    float64
 22  332     189 non-null    float64
 23  333     189 non-null    float64
 24  334     186 non-null    float64
 25  335     186 non-null    float64
 26  336     189 non-null    float64
 27  337     189 non-null    float64
 28  338     189 non-null    float64
 29  339     189 non-null    float64
 30  340     189 non-null    float64
 31  341     189 non-null    float64
 32  342     189 non-null    float64
 33  343     189 non-null    float64
 34  344     189 non-null    float64
 35  345     186 non-null    float64
 36  346     186 non-null    float64
 37  347     186 non-null    float64
 38  348     186 non-null    float64
 39  349     188 non-null    float64
 40  350     165 non-null    float64
 41  351     165 non-null    float64
 42  352     165 non-null    float64
 43  370     134 non-null    float64
 44  Ïó¥Ï∞®Î≤àÌò∏    206 non-null    object
 45  Ï∂úÎ∞úÏãúÍ∞Ñ    206 non-null    int64
 46  ÎèÑÏ∞©ÏãúÍ∞Ñ    206 non-null    int64
 47  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   206 non-null    object
 48  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   206 non-null    object
 49  ÏöîÏùº      206 non-null    int64
 50  Î∞©Ìñ•      206 non-null    int64
 51  Í∏âÌñâÏÑ†     206 non-null    bool
dtypes: bool(1), float64(44), int64(4), object(3)
memory usage: 83.9+ KB

In [122]:
timetables[6].info()

timetables[6] = timetables[6].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '424'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 187 to 1292
Data columns (total 59 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   405     70 non-null     float64
 1   406     70 non-null     float64
 2   408     70 non-null     float64
 3   409     223 non-null    float64
 4   410     220 non-null    float64
 5   411     222 non-null    float64
 6   412     223 non-null    float64
 7   413     223 non-null    float64
 8   414     223 non-null    float64
 9   415     223 non-null    float64
 10  416     223 non-null    float64
 11  417     223 non-null    float64
 12  418     223 non-null    float64
 13  419     226 non-null    float64
 14  420     226 non-null    float64
 15  421     226 non-null    float64
 16  422     226 non-null    float64
 17  423     226 non-null    float64
 18  424     226 non-null    float64
 19  425     226 non-null    float64
 20  426     226 non-null    float64
 21  427     223 non-null    float64
 22  428     223 non-null    float64
 23  429     223 non-null    float64
 24  430     223 non-null    float64
 25  431     223 non-null    float64
 26  432     223 non-null    float64
 27  433     225 non-null    float64
 28  434     134 non-null    float64
 29  435     131 non-null    float64
 30  436     131 non-null    float64
 31  437     131 non-null    float64
 32  438     131 non-null    float64
 33  439     131 non-null    float64
 34  440     131 non-null    float64
 35  441     131 non-null    float64
 36  442     131 non-null    float64
 37  443     137 non-null    float64
 38  444     136 non-null    float64
 39  445     132 non-null    float64
 40  446     132 non-null    float64
 41  447     132 non-null    float64
 42  448     134 non-null    float64
 43  449     132 non-null    float64
 44  450     134 non-null    float64
 45  451     132 non-null    float64
 46  452     134 non-null    float64
 47  453     134 non-null    float64
 48  454     115 non-null    float64
 49  455     117 non-null    float64
 50  456     117 non-null    float64
 51  Ïó¥Ï∞®Î≤àÌò∏    239 non-null    object
 52  Ï∂úÎ∞úÏãúÍ∞Ñ    239 non-null    int64
 53  ÎèÑÏ∞©ÏãúÍ∞Ñ    237 non-null    float64
 54  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   239 non-null    object
 55  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   239 non-null    object
 56  ÏöîÏùº      239 non-null    int64
 57  Î∞©Ìñ•      239 non-null    int64
 58  Í∏âÌñâÏÑ†     239 non-null    bool
dtypes: bool(1), float64(52), int64(3), object(3)
memory usage: 110.4+ KB

In [123]:
timetables[7].info()

timetables[7] = timetables[7].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '540'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 164 to 1105
Data columns (total 64 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   510     194 non-null    float64
 1   511     194 non-null    float64
 2   512     194 non-null    float64
 3   513     194 non-null    float64
 4   514     194 non-null    float64
 5   515     194 non-null    float64
 6   516     194 non-null    float64
 7   517     196 non-null    float64
 8   518     193 non-null    float64
 9   519     193 non-null    float64
 10  520     193 non-null    float64
 11  521     193 non-null    float64
 12  522     193 non-null    float64
 13  523     193 non-null    float64
 14  524     193 non-null    float64
 15  525     193 non-null    float64
 16  526     196 non-null    float64
 17  527     196 non-null    float64
 18  528     196 non-null    float64
 19  529     196 non-null    float64
 20  530     199 non-null    float64
 21  531     196 non-null    float64
 22  532     196 non-null    float64
 23  533     196 non-null    float64
 24  534     196 non-null    float64
 25  535     196 non-null    float64
 26  536     196 non-null    float64
 27  537     196 non-null    float64
 28  538     196 non-null    float64
 29  539     196 non-null    float64
 30  540     200 non-null    float64
 31  541     198 non-null    float64
 32  542     198 non-null    float64
 33  543     198 non-null    float64
 34  544     200 non-null    float64
 35  545     196 non-null    float64
 36  546     196 non-null    float64
 37  547     196 non-null    float64
 38  548     199 non-null    float64
 39  549     103 non-null    float64
 40  550     103 non-null    float64
 41  551     103 non-null    float64
 42  552     103 non-null    float64
 43  553     103 non-null    float64
 44  554     96 non-null     float64
 45  555     96 non-null     float64
 46  556     96 non-null     float64
 47  557     96 non-null     float64
 48  558     96 non-null     float64
 49  569     97 non-null     float64
 50  570     97 non-null     float64
 51  571     97 non-null     float64
 52  572     97 non-null     float64
 53  573     97 non-null     float64
 54  574     97 non-null     float64
 55  575     97 non-null     float64
 56  Ïó¥Ï∞®Î≤àÌò∏    212 non-null    int64
 57  Ï∂úÎ∞úÏãúÍ∞Ñ    212 non-null    int64
 58  ÎèÑÏ∞©ÏãúÍ∞Ñ    212 non-null    int64
 59  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   212 non-null    object
 60  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   212 non-null    object
 61  ÏöîÏùº      212 non-null    int64
 62  Î∞©Ìñ•      212 non-null    int64
 63  Í∏âÌñâÏÑ†     212 non-null    bool
dtypes: bool(1), float64(56), int64(5), object(2)
memory usage: 106.2+ KB

In [124]:
timetables[8].info()

timetables[8] = timetables[8].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '610'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 139 to 861
Data columns (total 47 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   610     149 non-null    float64
 1   611     88 non-null     float64
 2   612     88 non-null     float64
 3   613     88 non-null     float64
 4   614     85 non-null     float64
 5   615     85 non-null     float64
 6   616     146 non-null    float64
 7   617     144 non-null    float64
 8   618     144 non-null    float64
 9   619     144 non-null    float64
 10  620     144 non-null    float64
 11  621     144 non-null    float64
 12  622     144 non-null    float64
 13  623     144 non-null    float64
 14  624     144 non-null    float64
 15  625     146 non-null    float64
 16  626     148 non-null    float64
 17  627     145 non-null    float64
 18  628     145 non-null    float64
 19  629     145 non-null    float64
 20  630     145 non-null    float64
 21  631     148 non-null    float64
 22  632     145 non-null    float64
 23  633     145 non-null    float64
 24  634     145 non-null    float64
 25  635     145 non-null    float64
 26  636     145 non-null    float64
 27  637     145 non-null    float64
 28  638     145 non-null    float64
 29  639     148 non-null    float64
 30  640     146 non-null    float64
 31  641     146 non-null    float64
 32  642     146 non-null    float64
 33  643     146 non-null    float64
 34  644     146 non-null    float64
 35  645     146 non-null    float64
 36  646     146 non-null    float64
 37  647     146 non-null    float64
 38  648     61 non-null     float64
 39  Ïó¥Ï∞®Î≤àÌò∏    161 non-null    int64
 40  Ï∂úÎ∞úÏãúÍ∞Ñ    161 non-null    int64
 41  ÎèÑÏ∞©ÏãúÍ∞Ñ    161 non-null    int64
 42  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   161 non-null    object
 43  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   161 non-null    object
 44  ÏöîÏùº      161 non-null    int64
 45  Î∞©Ìñ•      161 non-null    int64
 46  Í∏âÌñâÏÑ†     161 non-null    bool
dtypes: bool(1), float64(39), int64(5), object(2)
memory usage: 59.3+ KB

In [125]:
timetables[9].info()

timetables[9] = timetables[9].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '750'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 162 to 1080
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   709     83 non-null     float64
 1   710     186 non-null    float64
 2   711     186 non-null    float64
 3   712     186 non-null    float64
 4   713     186 non-null    float64
 5   714     186 non-null    float64
 6   715     186 non-null    float64
 7   716     186 non-null    float64
 8   717     189 non-null    float64
 9   718     189 non-null    float64
 10  719     189 non-null    float64
 11  720     189 non-null    float64
 12  721     189 non-null    float64
 13  722     189 non-null    float64
 14  723     189 non-null    float64
 15  724     189 non-null    float64
 16  725     189 non-null    float64
 17  726     189 non-null    float64
 18  727     192 non-null    float64
 19  728     189 non-null    float64
 20  729     192 non-null    float64
 21  730     189 non-null    float64
 22  731     189 non-null    float64
 23  732     189 non-null    float64
 24  733     189 non-null    float64
 25  734     189 non-null    float64
 26  735     192 non-null    float64
 27  736     189 non-null    float64
 28  737     189 non-null    float64
 29  738     189 non-null    float64
 30  739     189 non-null    float64
 31  740     189 non-null    float64
 32  741     189 non-null    float64
 33  742     189 non-null    float64
 34  743     189 non-null    float64
 35  744     186 non-null    float64
 36  745     186 non-null    float64
 37  746     186 non-null    float64
 38  747     186 non-null    float64
 39  748     186 non-null    float64
 40  749     186 non-null    float64
 41  750     191 non-null    float64
 42  751     114 non-null    float64
 43  752     115 non-null    float64
 44  753     115 non-null    float64
 45  754     115 non-null    float64
 46  755     115 non-null    float64
 47  756     115 non-null    float64
 48  757     115 non-null    float64
 49  758     115 non-null    float64
 50  759     115 non-null    float64
 51  760     115 non-null    float64
 52  761     115 non-null    float64
 53  Ïó¥Ï∞®Î≤àÌò∏    204 non-null    int64
 54  Ï∂úÎ∞úÏãúÍ∞Ñ    204 non-null    int64
 55  ÎèÑÏ∞©ÏãúÍ∞Ñ    203 non-null    float64
 56  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   204 non-null    object
 57  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   204 non-null    object
 58  ÏöîÏùº      204 non-null    int64
 59  Î∞©Ìñ•      204 non-null    int64
 60  Í∏âÌñâÏÑ†     204 non-null    bool
dtypes: bool(1), float64(54), int64(4), object(2)
memory usage: 97.4+ KB

In [126]:
timetables[10].info()

timetables[10] = timetables[10].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '814'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 124 to 794
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   810     121 non-null    float64
 1   811     121 non-null    float64
 2   812     121 non-null    float64
 3   813     121 non-null    float64
 4   814     124 non-null    float64
 5   815     124 non-null    float64
 6   816     124 non-null    float64
 7   817     124 non-null    float64
 8   818     121 non-null    float64
 9   819     121 non-null    float64
 10  820     121 non-null    float64
 11  821     121 non-null    float64
 12  822     121 non-null    float64
 13  823     121 non-null    float64
 14  824     121 non-null    float64
 15  825     121 non-null    float64
 16  826     121 non-null    float64
 17  831     121 non-null    float64
 18  Ïó¥Ï∞®Î≤àÌò∏    124 non-null    int64
 19  Ï∂úÎ∞úÏãúÍ∞Ñ    124 non-null    int64
 20  ÎèÑÏ∞©ÏãúÍ∞Ñ    124 non-null    int64
 21  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   124 non-null    object
 22  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   124 non-null    object
 23  ÏöîÏùº      124 non-null    int64
 24  Î∞©Ìñ•      124 non-null    int64
 25  Í∏âÌñâÏÑ†     124 non-null    bool
dtypes: bool(1), float64(18), int64(5), object(2)
memory usage: 25.3+ KB

In [127]:
timetables[11].info()

timetables[11] = timetables[11].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '926'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 93 to 1231
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   901     133 non-null    float64
 1   902     229 non-null    float64
 2   903     133 non-null    float64
 3   904     133 non-null    float64
 4   905     230 non-null    float64
 5   906     134 non-null    float64
 6   907     230 non-null    float64
 7   908     131 non-null    float64
 8   909     131 non-null    float64
 9   910     230 non-null    float64
 10  911     134 non-null    float64
 11  912     134 non-null    float64
 12  913     231 non-null    float64
 13  914     131 non-null    float64
 14  915     231 non-null    float64
 15  916     134 non-null    float64
 16  917     231 non-null    float64
 17  918     134 non-null    float64
 18  919     134 non-null    float64
 19  920     234 non-null    float64
 20  921     134 non-null    float64
 21  922     134 non-null    float64
 22  923     231 non-null    float64
 23  924     134 non-null    float64
 24  925     234 non-null    float64
 25  926     134 non-null    float64
 26  927     231 non-null    float64
 27  928     134 non-null    float64
 28  929     231 non-null    float64
 29  930     231 non-null    float64
 30  931     135 non-null    float64
 31  932     134 non-null    float64
 32  933     233 non-null    float64
 33  934     136 non-null    float64
 34  935     136 non-null    float64
 35  936     233 non-null    float64
 36  937     136 non-null    float64
 37  938     233 non-null    float64
 38  Ïó¥Ï∞®Î≤àÌò∏    246 non-null    object
 39  Ï∂úÎ∞úÏãúÍ∞Ñ    246 non-null    int64
 40  ÎèÑÏ∞©ÏãúÍ∞Ñ    246 non-null    int64
 41  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   246 non-null    object
 42  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   246 non-null    object
 43  ÏöîÏùº      246 non-null    int64
 44  Î∞©Ìñ•      246 non-null    int64
 45  Í∏âÌñâÏÑ†     246 non-null    bool
dtypes: bool(1), float64(38), int64(4), object(3)
memory usage: 88.6+ KB

In [128]:
timetables[12].info()

timetables[12] = timetables[12].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '1534'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 147 to 783
Data columns (total 71 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1509    0 non-null      float64
 1   1510    102 non-null    float64
 2   1511    102 non-null    float64
 3   1512    102 non-null    float64
 4   1513    102 non-null    float64
 5   1514    102 non-null    float64
 6   1515    102 non-null    float64
 7   1516    102 non-null    float64
 8   1517    102 non-null    float64
 9   1518    102 non-null    float64
 10  1519    102 non-null    float64
 11  1520    102 non-null    float64
 12  1521    102 non-null    float64
 13  1522    102 non-null    float64
 14  1523    102 non-null    float64
 15  1524    102 non-null    float64
 16  1525    102 non-null    float64
 17  1526    102 non-null    float64
 18  1527    102 non-null    float64
 19  1528    102 non-null    float64
 20  1529    102 non-null    float64
 21  1530    102 non-null    float64
 22  1531    102 non-null    float64
 23  1532    102 non-null    float64
 24  1533    79 non-null     float64
 25  1534    113 non-null    float64
 26  1535    79 non-null     float64
 27  1536    79 non-null     float64
 28  1537    79 non-null     float64
 29  1538    79 non-null     float64
 30  1539    79 non-null     float64
 31  1540    79 non-null     float64
 32  1541    79 non-null     float64
 33  1542    79 non-null     float64
 34  1543    79 non-null     float64
 35  1544    79 non-null     float64
 36  1545    79 non-null     float64
 37  11109   81 non-null     float64
 38  11110   40 non-null     float64
 39  11111   40 non-null     float64
 40  11112   40 non-null     float64
 41  11113   40 non-null     float64
 42  11114   40 non-null     float64
 43  11115   40 non-null     float64
 44  11116   40 non-null     float64
 45  11117   40 non-null     float64
 46  11118   40 non-null     float64
 47  11119   40 non-null     float64
 48  11120   40 non-null     float64
 49  11121   63 non-null     float64
 50  11122   60 non-null     float64
 51  11123   60 non-null     float64
 52  11124   60 non-null     float64
 53  11125   60 non-null     float64
 54  11126   60 non-null     float64
 55  11127   60 non-null     float64
 56  11128   60 non-null     float64
 57  11129   60 non-null     float64
 58  11131   60 non-null     float64
 59  11132   60 non-null     float64
 60  11133   60 non-null     float64
 61  11134   60 non-null     float64
 62  11150   60 non-null     float64
 63  Ïó¥Ï∞®Î≤àÌò∏    138 non-null    object
 64  Ï∂úÎ∞úÏãúÍ∞Ñ    138 non-null    int64
 65  ÎèÑÏ∞©ÏãúÍ∞Ñ    138 non-null    int64
 66  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   138 non-null    object
 67  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   138 non-null    object
 68  ÏöîÏùº      138 non-null    int64
 69  Î∞©Ìñ•      138 non-null    int64
 70  Í∏âÌñâÏÑ†     138 non-null    bool
dtypes: bool(1), float64(63), int64(4), object(3)
memory usage: 76.7+ KB

In [129]:
timetables[13].info()

timetables[13] = timetables[13].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '11711'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 161 to 695
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   11711   110 non-null    int64
 1   11712   110 non-null    int64
 2   11713   110 non-null    int64
 3   11714   110 non-null    int64
 4   11715   110 non-null    int64
 5   11716   110 non-null    int64
 6   11717   110 non-null    int64
 7   11718   110 non-null    int64
 8   11719   110 non-null    int64
 9   11720   110 non-null    int64
 10  11721   110 non-null    int64
 11  Ï∂úÎ∞úÏãúÍ∞Ñ    110 non-null    int64
 12  ÎèÑÏ∞©ÏãúÍ∞Ñ    110 non-null    int64
 13  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   110 non-null    object
 14  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   110 non-null    object
 15  ÏöîÏùº      110 non-null    int64
 16  Î∞©Ìñ•      110 non-null    int64
 17  Í∏âÌñâÏÑ†     110 non-null    bool
dtypes: bool(1), int64(15), object(2)
memory usage: 15.6+ KB

In [130]:
timetables[14].info()

timetables[14] = timetables[14].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '1907'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 135 to 596
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1907    113 non-null    float64
 1   1908    113 non-null    float64
 2   1909    113 non-null    float64
 3   1910    113 non-null    float64
 4   1911    113 non-null    float64
 5   1912    113 non-null    float64
 6   1913    113 non-null    float64
 7   1914    113 non-null    float64
 8   1915    113 non-null    float64
 9   1916    106 non-null    float64
 10  1917    106 non-null    float64
 11  1918    106 non-null    float64
 12  1919    106 non-null    float64
 13  1920    106 non-null    float64
 14  1921    106 non-null    float64
 15  1922    106 non-null    float64
 16  Ï∂úÎ∞úÏãúÍ∞Ñ    113 non-null    int64
 17  ÎèÑÏ∞©ÏãúÍ∞Ñ    113 non-null    int64
 18  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   113 non-null    object
 19  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   113 non-null    object
 20  ÏöîÏùº      113 non-null    float64
 21  Î∞©Ìñ•      113 non-null    float64
 22  Í∏âÌñâÏÑ†     113 non-null    bool
dtypes: bool(1), float64(18), int64(2), object(2)
memory usage: 20.4+ KB

In [131]:
timetables[15].info()

timetables[15] = timetables[15].sort_values(by=['ÏöîÏùº', 'Î∞©Ìñ•', '11321'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 217 to 939
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   11321   132 non-null    int64
 1   11322   132 non-null    int64
 2   11323   132 non-null    int64
 3   11324   132 non-null    int64
 4   11325   132 non-null    int64
 5   11326   132 non-null    int64
 6   11327   132 non-null    int64
 7   11328   132 non-null    int64
 8   11329   132 non-null    int64
 9   11330   132 non-null    int64
 10  11331   132 non-null    int64
 11  11332   132 non-null    int64
 12  11333   132 non-null    int64
 13  Ï∂úÎ∞úÏãúÍ∞Ñ    132 non-null    int64
 14  ÎèÑÏ∞©ÏãúÍ∞Ñ    132 non-null    int64
 15  Ï∂úÎ∞úÏó≠ÏÇ¨Î™Ö   132 non-null    object
 16  ÎèÑÏ∞©Ïó≠ÏÇ¨Î™Ö   132 non-null    object
 17  ÏöîÏùº      132 non-null    int64
 18  Î∞©Ìñ•      132 non-null    int64
 19  Í∏âÌñâÏÑ†     132 non-null    bool
dtypes: bool(1), int64(17), object(2)
memory usage: 20.8+ KB

In [133]:
for i in range(len(timetables)):
    timetables[i].to_csv('./timetable/result_2_final_after_9pm/' + filenames[i] +
                         '.csv', index=False, encoding="utf-8-sig")

### 7. result ÏãúÍ∞ÑÌëú Ï†ÑÎ∂Ä ÌÜµÌï© ÌõÑ Ï†ÄÏû•

In [3]:
routes = ["1Ìò∏ÏÑ†", "2Ìò∏ÏÑ†", "3Ìò∏ÏÑ†", "4Ìò∏ÏÑ†", "5Ìò∏ÏÑ†", "6Ìò∏ÏÑ†", "7Ìò∏ÏÑ†", "8Ìò∏ÏÑ†", "9Ìò∏ÏÑ†", "Í≤ΩÏùòÏ§ëÏïôÏÑ†", "Í≤ΩÏ∂òÏÑ†", "Í≥µÌï≠Ï≤†ÎèÑÏÑ†", "ÏàòÏù∏Î∂ÑÎãπÏÑ†", "Ïã†Î¶ºÏÑ†", "Ïã†Î∂ÑÎãπÏÑ†", "Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†"]

temp = [0] * len(routes)
cnt = 0
for route in routes:
    temp[cnt] = pd.read_csv('./timetable/result_final_after_9pm/' + route + '.csv')
    cnt += 1

In [4]:
temp[0]

       ÎÖ∏ÏÑ†Î™Ö     Ïó≠ÏΩîÎìú  Ïó¥Ï∞®Î≤àÌò∏  ÎèÑÏ∞©ÏãúÍ∞Ñ   Ï∂úÎ∞úÏó≠ÏΩîÎìú   ÎèÑÏ∞©Ïó≠ÏΩîÎìú  ÏöîÏùº  Î∞©Ìñ•    Í∏âÌñâÏÑ†
0      1Ìò∏ÏÑ†   100.0  K178  2126   100.0   100.0   1   1  False
1      1Ìò∏ÏÑ†   100.0  K188  2210   100.0   100.0   1   1  False
2      1Ìò∏ÏÑ†   100.0  K200  2303   100.0   100.0   1   1  False
3      1Ìò∏ÏÑ†   100.0  K206  2329   100.0   100.0   1   1  False
4      1Ìò∏ÏÑ†   100.0  K212  2359   100.0   100.0   1   1  False
...    ...     ...   ...   ...     ...     ...  ..  ..    ...
12143  1Ìò∏ÏÑ†  1416.0  K705  2158  1416.0  1416.0   3   2  False
12144  1Ìò∏ÏÑ†  1416.0  K709  2227  1416.0  1416.0   3   2  False
12145  1Ìò∏ÏÑ†  1416.0  K711  2252  1416.0  1416.0   3   2  False
12146  1Ìò∏ÏÑ†  1416.0  K715  2333  1416.0  1416.0   3   2  False
12147  1Ìò∏ÏÑ†  1416.0  K717  2352  1416.0  1416.0   3   2  False

[12148 rows x 9 columns]

In [5]:
for i in range(cnt):
    temp[i] = temp[i].rename(columns={"ÎÖ∏ÏÑ†Î™Ö":"route_name", "Ïó≠ÏΩîÎìú": "stat_code", "Ïó¥Ï∞®Î≤àÌò∏": "train_code", "ÎèÑÏ∞©ÏãúÍ∞Ñ": "time", "ÏöîÏùº": "weeks", "Î∞©Ìñ•": "inout"})
    temp[i] = temp[i].drop(columns=["Ï∂úÎ∞úÏó≠ÏΩîÎìú", "ÎèÑÏ∞©Ïó≠ÏΩîÎìú", "Í∏âÌñâÏÑ†"])
    temp[i] = temp[i].sort_values(["route_name", "weeks", "inout", "train_code", "time"])

In [8]:
result = pd.DataFrame(columns=["route_name", "stat_code", "train_code", "time", "weeks", "inout"])
for i in range(cnt):
    result = pd.concat([result, temp[i]])

In [9]:
result

     route_name stat_code train_code  time weeks inout
869         1Ìò∏ÏÑ†     138.0      K1168  2100     1     1
827         1Ìò∏ÏÑ†     137.0      K1168  2102     1     1
785         1Ìò∏ÏÑ†     136.0      K1168  2104     1     1
742         1Ìò∏ÏÑ†     135.0      K1168  2108     1     1
1000        1Ìò∏ÏÑ†     141.0      K1170  2102     1     1
...         ...       ...        ...   ...   ...   ...
1405      Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†   11325.0        212  2353     2     2
1382      Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†   11324.0        212  2355     2     2
1359      Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†   11323.0        212  2357     2     2
1335      Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†   11322.0        212  2358     2     2
1311      Ïö∞Ïù¥Ïã†ÏÑ§ÏÑ†   11321.0        212  2400     2     2

[70942 rows x 6 columns]

In [ ]:
result.to_csv('./result_total_timetable_result.csv',
              index=False, encoding="utf-8-sig")