# ğŸ—ºï¸ station
DBì— ì €ì¥í•  í˜•ì‹ì˜ ë²„ìŠ¤ì™€ ì§€í•˜ì² ì—­ ë°ì´í„° ë§Œë“¤ê¸°

### TODO
- [X] ë²„ìŠ¤ route ë°ì´í„°ë¥¼ ë§‰ì°¨ ì‹œê°„ê³¼ join
- [ ] routeì— í¬í•¨ëœ ë²„ìŠ¤ì—­ë§Œ ì¶”ë ¤ë‚´ê¸°
- [ ] ëª¨ë“  ì—­ë°ì´í„°ì— geohash ì ìš©
- [ ] ê° ì—­ë³„ ë§‰ì°¨ì‹œê°„ ìƒì„±

### 0. import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import set_matplotlib_formats
import koreanize_matplotlib
import folium
from folium.plugins import MarkerCluster
import json

### 1. ë²„ìŠ¤ ë§‰ì°¨ë°ì´í„° ê²°ì¸¡ê°’ ì œê±°

In [2]:
bus_station = pd.read_csv('../bus/result_bus_station.csv')
train_station = pd.read_csv("../train/result_train_station_withcode.csv")
bus_route_per_station = pd.read_csv("bus_route_per_station.csv")
lastbus = pd.read_csv('../bus/bus_route_last_time.csv')

In [3]:
lastbus

,Unnamed: 0,station,arsId,stationNm,busRouteAbrv,busRouteId,busRouteNm,lastTm,dis,speed,sec
0,0,101000308,02920,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,17:10,0.0,0,0
1,0,101000309,02921,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,17:10,1697.0,109,57
2,0,101000310,02922,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,17:12,634.0,20,115
3,0,101000311,02923,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,17:15,1003.0,22,165
4,0,100000400,01918,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,17:19,2655.0,37,259
...,...,...,...,...,...,...,...,...,...,...,...
28253,0,232000569,35519,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:21,118.0,19,23
28254,0,232000295,35585,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:22,124.0,16,28
28255,0,232000291,35576,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:23,519.0,20,94
28256,0,232000856,35803,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,22:24,203.0,13,57
28257,0,232000854,35801,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,22:25,177.0,22,29

In [4]:
lastbus = lastbus.drop(columns=["Unnamed: 0", "arsId", "dis", "speed", "sec"])
lastbus = lastbus.rename(
    columns={"station": "ì •ë¥˜ì¥ë²ˆí˜¸", "stationNm": "ì •ë¥˜ì†Œëª…", "busRouteAbrv": "ë…¸ì„ ëª…", "busRouteId": "ë…¸ì„ ë²ˆí˜¸", "lastTm": "ë§‰ì°¨ì‹œê°„"})

lastbus

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm   ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  17:10
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  17:10
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  17:12
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  17:15
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  17:19
...          ...          ...     ...        ...        ...    ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:21
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:22
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:23
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  22:24
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  22:25

[28258 rows x 6 columns]

In [6]:
lastbus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28258 entries, 0 to 28257
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì •ë¥˜ì¥ë²ˆí˜¸       28258 non-null  int64
 1   ì •ë¥˜ì†Œëª…        28258 non-null  object
 2   ë…¸ì„ ëª…         28258 non-null  object
 3   ë…¸ì„ ë²ˆí˜¸        28258 non-null  int64
 4   busRouteNm  28258 non-null  object
 5   ë§‰ì°¨ì‹œê°„        28258 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.3+ MB

In [8]:
lastbus[lastbus["ë§‰ì°¨ì‹œê°„"].str.len() != 5]

Empty DataFrame
Columns: [ì •ë¥˜ì¥ë²ˆí˜¸, ì •ë¥˜ì†Œëª…, ë…¸ì„ ëª…, ë…¸ì„ ë²ˆí˜¸, busRouteNm, ë§‰ì°¨ì‹œê°„]
Index: []

In [9]:
lastbus["ë§‰ì°¨ì‹œê°„"] = lastbus["ë§‰ì°¨ì‹œê°„"].str.slice_replace(start=2, stop=3, repl='')

lastbus

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm  ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  1710
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  1710
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  1712
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  1715
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  1719
...          ...          ...     ...        ...        ...   ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2221
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2222
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2223
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  2224
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  2225

[28258 rows x 6 columns]

In [10]:
lastbus.astype({"ë§‰ì°¨ì‹œê°„": int})

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm  ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  1710
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  1710
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  1712
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  1715
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  1719
...          ...          ...     ...        ...        ...   ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2221
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2222
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2223
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  2224
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  2225

[28258 rows x 6 columns]

In [11]:
bus_route_per_station = bus_route_per_station.rename(
    columns={"ROUTE_ID": "ë…¸ì„ ë²ˆí˜¸", "NODE_ID": "ì •ë¥˜ì¥ë²ˆí˜¸", "Xì¢Œí‘œ": "ê²½ë„", "Yì¢Œí‘œ": "ìœ„ë„"})

bus_route_per_station

,ë…¸ì„ ë²ˆí˜¸,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì¥ë²ˆí˜¸,ARS_ID,ì •ë¥˜ì†Œëª…,ê²½ë„,ìœ„ë„
0,100100585,N37,32,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
1,123000010,741,77,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
2,100100073,470,66,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
3,100100036,171,11,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
4,100100034,162,14,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
...,...,...,...,...,...,...,...,...
42060,100100415,6004,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42061,100100417,6008,36,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42062,100100418,6011,32,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42063,100100419,6012,31,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42064,100100422,6015,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505

In [12]:
result_bus_time = pd.merge(lastbus, bus_route_per_station, on=['ë…¸ì„ ë²ˆí˜¸', 'ì •ë¥˜ì¥ë²ˆí˜¸'], how='left')

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
0,101000308,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
1,101000309,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
2,101000310,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,1712,NaN,NaN,NaN,NaN,NaN,NaN
3,101000311,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,1715,NaN,NaN,NaN,NaN,NaN,NaN
4,100000400,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,1719,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28608,232000569,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2221,NaN,NaN,NaN,NaN,NaN,NaN
28609,232000295,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2222,NaN,NaN,NaN,NaN,NaN,NaN
28610,232000291,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2223,NaN,NaN,NaN,NaN,NaN,NaN
28611,232000856,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,2224,NaN,NaN,NaN,NaN,NaN,NaN
28612,232000854,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,2225,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
result_bus_time[result_bus_time["ê²½ë„"].isnull()]

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
0,101000308,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
1,101000309,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
2,101000310,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,1712,NaN,NaN,NaN,NaN,NaN,NaN
3,101000311,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,1715,NaN,NaN,NaN,NaN,NaN,NaN
4,100000400,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,1719,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28608,232000569,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2221,NaN,NaN,NaN,NaN,NaN,NaN
28609,232000295,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2222,NaN,NaN,NaN,NaN,NaN,NaN
28610,232000291,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2223,NaN,NaN,NaN,NaN,NaN,NaN
28611,232000856,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,2224,NaN,NaN,NaN,NaN,NaN,NaN
28612,232000854,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,2225,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
set(result_bus_time["ë…¸ì„ ëª…_x"][result_bus_time["ê²½ë„"].isnull()])

{'013-1',
 '013-2',
 '022B',
 '075A',
 '075Aí–¥',
 '075B',
 '077B',
 '1',
 '1-4',
 '1-8',
 '1004',
 '1006',
 '102',
 '105',
 '105-1',
 '1100',
 '1101',
 '1101N',
 '1102',
 '111',
 '1112',
 '1113-10',
 '1113-11',
 '13',
 '13-2',
 '1301',
 '1309',
 '1310',
 '1312',
 '1330-3',
 '1336',
 '1403',
 '1552',
 '1560',
 '16-1',
 '1650',
 '166-1',
 '1670-1',
 '1680',
 '169',
 '17',
 '1801',
 '2',
 '20',
 '200',
 '2000',
 '21',
 '22',
 '23',
 '231',
 '27',
 '271',
 '30',
 '300',
 '3000ì˜ˆ',
 '3005',
 '3006',
 '3007',
 '3008',
 '301',
 '31',
 '3100',
 '3100N',
 '3102',
 '320',
 '3201',
 '3217',
 '33',
 '33-1',
 '3300',
 '3301',
 '3302',
 '331',
 '3323',
 '3400',
 '3401',
 '341',
 '3413',
 '342',
 '343',
 '35',
 '3500',
 '357',
 '360',
 '3600',
 '3700',
 '38',
 '3800',
 '4101',
 '4103',
 '4108',
 '4300',
 '4300-1',
 '4300-2',
 '4403',
 '4432',
 '452',
 '50',
 '500-1A',
 '500-2N',
 '5000A',
 '5007',
 '52',
 '5200',
 '5200-1',
 '5300-1',
 '56',
 '56-1',
 '56-2',
 '5602',
 '5609',
 '57-1',
 '5700A',
 '59',
 '59-1',
 '60-1',
 '6001',
 '6002',
 '6004',
 '6008',
 '6014',
 '6101',
 '6105',
 '6200',
 '6501',
 '6502',
 '6600',
 '6615',
 '67',
 '7',
 '70',
 '700-1',
 '7000',
 '7007-1',
 '701',
 '705',
 '708',
 '7101',
 '72',
 '72-3',
 '730',
 '7300',
 '741',
 '75',
 '75-1',
 '76',
 '761',
 '77',
 '774',
 '78',
 '8008',
 '8012',
 '8100',
 '8141',
 '8147',
 '8153',
 '8153-1',
 '8155',
 '8156',
 '8455',
 '85-1',
 '8501',
 '8502',
 '8507',
 '8600',
 '87',
 '8800',
 '8800ì˜ˆ',
 '8829',
 '8840',
 '8843',
 '8848',
 '89',
 '9003',
 '9100',
 '9200',
 '9201',
 '9202',
 '9300',
 '9303',
 '9304',
 '9400',
 '9409',
 '9501',
 '9709',
 '9709N',
 '9800',
 '9802',
 '99',
 'G1003',
 'G1200',
 'G1300',
 'G1300N',
 'G2001',
 'G2100',
 'G3202',
 'G3900',
 'G5100',
 'G6000',
 'G6000N',
 'G6002',
 'G6003',
 'G6004',
 'G6005',
 'G6009',
 'G6100',
 'G6100N',
 'G7111',
 'G7426',
 'G7625',
 'G8110',
 'G8157',
 'G9633',
 'M2341',
 'M2344',
 'M2352',
 'M2353',
 'M4101',
 'M4102',
 'M4108',
 'M4130',
 'M4137',
 'M4403',
 'M4434',
 'M4448',
 'M4449',
 'M4455',
 'M5107',
 'M5115',
 'M5121',
 'M5333',
 'M5342',
 'M5422',
 'M5438',
 'M5443',
 'M5556',
 'M6117',
 'M6405',
 'M6410',
 'M6427',
 'M6439',
 'M6751',
 'M7106',
 'M7111',
 'M7119',
 'M7154',
 'M7412',
 'M7646',
 'M7731',
 'P9110ì¶œ',
 'P9110í‡´',
 'P9201ì¶œ',
 'P9201í‡´',
 'P9211ì¶œ',
 'P9211í‡´',
 'P9243ì¶œ',
 'P9243í‡´',
 'P9301ì¶œ',
 'P9301í‡´',
 'P9302ì¶œ',
 'P9302í‡´',
 'P9401ì¶œ',
 'P9401í‡´',
 'P9402ì¶œ',
 'P9402í‡´',
 'P9404ì¶œ',
 'P9404í‡´',
 'P9541í‡´',
 'P9601ì¶œ',
 'P9601í‡´',
 'P9602ì¶œ',
 'P9602í‡´',
 'P9701ì¶œ',
 'P9701í‡´',
 'TOUR01',
 'TOUR02',
 'TOUR03',
 'TOUR04',
 'TOUR11',
 'TOUR12',
 'ê´‘ì§„02',
 'ê¸ˆì²œ05',
 'ê¹€í¬16',
 'ê¹€í¬16A',
 'ë‚¨ì–‘82A',
 'ë‚¨ì–‘82B',
 'ë…¸ì›02',
 'ì„œì´ˆ08',
 'ì„œì´ˆ18',
 'ì•ˆì–‘6-3',
 'ì–‘ì£¼15-1',
 'ì´ìŒ2',
 'ì´ˆì´-01',
 'í•˜ë‚¨3',
 'í•˜ë‚¨6-1',
 'í•˜ë‚¨7'}

In [15]:
set(result_bus_time["ë…¸ì„ ëª…_x"][result_bus_time["ê²½ë„"].notnull()])

{'0411',
 '100',
 '109',
 '111',
 '1111',
 '1116',
 '1128',
 '1167',
 '120',
 '173',
 '2227',
 '2236',
 '2312',
 '241',
 '2416',
 '270',
 '271',
 '3217',
 '3314',
 '3323',
 '3413',
 '3417',
 '342',
 '3422',
 '343',
 '4312',
 '4432',
 '4435',
 '452',
 '507',
 '5511',
 '5528',
 '5616',
 '6001',
 '6002',
 '6003',
 '6004',
 '6006',
 '6007',
 '6008',
 '6009',
 '601',
 '6010',
 '6011',
 '6012',
 '6013',
 '6014',
 '6015',
 '6016',
 '6017',
 '6018',
 '6019',
 '602',
 '6020',
 '603',
 '6100',
 '6101',
 '6102',
 '6103',
 '6105',
 '6200',
 '6300',
 '654',
 '660',
 '6615',
 '6624',
 '6629',
 '6630',
 '6645',
 '6648',
 '6649',
 '6701',
 '6702',
 '6703',
 '6705',
 '6716',
 '674',
 '701',
 '705',
 '708',
 '741',
 '742',
 '761',
 '7612',
 '7734',
 '7737',
 '7739',
 '774',
 '8001',
 '8002',
 '8003',
 '8101',
 '8146',
 '8221',
 '8441',
 '8551',
 '8552',
 '8561',
 '8701',
 '8762',
 '8771',
 '8773',
 '9409',
 'N15',
 'N31',
 'N51',
 'N6001',
 'N6002',
 'N64',
 'N72',
 'N73',
 'N75',
 'ê°•ë‚¨05',
 'ê°•ë‚¨06',
 'ê°•ë‚¨6-2',
 'ê°•ë™01',
 'ê°•ë™02',
 'ê°•ë™05',
 'ê°•ë¶02',
 'ê°•ë¶10',
 'ê°•ì„œ01',
 'ê°•ì„œ04',
 'ê°•ì„œ07',
 'ê°•ì„œ5-1',
 'ê´€ì•…01',
 'ê´€ì•…11',
 'ê´‘ì§„01',
 'ê´‘ì§„02',
 'ê´‘ì§„03',
 'ê´‘ì§„04',
 'êµ¬ë¡œ07',
 'êµ¬ë¡œ08',
 'êµ¬ë¡œ09',
 'ê¸ˆì²œ05',
 'ê¸ˆì²œ06',
 'ë…¸ì›02',
 'ë…¸ì›14',
 'ë…¸ì›15',
 'ë„ë´‰01',
 'ë„ë´‰02',
 'ë™ëŒ€02',
 'ë™ì‘05',
 'ë™ì‘12',
 'ë§ˆí¬10',
 'ë§ˆí¬18-1',
 'ì„œëŒ€04',
 'ì„œëŒ€11',
 'ì„œëŒ€12',
 'ì„œëŒ€15',
 'ì„œëŒ€2ëŒ€',
 'ì„œì´ˆ05',
 'ì„œì´ˆ08',
 'ì„œì´ˆ10',
 'ì„œì´ˆ16',
 'ì„œì´ˆ18',
 'ì„œì´ˆ21',
 'ì„±ë™08',
 'ì„±ë™13',
 'ì„±ë™14',
 'ì„±ë™3-1',
 'ì„±ë™3-2',
 'ì„±ë¶06',
 'ì„±ë¶14-2',
 'ì†¡íŒŒ01',
 'ì†¡íŒŒ02',
 'ì†¡íŒŒ03',
 'ì–‘ì²œ02',
 'ì–‘ì²œ04',
 'ì˜ë“±10',
 'ì˜ë“±12',
 'ì˜ë“±13',
 'ì€í‰05',
 'ì€í‰07',
 'ì€í‰10',
 'ì€í‰8-1',
 'ì€í‰8-2',
 'ì¢…ë¡œ02',
 'ì¢…ë¡œ05',
 'ì²­ì™€A01'}

In [16]:
result_bus_time = result_bus_time[result_bus_time["ê²½ë„"].notnull()]

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
28,100000419,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1645,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1.0,1280.0,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),126.974399,37.576579
29,100000415,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,1119.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
30,100000416,ì²­ì™€ëŒ€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,1601.0,ì²­ì™€ëŒ€,126.973778,37.582747
31,100000417,ì¶˜ì¶”ë¬¸,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,1602.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
32,100000418,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,1603.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
...,...,...,...,...,...,...,...,...,...,...,...,...
10974,124000457,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,ê°•ë™02,124900003,ê°•ë™02,0051,ê°•ë™02,73.0,25375.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,127.172374,37.570459
10975,124000458,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,ê°•ë™02,124900003,ê°•ë™02,0052,ê°•ë™02,74.0,25377.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,127.173789,37.571724
10976,124900130,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,ê°•ë™02,124900003,ê°•ë™02,0053,ê°•ë™02,75.0,25763.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
10977,124900128,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,ê°•ë™02,124900003,ê°•ë™02,0056,ê°•ë™02,76.0,25764.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
10978,124900111,ê°€ë˜ì—¬ìš¸,ê°•ë™02,124900003,ê°•ë™02,0058,ê°•ë™02,77.0,25760.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [17]:
result_bus_time = result_bus_time.sort_values(by=["ë…¸ì„ ë²ˆí˜¸", "ìˆœë²ˆ"])
result_bus_time = result_bus_time.drop(
    columns=["ARS_ID", "busRouteNm", "ì •ë¥˜ì†Œëª…_x", "ë…¸ì„ ëª…_x"])
result_bus_time = result_bus_time.rename(columns={"ì •ë¥˜ì†Œëª…_y": "ì •ë¥˜ì†Œëª…", "ë…¸ì„ ëª…_y": "ë…¸ì„ ëª…"})
result_bus_time = result_bus_time.reset_index(drop=True)

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ë…¸ì„ ë²ˆí˜¸,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì†Œëª…,ê²½ë„,ìœ„ë„
0,100000419,100000020,1645,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1.0,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),126.974399,37.576579
1,100000415,100000020,1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
2,100000416,100000020,1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,ì²­ì™€ëŒ€,126.973778,37.582747
3,100000417,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
4,100000418,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
...,...,...,...,...,...,...,...,...
10484,124000457,124900003,0051,ê°•ë™02,73.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,127.172374,37.570459
10485,124000458,124900003,0052,ê°•ë™02,74.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,127.173789,37.571724
10486,124900130,124900003,0053,ê°•ë™02,75.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
10487,124900128,124900003,0056,ê°•ë™02,76.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
10488,124900111,124900003,0058,ê°•ë™02,77.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [18]:
result_bus_time.to_csv('result_bus_per_station.csv',
                      index=False, encoding="utf-8-sig");