# ğŸ—ºï¸ station
DBì— ì €ì¥í•  í˜•ì‹ì˜ ë²„ìŠ¤ì™€ ì§€í•˜ì² ì—­ ë°ì´í„° ë§Œë“¤ê¸°

### TODO
- [X] ë²„ìŠ¤ route ë°ì´í„°ë¥¼ ë§‰ì°¨ ì‹œê°„ê³¼ join
- [X] routeì— í¬í•¨ëœ ë²„ìŠ¤ì—­ë§Œ ì¶”ë ¤ë‚´ê¸°
- [X] ë²„ìŠ¤ ë§‰ì°¨ ì‹œê°„í‘œ ì¶”ë ¤ë‚´ê¸°
- [X] ëª¨ë“  ì—­ë°ì´í„°ì— geohash ì ìš©
- [ ] ê° ì—­ë³„ ë§‰ì°¨ì‹œê°„ ìƒì„±

### 0. import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import set_matplotlib_formats
import koreanize_matplotlib
import folium
from folium.plugins import MarkerCluster
import json

### 1. ë²„ìŠ¤ ë§‰ì°¨ë°ì´í„° ê²°ì¸¡ê°’ ì œê±°

In [2]:
bus_station = pd.read_csv('../bus/result_bus_station.csv')
train_station = pd.read_csv("../train/result_train_station_withcode.csv")
bus_route_per_station = pd.read_csv("bus_route_per_station.csv")
lastbus = pd.read_csv('../bus/bus_route_last_time.csv')

In [3]:
lastbus

,Unnamed: 0,station,arsId,stationNm,busRouteAbrv,busRouteId,busRouteNm,lastTm,dis,speed,sec
0,0,101000308,02920,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,17:10,0.0,0,0
1,0,101000309,02921,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,17:10,1697.0,109,57
2,0,101000310,02922,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,17:12,634.0,20,115
3,0,101000311,02923,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,17:15,1003.0,22,165
4,0,100000400,01918,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,17:19,2655.0,37,259
...,...,...,...,...,...,...,...,...,...,...,...
28253,0,232000569,35519,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:21,118.0,19,23
28254,0,232000295,35585,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:22,124.0,16,28
28255,0,232000291,35576,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,22:23,519.0,20,94
28256,0,232000856,35803,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,22:24,203.0,13,57
28257,0,232000854,35801,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,22:25,177.0,22,29

In [4]:
lastbus = lastbus.drop(columns=["Unnamed: 0", "arsId", "dis", "speed", "sec"])
lastbus = lastbus.rename(
    columns={"station": "ì •ë¥˜ì¥ë²ˆí˜¸", "stationNm": "ì •ë¥˜ì†Œëª…", "busRouteAbrv": "ë…¸ì„ ëª…", "busRouteId": "ë…¸ì„ ë²ˆí˜¸", "lastTm": "ë§‰ì°¨ì‹œê°„"})

lastbus

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm   ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  17:10
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  17:10
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  17:12
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  17:15
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  17:19
...          ...          ...     ...        ...        ...    ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:21
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:22
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  22:23
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  22:24
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  22:25

[28258 rows x 6 columns]

In [6]:
lastbus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28258 entries, 0 to 28257
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì •ë¥˜ì¥ë²ˆí˜¸       28258 non-null  int64
 1   ì •ë¥˜ì†Œëª…        28258 non-null  object
 2   ë…¸ì„ ëª…         28258 non-null  object
 3   ë…¸ì„ ë²ˆí˜¸        28258 non-null  int64
 4   busRouteNm  28258 non-null  object
 5   ë§‰ì°¨ì‹œê°„        28258 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.3+ MB

In [8]:
lastbus[lastbus["ë§‰ì°¨ì‹œê°„"].str.len() != 5]

Empty DataFrame
Columns: [ì •ë¥˜ì¥ë²ˆí˜¸, ì •ë¥˜ì†Œëª…, ë…¸ì„ ëª…, ë…¸ì„ ë²ˆí˜¸, busRouteNm, ë§‰ì°¨ì‹œê°„]
Index: []

In [9]:
lastbus["ë§‰ì°¨ì‹œê°„"] = lastbus["ë§‰ì°¨ì‹œê°„"].str.slice_replace(start=2, stop=3, repl='')

lastbus

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm  ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  1710
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  1710
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  1712
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  1715
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  1719
...          ...          ...     ...        ...        ...   ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2221
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2222
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2223
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  2224
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  2225

[28258 rows x 6 columns]

In [10]:
lastbus.astype({"ë§‰ì°¨ì‹œê°„": int})

           ì •ë¥˜ì¥ë²ˆí˜¸         ì •ë¥˜ì†Œëª…     ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸ busRouteNm  ë§‰ì°¨ì‹œê°„
0      101000308    ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì  TOUR11  100000017     TOUR11  1710
1      101000309      ë°©ì‚°.ì¤‘ë¶€ì‹œì¥  TOUR11  100000017     TOUR11  1710
2      101000310        ì„ì§€ë¡œ3ê°€  TOUR11  100000017     TOUR11  1712
3      101000311        ì„ì§€ë¡œì…êµ¬  TOUR11  100000017     TOUR11  1715
4      100000400          ì²­ì™€ëŒ€  TOUR11  100000017     TOUR11  1719
...          ...          ...     ...        ...        ...   ...
28253  232000569        ëŒ€ìš°ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2221
28254  232000295      ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2222
28255  232000291    ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸   ê¹€í¬16A  241461015      ê¹€í¬16A  2223
28256  232000856  ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬   ê¹€í¬16A  241461015      ê¹€í¬16A  2224
28257  232000854        ë™ì¼í•˜ì´ë¹Œ   ê¹€í¬16A  241461015      ê¹€í¬16A  2225

[28258 rows x 6 columns]

In [11]:
bus_route_per_station = bus_route_per_station.rename(
    columns={"ROUTE_ID": "ë…¸ì„ ë²ˆí˜¸", "NODE_ID": "ì •ë¥˜ì¥ë²ˆí˜¸", "Xì¢Œí‘œ": "ê²½ë„", "Yì¢Œí‘œ": "ìœ„ë„"})

bus_route_per_station

,ë…¸ì„ ë²ˆí˜¸,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì¥ë²ˆí˜¸,ARS_ID,ì •ë¥˜ì†Œëª…,ê²½ë„,ìœ„ë„
0,100100585,N37,32,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
1,123000010,741,77,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
2,100100073,470,66,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
3,100100036,171,11,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
4,100100034,162,14,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
...,...,...,...,...,...,...,...,...
42060,100100415,6004,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42061,100100417,6008,36,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42062,100100418,6011,32,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42063,100100419,6012,31,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42064,100100422,6015,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505

In [12]:
result_bus_time = pd.merge(lastbus, bus_route_per_station, on=['ë…¸ì„ ë²ˆí˜¸', 'ì •ë¥˜ì¥ë²ˆí˜¸'], how='left')

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
0,101000308,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
1,101000309,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
2,101000310,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,1712,NaN,NaN,NaN,NaN,NaN,NaN
3,101000311,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,1715,NaN,NaN,NaN,NaN,NaN,NaN
4,100000400,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,1719,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28608,232000569,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2221,NaN,NaN,NaN,NaN,NaN,NaN
28609,232000295,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2222,NaN,NaN,NaN,NaN,NaN,NaN
28610,232000291,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2223,NaN,NaN,NaN,NaN,NaN,NaN
28611,232000856,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,2224,NaN,NaN,NaN,NaN,NaN,NaN
28612,232000854,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,2225,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
result_bus_time[result_bus_time["ê²½ë„"].isnull()]

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
0,101000308,ë™ëŒ€ë¬¸ë””ìì¸í”„ë¼ì,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
1,101000309,ë°©ì‚°.ì¤‘ë¶€ì‹œì¥,TOUR11,100000017,TOUR11,1710,NaN,NaN,NaN,NaN,NaN,NaN
2,101000310,ì„ì§€ë¡œ3ê°€,TOUR11,100000017,TOUR11,1712,NaN,NaN,NaN,NaN,NaN,NaN
3,101000311,ì„ì§€ë¡œì…êµ¬,TOUR11,100000017,TOUR11,1715,NaN,NaN,NaN,NaN,NaN,NaN
4,100000400,ì²­ì™€ëŒ€,TOUR11,100000017,TOUR11,1719,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28608,232000569,ëŒ€ìš°ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2221,NaN,NaN,NaN,NaN,NaN,NaN
28609,232000295,ëŒ€ìš°ì•„íŒŒíŠ¸í›„ë¬¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2222,NaN,NaN,NaN,NaN,NaN,NaN
28610,232000291,ì›”ë“œë©”ë¥´ë””ì•™ì•„íŒŒíŠ¸,ê¹€í¬16A,241461015,ê¹€í¬16A,2223,NaN,NaN,NaN,NaN,NaN,NaN
28611,232000856,ì²­ë„ì•„íŒŒíŠ¸.ì€í–‰ì •ì…êµ¬,ê¹€í¬16A,241461015,ê¹€í¬16A,2224,NaN,NaN,NaN,NaN,NaN,NaN
28612,232000854,ë™ì¼í•˜ì´ë¹Œ,ê¹€í¬16A,241461015,ê¹€í¬16A,2225,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# set(result_bus_time["ë…¸ì„ ëª…_x"][result_bus_time["ê²½ë„"].isnull()])

In [60]:
# set(result_bus_time["ë…¸ì„ ëª…_x"][result_bus_time["ê²½ë„"].notnull()])

In [16]:
result_bus_time = result_bus_time[result_bus_time["ê²½ë„"].notnull()]

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì†Œëª…_x,ë…¸ì„ ëª…_x,ë…¸ì„ ë²ˆí˜¸,busRouteNm,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…_y,ìˆœë²ˆ,ARS_ID,ì •ë¥˜ì†Œëª…_y,ê²½ë„,ìœ„ë„
28,100000419,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1645,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1.0,1280.0,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),126.974399,37.576579
29,100000415,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,1119.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
30,100000416,ì²­ì™€ëŒ€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,1601.0,ì²­ì™€ëŒ€,126.973778,37.582747
31,100000417,ì¶˜ì¶”ë¬¸,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,1602.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
32,100000418,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,ì²­ì™€A01,100000020,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,1603.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
...,...,...,...,...,...,...,...,...,...,...,...,...
10974,124000457,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,ê°•ë™02,124900003,ê°•ë™02,0051,ê°•ë™02,73.0,25375.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,127.172374,37.570459
10975,124000458,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,ê°•ë™02,124900003,ê°•ë™02,0052,ê°•ë™02,74.0,25377.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,127.173789,37.571724
10976,124900130,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,ê°•ë™02,124900003,ê°•ë™02,0053,ê°•ë™02,75.0,25763.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
10977,124900128,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,ê°•ë™02,124900003,ê°•ë™02,0056,ê°•ë™02,76.0,25764.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
10978,124900111,ê°€ë˜ì—¬ìš¸,ê°•ë™02,124900003,ê°•ë™02,0058,ê°•ë™02,77.0,25760.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [17]:
result_bus_time = result_bus_time.sort_values(by=["ë…¸ì„ ë²ˆí˜¸", "ìˆœë²ˆ"])
result_bus_time = result_bus_time.drop(
    columns=["ARS_ID", "busRouteNm", "ì •ë¥˜ì†Œëª…_x", "ë…¸ì„ ëª…_x"])
result_bus_time = result_bus_time.rename(columns={"ì •ë¥˜ì†Œëª…_y": "ì •ë¥˜ì†Œëª…", "ë…¸ì„ ëª…_y": "ë…¸ì„ ëª…"})
result_bus_time = result_bus_time.reset_index(drop=True)

result_bus_time

,ì •ë¥˜ì¥ë²ˆí˜¸,ë…¸ì„ ë²ˆí˜¸,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì†Œëª…,ê²½ë„,ìœ„ë„
0,100000419,100000020,1645,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),1.0,ê²½ë³µê¶ì—­(íš¨ìë¡œì…êµ¬),126.974399,37.576579
1,100000415,100000020,1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
2,100000416,100000020,1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,ì²­ì™€ëŒ€,126.973778,37.582747
3,100000417,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
4,100000418,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
...,...,...,...,...,...,...,...,...
10484,124000457,124900003,0051,ê°•ë™02,73.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸7.6ë‹¨ì§€,127.172374,37.570459
10485,124000458,124900003,0052,ê°•ë™02,74.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸ìƒê°€,127.173789,37.571724
10486,124900130,124900003,0053,ê°•ë™02,75.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
10487,124900128,124900003,0056,ê°•ë™02,76.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
10488,124900111,124900003,0058,ê°•ë™02,77.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [18]:
result_bus_time.to_csv('result_bus_per_station.csv',
                      index=False, encoding="utf-8-sig");

### 2. routeì— í¬í•¨ëœ ë²„ìŠ¤ì—­ë§Œ ì¶”ë ¤ë‚´ê¸°

In [19]:
bus_station

,Unnamed: 0,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì¥ëª…,ìœ„ë„,ê²½ë„,ë„ì‹œì½”ë“œ,ë„ì‹œëª…,ê´€ë¦¬ë„ì‹œëª…
0,0,GGB100000001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬(ì¤‘),37.569783,126.987733,11,ì„œìš¸íŠ¹ë³„ì‹œ,ê²½ê¸°ë„
1,1,GGB100000002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›(ì¤‘),37.579233,126.996567,11,ì„œìš¸íŠ¹ë³„ì‹œ,ê²½ê¸°ë„
2,2,GGB100000003,ëª…ë¥œ3ê°€.ì„±ëŒ€ì…êµ¬(ì¤‘),37.582700,126.998333,11,ì„œìš¸íŠ¹ë³„ì‹œ,ê²½ê¸°ë„
3,3,GGB100000004,ì¢…ë¡œ2ê°€.ì‚¼ì¼êµ(ì¤‘),37.568683,126.987533,11,ì„œìš¸íŠ¹ë³„ì‹œ,ê²½ê¸°ë„
4,4,GGB100000005,í˜œí™”ë™ë¡œí„°ë¦¬.ì—¬ìš´í˜•í™œë™í„°(ì¤‘),37.586233,127.001750,11,ì„œìš¸íŠ¹ë³„ì‹œ,ê²½ê¸°ë„
...,...,...,...,...,...,...,...,...
62526,62526,SEB274121334,ì²­ê³„ì‚°(ê²½ìœ ),37.440191,127.060532,11,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸
62527,62527,SEB274199480,íŒêµIC(ê²½ìœ ),37.399988,127.100572,11,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸
62528,62528,SEB274199481,íŒêµIC(ê²½ìœ ),37.401549,127.098467,11,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸
62529,62529,SEB277103813,ì˜¤ë„ì‚¼ê±°ë¦¬(ê²½ìœ ),37.744490,126.728584,11,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸
62530,62530,SEB277103814,ë‚œë°©ê³µì‚¬(ê²½ìœ ),37.736113,126.718578,11,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸

In [24]:
bus_station = bus_station.drop(columns=["Unnamed: 0", "ë„ì‹œì½”ë“œ", "ë„ì‹œëª…", "ê´€ë¦¬ë„ì‹œëª…"])
bus_station["ì •ë¥˜ì¥ë²ˆí˜¸"] = bus_station["ì •ë¥˜ì¥ë²ˆí˜¸"].map(lambda x: x[3:])

bus_station

           ì •ë¥˜ì¥ë²ˆí˜¸              ì •ë¥˜ì¥ëª…         ìœ„ë„          ê²½ë„
0      100000001        ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬(ì¤‘)  37.569783  126.987733
1      100000002    ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›(ì¤‘)  37.579233  126.996567
2      100000003      ëª…ë¥œ3ê°€.ì„±ëŒ€ì…êµ¬(ì¤‘)  37.582700  126.998333
3      100000004       ì¢…ë¡œ2ê°€.ì‚¼ì¼êµ(ì¤‘)  37.568683  126.987533
4      100000005  í˜œí™”ë™ë¡œí„°ë¦¬.ì—¬ìš´í˜•í™œë™í„°(ì¤‘)  37.586233  127.001750
...          ...               ...        ...         ...
62526  274121334           ì²­ê³„ì‚°(ê²½ìœ )  37.440191  127.060532
62527  274199480          íŒêµIC(ê²½ìœ )  37.399988  127.100572
62528  274199481          íŒêµIC(ê²½ìœ )  37.401549  127.098467
62529  277103813         ì˜¤ë„ì‚¼ê±°ë¦¬(ê²½ìœ )  37.744490  126.728584
62530  277103814          ë‚œë°©ê³µì‚¬(ê²½ìœ )  37.736113  126.718578

[62531 rows x 4 columns]

In [49]:
bus_station_2 = bus_route_per_station.copy()
bus_station_2

,ë…¸ì„ ë²ˆí˜¸,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì¥ë²ˆí˜¸,ARS_ID,ì •ë¥˜ì†Œëª…,ê²½ë„,ìœ„ë„
0,100100585,N37,32,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
1,123000010,741,77,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
2,100100073,470,66,100000001,1001,ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬,126.987750,37.569765
3,100100036,171,11,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
4,100100034,162,14,100000002,1002,ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›,126.996566,37.579183
...,...,...,...,...,...,...,...,...
42060,100100415,6004,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42061,100100417,6008,36,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42062,100100418,6011,32,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42063,100100419,6012,31,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
42064,100100422,6015,1,161000612,92702,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505

In [50]:
bus_station_2 = bus_station_2.drop(columns=["ë…¸ì„ ëª…", "ìˆœë²ˆ", "ë…¸ì„ ë²ˆí˜¸", "ARS_ID"])
bus_station_2 = bus_station_2.rename(columns={"ì •ë¥˜ì†Œëª…": "ì •ë¥˜ì¥ëª…"})
bus_station_2 = bus_station_2.drop_duplicates()
bus_station_2 = bus_station_2.reset_index(drop=True)
bus_station_2

           ì •ë¥˜ì¥ë²ˆí˜¸             ì •ë¥˜ì¥ëª…          ê²½ë„         ìœ„ë„
0      100000001          ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬  126.987750  37.569765
1      100000002      ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›  126.996566  37.579183
2      100000003        ëª…ë¥œ3ê°€.ì„±ëŒ€ì…êµ¬  126.998340  37.582671
3      100000004         ì¢…ë¡œ2ê°€.ì‚¼ì¼êµ  126.987613  37.568579
4      100000005    í˜œí™”ë™ë¡œí„°ë¦¬.ì—¬ìš´í˜•í™œë™í„°  127.001744  37.586243
...          ...              ...         ...        ...
11267  161020572  ì¸ì²œê³µí•­T2-íšŒì „êµ¬ê°„(ê°€ìƒ)  126.429872  37.472970
11268  164020604         ì—°ìˆ˜JC(ê°€ìƒ)  126.630492  37.409260
11269  164020605         ì—°ìˆ˜JC(ê°€ìƒ)  126.630545  37.409618
11270  161000611        ì¸ì²œê³µí•­T2-3ì¸µ  126.434431  37.466457
11271  161000612       ì¸ì²œê³µí•­T2-B1ì¸µ  126.434018  37.466505

[11272 rows x 4 columns]

In [51]:
bus_station_concat = pd.concat([bus_station, bus_station_2])
bus_station_concat

           ì •ë¥˜ì¥ë²ˆí˜¸              ì •ë¥˜ì¥ëª…         ìœ„ë„          ê²½ë„
0      100000001        ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬(ì¤‘)  37.569783  126.987733
1      100000002    ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›(ì¤‘)  37.579233  126.996567
2      100000003      ëª…ë¥œ3ê°€.ì„±ëŒ€ì…êµ¬(ì¤‘)  37.582700  126.998333
3      100000004       ì¢…ë¡œ2ê°€.ì‚¼ì¼êµ(ì¤‘)  37.568683  126.987533
4      100000005  í˜œí™”ë™ë¡œí„°ë¦¬.ì—¬ìš´í˜•í™œë™í„°(ì¤‘)  37.586233  127.001750
...          ...               ...        ...         ...
11267  161020572   ì¸ì²œê³µí•­T2-íšŒì „êµ¬ê°„(ê°€ìƒ)  37.472970  126.429872
11268  164020604          ì—°ìˆ˜JC(ê°€ìƒ)  37.409260  126.630492
11269  164020605          ì—°ìˆ˜JC(ê°€ìƒ)  37.409618  126.630545
11270  161000611         ì¸ì²œê³µí•­T2-3ì¸µ  37.466457  126.434431
11271  161000612        ì¸ì²œê³µí•­T2-B1ì¸µ  37.466505  126.434018

[73803 rows x 4 columns]

In [52]:
bus_station_concat.drop_duplicates(subset='ì •ë¥˜ì¥ë²ˆí˜¸')

           ì •ë¥˜ì¥ë²ˆí˜¸              ì •ë¥˜ì¥ëª…         ìœ„ë„          ê²½ë„
0      100000001        ì¢…ë¡œ2ê°€ì‚¬ê±°ë¦¬(ì¤‘)  37.569783  126.987733
1      100000002    ì°½ê²½ê¶.ì„œìš¸ëŒ€í•™êµë³‘ì›(ì¤‘)  37.579233  126.996567
2      100000003      ëª…ë¥œ3ê°€.ì„±ëŒ€ì…êµ¬(ì¤‘)  37.582700  126.998333
3      100000004       ì¢…ë¡œ2ê°€.ì‚¼ì¼êµ(ì¤‘)  37.568683  126.987533
4      100000005  í˜œí™”ë™ë¡œí„°ë¦¬.ì—¬ìš´í˜•í™œë™í„°(ì¤‘)  37.586233  127.001750
...          ...               ...        ...         ...
11265  164000616           ì‰ë¼í†¤ì¸ì²œí˜¸í…”  37.389507  126.643765
11266  161000333            ê³µí•­ì…êµ¬JC  37.505653  126.508723
11267  161020572   ì¸ì²œê³µí•­T2-íšŒì „êµ¬ê°„(ê°€ìƒ)  37.472970  126.429872
11268  164020604          ì—°ìˆ˜JC(ê°€ìƒ)  37.409260  126.630492
11269  164020605          ì—°ìˆ˜JC(ê°€ìƒ)  37.409618  126.630545

[54897 rows x 4 columns]

In [53]:
temp_station = result_bus_time.copy()
temp_station = temp_station.drop(columns=["ë…¸ì„ ë²ˆí˜¸", "ë§‰ì°¨ì‹œê°„", "ë…¸ì„ ëª…", "ìˆœë²ˆ", "ì •ë¥˜ì†Œëª…",	"ê²½ë„"])
temp_station

           ì •ë¥˜ì¥ë²ˆí˜¸         ìœ„ë„
0      100000419  37.576579
1      100000415  37.578797
2      100000416  37.582747
3      100000417  37.582911
4      100000418  37.579532
...          ...        ...
10484  124000457  37.570459
10485  124000458  37.571724
10486  124900130  37.572596
10487  124900128  37.574029
10488  124900111  37.576564

[10489 rows x 2 columns]

In [54]:
temp_station = temp_station.drop_duplicates()
temp_station = temp_station.drop(columns=["ìœ„ë„"])

temp_station

           ì •ë¥˜ì¥ë²ˆí˜¸
0      100000419
1      100000415
2      100000416
3      100000417
4      100000418
...          ...
10469  124900120
10480  124900067
10486  124900130
10487  124900128
10488  124900111

[5636 rows x 1 columns]

In [55]:
temp_station = temp_station.astype({"ì •ë¥˜ì¥ë²ˆí˜¸": int})
bus_station_concat = bus_station.astype({"ì •ë¥˜ì¥ë²ˆí˜¸": int})

In [56]:
result_bus_station = pd.merge(
    temp_station, bus_station_concat, on="ì •ë¥˜ì¥ë²ˆí˜¸", how="left")
result_bus_station

          ì •ë¥˜ì¥ë²ˆí˜¸             ì •ë¥˜ì¥ëª…         ìœ„ë„          ê²½ë„
0     100000419              NaN        NaN         NaN
1     100000415          êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046
2     100000416              ì²­ì™€ëŒ€  37.582747  126.973778
3     100000417              ì¶˜ì¶”ë¬¸  37.582911  126.979731
4     100000418      ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500
...         ...              ...        ...         ...
8123  124900120  ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›  37.558546  127.151715
8124  124900067    ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™  37.565064  127.175907
8125  124900130        ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€  37.572596  127.176109
8126  124900128          ê°•ë¹›ì´ˆ.ì¤‘í•™êµ  37.574029  127.172385
8127  124900111             ê°€ë˜ì—¬ìš¸  37.576564  127.169013

[8128 rows x 4 columns]

In [57]:
result_bus_station.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8128 entries, 0 to 8127
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì •ë¥˜ì¥ë²ˆí˜¸   8128 non-null   int32
 1   ì •ë¥˜ì¥ëª…    7959 non-null   object
 2   ìœ„ë„      7959 non-null   float64
 3   ê²½ë„      7959 non-null   float64
dtypes: float64(2), int32(1), object(1)
memory usage: 285.8+ KB

In [58]:
result_bus_station = result_bus_station.dropna()
result_bus_station

          ì •ë¥˜ì¥ë²ˆí˜¸             ì •ë¥˜ì¥ëª…         ìœ„ë„          ê²½ë„
1     100000415          êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046
2     100000416              ì²­ì™€ëŒ€  37.582747  126.973778
3     100000417              ì¶˜ì¶”ë¬¸  37.582911  126.979731
4     100000418      ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500
5     108000382   ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì )  37.662829  127.011966
...         ...              ...        ...         ...
8123  124900120  ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›  37.558546  127.151715
8124  124900067    ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™  37.565064  127.175907
8125  124900130        ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€  37.572596  127.176109
8126  124900128          ê°•ë¹›ì´ˆ.ì¤‘í•™êµ  37.574029  127.172385
8127  124900111             ê°€ë˜ì—¬ìš¸  37.576564  127.169013

[7959 rows x 4 columns]

In [61]:
result_bus_station.to_csv('result_bus_station.csv',
                          index=False, encoding="utf-8-sig")

In [67]:
result_bus_time_2 = pd.merge(result_bus_station, result_bus_time,  on='ì •ë¥˜ì¥ë²ˆí˜¸', how='left')

result_bus_time_2

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì¥ëª…,ìœ„ë„_x,ê²½ë„_x,ë…¸ì„ ë²ˆí˜¸,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì†Œëª…,ê²½ë„_y,ìœ„ë„_y
0,100000415,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,37.578797,126.974046,100000020,1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
1,100000416,ì²­ì™€ëŒ€,37.582747,126.973778,100000020,1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,ì²­ì™€ëŒ€,126.973778,37.582747
2,100000417,ì¶˜ì¶”ë¬¸,37.582911,126.979731,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
3,100000418,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,37.579532,126.979500,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
4,108000382,ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì ),37.662829,127.011966,100100014,2320,109,1.0,ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì ),127.011966,37.662829
...,...,...,...,...,...,...,...,...,...,...,...
15352,124900120,ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›,37.558546,127.151715,124900003,0031,ê°•ë™02,58.0,ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›,127.151715,37.558546
15353,124900067,ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™,37.565064,127.175907,124900003,0045,ê°•ë™02,69.0,ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™,127.175907,37.565064
15354,124900130,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,37.572596,127.176109,124900003,0053,ê°•ë™02,75.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
15355,124900128,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,37.574029,127.172385,124900003,0056,ê°•ë™02,76.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
15356,124900111,ê°€ë˜ì—¬ìš¸,37.576564,127.169013,124900003,0058,ê°•ë™02,77.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [68]:
result_bus_time_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15357 entries, 0 to 15356
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì •ë¥˜ì¥ë²ˆí˜¸   15357 non-null  int32
 1   ì •ë¥˜ì¥ëª…    15357 non-null  object
 2   ìœ„ë„_x    15357 non-null  float64
 3   ê²½ë„_x    15357 non-null  float64
 4   ë…¸ì„ ë²ˆí˜¸    15357 non-null  int64
 5   ë§‰ì°¨ì‹œê°„    15357 non-null  object
 6   ë…¸ì„ ëª…     15357 non-null  object
 7   ìˆœë²ˆ      15357 non-null  float64
 8   ì •ë¥˜ì†Œëª…    15357 non-null  object
 9   ê²½ë„_y    15357 non-null  float64
 10  ìœ„ë„_y    15357 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.3+ MB

In [69]:
result_bus_time_2.to_csv('result_bus_per_station.csv',
                           index=False, encoding="utf-8-sig")

### 3. ë²„ìŠ¤ ë§‰ì°¨ ì‹œê°„í‘œ ì¶”ë ¤ë‚´ê¸°

In [78]:
bus_term = pd.read_csv('../bus/bus_term.csv', encoding='cp949')
bus_term = bus_term.rename(columns={
                           "route_name": "ë…¸ì„ ëª…", "route_id": "ë…¸ì„ ë²ˆí˜¸", "day": "í‰ì¼", "sat": "í† ìš”ì¼", "sun_holiday": "íœ´ì¼"})

bus_term

              ë…¸ì„ ëª…       ë…¸ì„ ë²ˆí˜¸    í‰ì¼   í† ìš”ì¼    íœ´ì¼
0          TOUR11  100000017  40.0  40.0  40.0
1          TOUR12  100000018  65.0  66.0  66.0
2    ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰)  100000020  15.0   NaN   NaN
3              01  100100001   8.0   9.0   9.0
4             101  100100006  10.0  14.0  14.0
..            ...        ...   ...   ...   ...
661           342  124000038  11.0  12.0  14.0
662          3323  124000039  15.0  20.0  20.0
663          ê°•ë™05  124900001  12.0  14.0  14.0
664          ê°•ë™01  124900002   9.0  11.0  13.0
665          ê°•ë™02  124900003  16.0  19.0  19.0

[666 rows x 5 columns]

In [86]:
temp_time = result_bus_time.copy()
temp_time = temp_time.drop(
    columns=["ì •ë¥˜ì¥ë²ˆí˜¸", "ë§‰ì°¨ì‹œê°„", "ìˆœë²ˆ", "ì •ë¥˜ì†Œëª…", "ê²½ë„", "ìœ„ë„"])
temp_time = temp_time.drop_duplicates()
temp_time = temp_time.reset_index(drop=True)

temp_time

          ë…¸ì„ ë²ˆí˜¸           ë…¸ì„ ëª…
0    100000020  ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰)
1    100100014           109
2    100100017           120
3    100100046           270
4    100100047           271
..         ...           ...
174  124000038           342
175  124000039          3323
176  124900001          ê°•ë™05
177  124900002          ê°•ë™01
178  124900003          ê°•ë™02

[179 rows x 2 columns]

In [90]:
result_bus_term = pd.merge(temp_time, bus_term, on=["ë…¸ì„ ë²ˆí˜¸"], how="left")

result_bus_term

          ë…¸ì„ ë²ˆí˜¸         ë…¸ì„ ëª…_x         ë…¸ì„ ëª…_y    í‰ì¼   í† ìš”ì¼    íœ´ì¼
0    100000020  ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰)  ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰)  15.0   NaN   NaN
1    100100014           109           109  14.0  14.0  16.0
2    100100017           120           120   6.0  10.0  10.0
3    100100046           270           270  10.0  11.0  12.0
4    100100047           271           271   6.0  10.0  10.0
..         ...           ...           ...   ...   ...   ...
174  124000038           342           342  11.0  12.0  14.0
175  124000039          3323          3323  15.0  20.0  20.0
176  124900001          ê°•ë™05          ê°•ë™05  12.0  14.0  14.0
177  124900002          ê°•ë™01          ê°•ë™01   9.0  11.0  13.0
178  124900003          ê°•ë™02          ê°•ë™02  16.0  19.0  19.0

[179 rows x 6 columns]

In [91]:
result_bus_term.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 178
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë…¸ì„ ë²ˆí˜¸    179 non-null    int64
 1   ë…¸ì„ ëª…_x   179 non-null    object
 2   ë…¸ì„ ëª…_y   174 non-null    object
 3   í‰ì¼      174 non-null    float64
 4   í† ìš”ì¼     167 non-null    float64
 5   íœ´ì¼      167 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 9.8+ KB

In [92]:
result_bus_term[result_bus_term["ë…¸ì„ ëª…_y"].isnull()]

          ë…¸ì„ ë²ˆí˜¸  ë…¸ì„ ëª…_x ë…¸ì„ ëª…_y  í‰ì¼  í† ìš”ì¼  íœ´ì¼
34   100100417   6008   NaN NaN  NaN NaN
79   106000004   8001   NaN NaN  NaN NaN
131  115000009  N6002   NaN NaN  NaN NaN
172  124000014   6007   NaN NaN  NaN NaN
173  124000015  N6001   NaN NaN  NaN NaN

In [93]:
# ìˆ˜ë™ ì±„ìš°ê¸° 

result_bus_term.loc[34] = [100100417, 6008, np.NaN, 70, 70, 70]
result_bus_term = result_bus_term.drop([79, 172])
result_bus_term.loc[131] = [115000009, 'N6002', np.NaN, 20, 20, 20]
result_bus_term.loc[173] = [100100417, 'N6001', np.NaN, 20, 20, 20]

In [94]:
result_bus_term = result_bus_term.drop(columns=["ë…¸ì„ ëª…_y"])
result_bus_term = result_bus_term.rename(columns={"ë…¸ì„ ëª…_x": "ë…¸ì„ ëª…"})

result_bus_term.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 178
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë…¸ì„ ë²ˆí˜¸    177 non-null    int64
 1   ë…¸ì„ ëª…     177 non-null    object
 2   í‰ì¼      177 non-null    float64
 3   í† ìš”ì¼     170 non-null    float64
 4   íœ´ì¼      170 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 12.4+ KB

In [95]:
result_bus_term[result_bus_term["í† ìš”ì¼"].isnull()]

# í™•ì¸ ê²°ê³¼, ì£¼ë§ì— ìš´í–‰í•˜ì§€ ì•ŠëŠ” ë…¸ì„ ë“¤

          ë…¸ì„ ë²ˆí˜¸           ë…¸ì„ ëª…    í‰ì¼  í† ìš”ì¼  íœ´ì¼
0    100000020  ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰)  15.0  NaN NaN
97   110000004          8146   5.0  NaN NaN
98   110000005          8101   7.0  NaN NaN
107  111000018          8701  10.0  NaN NaN
114  112000003          8773  43.0  NaN NaN
120  113000003          8762  16.0  NaN NaN
140  116000005          8561  11.0  NaN NaN

In [97]:
result_bus_term.to_csv("result_bus_term.csv",
                       index=False, encoding="utf-8-sig")

In [100]:
result_bus_time_2[(result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] ==
                   106000004) | (result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] == 124000014)]

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì¥ëª…,ìœ„ë„_x,ê²½ë„_x,ë…¸ì„ ë²ˆí˜¸,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì†Œëª…,ê²½ë„_y,ìœ„ë„_y
1890,101000054,ì¶©ë¬´ë¡œì—­2ë²ˆì¶œêµ¬.ëŒ€í•œê·¹ì¥ì•,37.561223,126.994917,106000004,0000,8001,2.0,ì¶©ë¬´ë¡œì—­2ë²ˆì¶œêµ¬.ëŒ€í•œê·¹ì¥ì•,126.994918,37.561223
7383,161000612,ì¸ì²œê³µí•­B1ì¸µì…êµ­ì¥(T2),37.468917,126.434333,124000014,2300,6007,1.0,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
7415,161000612,ì¸ì²œê³µí•­T2-B1ì¸µ,37.469306,126.434850,124000014,2300,6007,1.0,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
7447,161000612,ì¸ì²œê³µí•­T2-B1ì¸µ,37.466505,126.434018,124000014,2300,6007,1.0,ì¸ì²œê³µí•­T2-B1ì¸µ,126.434018,37.466505
7475,129000083,ì¸ì²œêµ­ì œê³µí•­,37.448583,126.451483,124000014,2320,6007,2.0,ì¸ì²œê³µí•­T1-1ì¸µ,126.451311,37.448799
7507,129000083,ì¸ì²œê³µí•­T1-1ì¸µ,37.448799,126.451310,124000014,2320,6007,2.0,ì¸ì²œê³µí•­T1-1ì¸µ,126.451311,37.448799
7580,161000325,ì¸ì²œê³µí•­T1-3ì¸µ,37.448483,126.450983,124000014,0050,6007,41.0,ì¸ì²œê³µí•­T1-3ì¸µ,126.450156,37.445732
7608,161000325,ì¸ì²œê³µí•­T1-3ì¸µ,37.448535,126.450987,124000014,0050,6007,41.0,ì¸ì²œê³µí•­T1-3ì¸µ,126.450156,37.445732
7636,161000325,ì¸ì²œê³µí•­T1-3ì¸µ,37.445732,126.450156,124000014,0050,6007,41.0,ì¸ì²œê³µí•­T1-3ì¸µ,126.450156,37.445732
7664,161000611,ì¸ì²œê³µí•­3ì¸µì¶œêµ­ì¥(T2),37.468750,126.434550,124000014,0102,6007,42.0,ì¸ì²œê³µí•­T2-3ì¸µ,126.434431,37.466457
7692,161000611,ì¸ì²œê³µí•­T2-3ì¸µ,37.469258,126.435262,124000014,0102,6007,42.0,ì¸ì²œê³µí•­T2-3ì¸µ,126.434431,37.466457
7720,161000611,ì¸ì²œê³µí•­T2-3ì¸µ,37.466457,126.434431,124000014,0102,6007,42.0,ì¸ì²œê³µí•­T2-3ì¸µ,126.434431,37.466457
11464,101000331,ë‚¨ì‚°ì˜ˆì¥ë²„ìŠ¤í™˜ìŠ¹ì£¼ì°¨ì¥,37.559372,126.989149,106000004,0000,8001,1.0,ë‚¨ì‚°ì˜ˆì¥ë²„ìŠ¤í™˜ìŠ¹ì£¼ì°¨ì¥,126.989149,37.559372
11465,101000331,ë‚¨ì‚°ì˜ˆì¥ë²„ìŠ¤í™˜ìŠ¹ì£¼ì°¨ì¥,37.559372,126.989149,106000004,0000,8001,8.0,ë‚¨ì‚°ì˜ˆì¥ë²„ìŠ¤í™˜ìŠ¹ì£¼ì°¨ì¥,126.989149,37.559372
11466,101000117,ë™ëŒ€ì…êµ¬ì—­.ì¥ì¶©ë™,37.558134,127.005386,106000004,0003,8001,3.0,ë™ëŒ€ì…êµ¬ì—­.ì¥ì¶©ë™,127.005386,37.558134
11467,101000106,êµ­ë¦½ê·¹ì¥.ë°˜ì–€íŠ¸ë¦¬í˜¸í…”,37.551685,127.000947,106000004,0005,8001,4.0,êµ­ë¦½ê·¹ì¥.ë°˜ì–€íŠ¸ë¦¬í˜¸í…”,127.000947,37.551685
11468,102000226,ë‚¨ì‚°ì„œìš¸íƒ€ì›Œ,37.551245,126.990756,106000004,0009,8001,5.0,ë‚¨ì‚°ì„œìš¸íƒ€ì›Œ,126.990756,37.551245
11469,102000316,ë‚¨ì‚°ë„ì„œê´€,37.552344,126.981846,106000004,0012,8001,6.0,ë‚¨ì‚°ë„ì„œê´€,126.981846,37.552344
13957,118000536,íƒ€ì„ìŠ¤í€˜ì–´,37.518037,126.904258,124000014,0002,6007,22.0,íƒ€ì„ìŠ¤í€˜ì–´,126.904258,37.518037
14038,118000198,ìœ ì§„íˆ¬ìì¦ê¶Œ,37.524850,126.927683,124000014,2356,6007,19.0,ìœ ì§„íˆ¬ìì¦ê¶Œ,126.927090,37.525407
14040,118000198,ìœ ì§„íˆ¬ìì¦ê¶Œ.íŒŒì´ë‚¸ì…œë‰´ìŠ¤ì‹ ë¬¸,37.525420,126.927120,124000014,2356,6007,19.0,ìœ ì§„íˆ¬ìì¦ê¶Œ,126.927090,37.525407
14042,118000198,ìœ ì§„íˆ¬ìì¦ê¶Œ,37.525407,126.927090,124000014,2356,6007,19.0,ìœ ì§„íˆ¬ìì¦ê¶Œ,126.927090,37.525407
14351,118000074,ì‚¼ë¶€ì•„íŒŒíŠ¸,37.525100,126.929983,124000014,0006,6007,25.0,ì‚¼ë¶€ì•„íŒŒíŠ¸,126.930117,37.525126
14353,118000074,ì‚¼ë¶€ì•„íŒŒíŠ¸,37.525126,126.930117,124000014,0006,6007,25.0,ì‚¼ë¶€ì•„íŒŒíŠ¸,126.930117,37.525126
14355,118000055,ì—¬ì˜ë‚˜ë£¨ì—­,37.527283,126.932350,124000014,0007,6007,26.0,ì—¬ì˜ë‚˜ë£¨ì—­,126.932024,37.527388
14357,118000055,ì—¬ì˜ë‚˜ë£¨ì—­,37.527388,126.932024,124000014,0007,6007,26.0,ì—¬ì˜ë‚˜ë£¨ì—­,126.932024,37.527388
15074,118000054,ì—¬ì˜ë‚˜ë£¨ì—­,37.527333,126.931517,124000014,2355,6007,17.0,ì—¬ì˜ë‚˜ë£¨ì—­,126.931621,37.527304
15075,118000054,ì—¬ì˜ë‚˜ë£¨ì—­,37.527304,126.931621,124000014,2355,6007,17.0,ì—¬ì˜ë‚˜ë£¨ì—­,126.931621,37.527304
15076,118000006,ì˜ë“±í¬ì—­(ì¤‘),37.516650,126.907117,124000014,0000,6007,21.0,ì˜ë“±í¬ì—­,126.907030,37.516588
15077,118000006,ì˜ë“±í¬ì—­,37.516588,126.907030,124000014,0000,6007,21.0,ì˜ë“±í¬ì—­,126.907030,37.516588

In [102]:
result_bus_time_2 = result_bus_time_2[(result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] !=
                   106000004) & (result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] != 124000014)]
result_bus_time_2

,ì •ë¥˜ì¥ë²ˆí˜¸,ì •ë¥˜ì¥ëª…,ìœ„ë„_x,ê²½ë„_x,ë…¸ì„ ë²ˆí˜¸,ë§‰ì°¨ì‹œê°„,ë…¸ì„ ëª…,ìˆœë²ˆ,ì •ë¥˜ì†Œëª…,ê²½ë„_y,ìœ„ë„_y
0,100000415,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,37.578797,126.974046,100000020,1648,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),2.0,êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€,126.974046,37.578797
1,100000416,ì²­ì™€ëŒ€,37.582747,126.973778,100000020,1649,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),3.0,ì²­ì™€ëŒ€,126.973778,37.582747
2,100000417,ì¶˜ì¶”ë¬¸,37.582911,126.979731,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),4.0,ì¶˜ì¶”ë¬¸,126.979731,37.582911
3,100000418,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,37.579532,126.979500,100000020,1650,ì²­ì™€ëŒ€A01(ììœ¨ì£¼í–‰),5.0,ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€,126.979500,37.579532
4,108000382,ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì ),37.662829,127.011966,100100014,2320,109,1.0,ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì ),127.011966,37.662829
...,...,...,...,...,...,...,...,...,...,...,...
15352,124900120,ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›,37.558546,127.151715,124900003,0031,ê°•ë™02,58.0,ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›,127.151715,37.558546
15353,124900067,ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™,37.565064,127.175907,124900003,0045,ê°•ë™02,69.0,ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™,127.175907,37.565064
15354,124900130,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,37.572596,127.176109,124900003,0053,ê°•ë™02,75.0,ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€,127.176109,37.572596
15355,124900128,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,37.574029,127.172385,124900003,0056,ê°•ë™02,76.0,ê°•ë¹›ì´ˆ.ì¤‘í•™êµ,127.172385,37.574029
15356,124900111,ê°€ë˜ì—¬ìš¸,37.576564,127.169013,124900003,0058,ê°•ë™02,77.0,ê°€ë˜ì—¬ìš¸,127.169013,37.576564

In [103]:
result_bus_time_2[(result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] ==
                   106000004) | (result_bus_time_2["ë…¸ì„ ë²ˆí˜¸"] == 124000014)]

Empty DataFrame
Columns: [ì •ë¥˜ì¥ë²ˆí˜¸, ì •ë¥˜ì¥ëª…, ìœ„ë„_x, ê²½ë„_x, ë…¸ì„ ë²ˆí˜¸, ë§‰ì°¨ì‹œê°„, ë…¸ì„ ëª…, ìˆœë²ˆ, ì •ë¥˜ì†Œëª…, ê²½ë„_y, ìœ„ë„_y]
Index: []

In [104]:
result_bus_time_2.to_csv("result_bus_per_station.csv", index=False, encoding="utf-8-sig")

### 3. ëª¨ë“  ì—­ë°ì´í„°ì— geohash ì ìš©

In [73]:
train_station = train_station.rename(columns={"ì—­ì‚¬ëª…": "ì—­ì´ë¦„", "ì—­ì½”ë“œ": "ì—­ë²ˆí˜¸"})
train_station = train_station.drop(columns=["ì£¼ì†Œ", "ë…¸ì„ ëª…"])

train_station

         ì—­ì´ë¦„         ìœ„ë„          ê²½ë„     ì—­ë²ˆí˜¸
0        ê¹Œì¹˜ìš¸  37.506130  126.810930   751.0
1    ë¶€ì²œì¢…í•©ìš´ë™ì¥  37.505020  126.796610   752.0
2         ì¶˜ì˜  37.503650  126.788280   753.0
3        ì‹ ì¤‘ë™  37.502820  126.775660   754.0
4       ë¶€ì²œì‹œì²­  37.504440  126.763640   755.0
..       ...        ...         ...     ...
643       í•œë‚¨  37.529430  127.009169   196.0
644       ì˜¥ìˆ˜  37.540446  127.018672   195.0
645       ì‘ë´‰  37.549946  127.034538   193.0
646      ê¹Œì¹˜ì‚°  37.531394  126.846987   264.0
647      ê´‘ìš´ëŒ€  37.623986  127.061956  1809.0

[648 rows x 4 columns]

In [108]:
result_bus_station = result_bus_station.reset_index(drop=True)
result_bus_station = result_bus_station.rename(columns={"ì •ë¥˜ì¥ëª…": "ì—­ì´ë¦„", "ì •ë¥˜ì¥ë²ˆí˜¸": "ì—­ë²ˆí˜¸"})

result_bus_station

            ì—­ë²ˆí˜¸              ì—­ì´ë¦„         ìœ„ë„          ê²½ë„
0     100000415          êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046
1     100000416              ì²­ì™€ëŒ€  37.582747  126.973778
2     100000417              ì¶˜ì¶”ë¬¸  37.582911  126.979731
3     100000418      ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500
4     108000382   ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì )  37.662829  127.011966
...         ...              ...        ...         ...
7954  124900120  ê³ ë•1ë™ì£¼ë¯¼ì„¼í„°.ë‘ë ˆê·¼ë¦°ê³µì›  37.558546  127.151715
7955  124900067    ê°•ì¼ë¦¬ë²„íŒŒí¬6ë‹¨ì§€610ë™  37.565064  127.175907
7956  124900130        ê°•ë™ë¦¬ë²„ìŠ¤íŠ¸8ë‹¨ì§€  37.572596  127.176109
7957  124900128          ê°•ë¹›ì´ˆ.ì¤‘í•™êµ  37.574029  127.172385
7958  124900111             ê°€ë˜ì—¬ìš¸  37.576564  127.169013

[7959 rows x 4 columns]

In [109]:
result_all_station = pd.concat([result_bus_station, train_station])
result_all_station

             ì—­ë²ˆí˜¸             ì—­ì´ë¦„         ìœ„ë„          ê²½ë„
0    100000415.0         êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046
1    100000416.0             ì²­ì™€ëŒ€  37.582747  126.973778
2    100000417.0             ì¶˜ì¶”ë¬¸  37.582911  126.979731
3    100000418.0     ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500
4    108000382.0  ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì )  37.662829  127.011966
..           ...             ...        ...         ...
643        196.0              í•œë‚¨  37.529430  127.009169
644        195.0              ì˜¥ìˆ˜  37.540446  127.018672
645        193.0              ì‘ë´‰  37.549946  127.034538
646        264.0             ê¹Œì¹˜ì‚°  37.531394  126.846987
647       1809.0             ê´‘ìš´ëŒ€  37.623986  127.061956

[8607 rows x 4 columns]

In [115]:
import geohash2

In [117]:
result_all_station["geohash"] = np.NaN
result_all_station = result_all_station.reset_index(drop=True)

result_all_station

              ì—­ë²ˆí˜¸             ì—­ì´ë¦„         ìœ„ë„          ê²½ë„  geohash
0     100000415.0         êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046      NaN
1     100000416.0             ì²­ì™€ëŒ€  37.582747  126.973778      NaN
2     100000417.0             ì¶˜ì¶”ë¬¸  37.582911  126.979731      NaN
3     100000418.0     ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500      NaN
4     108000382.0  ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì )  37.662829  127.011966      NaN
...           ...             ...        ...         ...      ...
8602        196.0              í•œë‚¨  37.529430  127.009169      NaN
8603        195.0              ì˜¥ìˆ˜  37.540446  127.018672      NaN
8604        193.0              ì‘ë´‰  37.549946  127.034538      NaN
8605        264.0             ê¹Œì¹˜ì‚°  37.531394  126.846987      NaN
8606       1809.0             ê´‘ìš´ëŒ€  37.623986  127.061956      NaN

[8607 rows x 5 columns]

In [118]:
for i in range(len(result_all_station)):
    result_all_station.loc[i, "geohash"] = geohash2.encode(
        result_all_station.loc[i, "ìœ„ë„"], result_all_station.loc[i, "ê²½ë„"], precision=7)

In [119]:
result_all_station

              ì—­ë²ˆí˜¸             ì—­ì´ë¦„         ìœ„ë„          ê²½ë„  geohash
0     100000415.0         êµ­ë¦½ê³ ê¶ë°•ë¬¼ê´€  37.578797  126.974046  wydmc35
1     100000416.0             ì²­ì™€ëŒ€  37.582747  126.973778  wydmc3e
2     100000417.0             ì¶˜ì¶”ë¬¸  37.582911  126.979731  wydmc3z
3     100000418.0     ê²½ë³µê¶.êµ­ë¦½ë¯¼ì†ë°•ë¬¼ê´€  37.579532  126.979500  wydmc3p
4     108000382.0  ì˜ì‹ ì—¬ê°ì°¨ê³ ì§€(ìš°ì´ë™ì¢…ì )  37.662829  127.011966  wydq60r
...           ...             ...        ...         ...      ...
8602        196.0              í•œë‚¨  37.529430  127.009169  wydmd0j
8603        195.0              ì˜¥ìˆ˜  37.540446  127.018672  wydmd6h
8604        193.0              ì‘ë´‰  37.549946  127.034538  wydmdez
8605        264.0             ê¹Œì¹˜ì‚°  37.531394  126.846987  wydjw2r
8606       1809.0             ê´‘ìš´ëŒ€  37.623986  127.061956  wydq535

[8607 rows x 5 columns]

In [120]:
result_all_station.to_csv("result_all_station.csv",
                          index=False, encoding="utf-8-sig")

In [2]:
result_all_station = pd.read_csv("result_all_station.csv")

In [4]:
result_train = result_all_station[result_all_station["stat_id"] < 100000000]
result_bus = result_all_station[result_all_station["stat_id"] >= 100000000]

In [8]:
result_train
result_train.to_csv("result_all_train_station.csv",
                    index=False, encoding="utf-8-sig")

In [9]:
result_bus
result_bus.to_csv("result_all_bus_station.csv",
                    index=False, encoding="utf-8-sig")